<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>CogentCA</h4>
                        <ul>
                            <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> About Us</a></li>
                            <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Customer Reviews</a></li>
                            <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Career</a></li>
                            <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col">
                            <h4>Our Popular Services</h4>
                        <ul>
                            <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Company Formation</a></li>
                            <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Trademark</a></li>
                            <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> GST Registration</a></li>
                            <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> ISO Certification</a></li>
                        </ul>


                    </div>
                    <div class="col">

                                    <h4>Terms &amp; Policy</h4>
                                    <ul>
                    <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Terms &amp; Conditions</a></li>
                    <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Privacy Policy</a></li>
                    <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Refund Policy</a></li>
                    <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Confidentiality Policy</a></li>
                                        </ul>
                                
                    </div>
                    <div class="col">
                    <h4>Connect With Us</h4>
                <ul>
                <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Live Chat</a></li>
                <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Partner with us</a></li>
                <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Sitemap</a></li>
                <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Suggestion and Feedback</a></li>
                    </ul>
                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>