.container-fluid{
    background: #031946;
}

.container-fluid .row .col{
    padding: 10px 0 20px 10px;
}

h4{
    color: #ffffff;
    text-transform: uppercase;
}

.col.nospace{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


a{
    color: #000000;
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 13px;
}

ul li a{
    color: #666666 !important;
}

ul li a:hover{
    color: #ffffff !important;
}

h4{
    font-size: 20px;
}

.link-text h2{
    color: #000000;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.link-text li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.link-text li:last-child{
    margin-right: 0;
}

.link-text li .fa{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: solid 1px #cccccc;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 18px;
}

.link-text li .fa:hover{
    color: #666666;
    background: #ffcc33;
}

.margin-auto{
    margin-left: auto;
    margin-right: auto;
    width: 261px;
}

.footer{
    display: table;
    width: 100%;
}

.footer .footer-left{
    font-size: 40px;
    line-height: 0;
}

.footer .footer-left .fa{
    margin-right: 10px;
    color: #ffcc33;
}

.footer .footer-left, .footer .footer-body{
    display: table-cell;
    vertical-align: top;
}

.footer .footer-heading{
    color: #000000 !important;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width:480px){
    .col.mobile{
        display: block;
        width:100%;
        flex-basis: unset;
    }

    .footer-body{
        vertical-align: middle !important;
        text-align: left !important;
    }

    .footer-body h4{
        text-align: left !important;
    }

    .footer-left{
        width:50px !important;
    }
}


/* ***************************** */


.main{
    height: 40px; 
    width:  300px; 
    background: #ffffff;
    position:fixed;
    bottom: 0vw;
    right: 30px;
    z-index: 99999;
    border:solid 1px #cccccc;
}


.main.active{
    height: 400px; 
    overflow: hidden;
}


.main .col{
    background: #cccccc;
    cursor: pointer;
}

.col p{
    color: #000000;;
    margin-bottom: 0;
    padding: 10px;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

.fa{
    cursor: pointer;
}

.chatbox{
    height: 353px;
    vertical-align: bottom;
    position: relative;
    overflow-y: auto;
}

.chatbox .textbox{
position: absolute;
bottom: 0;
width: 100%;
}