<!-- <div class="main">
    <div class="row">
        <div class="col">
            <p>ChatBot</p>  
        </div>
    </div>
<div class="chatbox"><div class="textbox">
<app-chat-dialog></app-chat-dialog>
</div>
</div>
</div> -->

<div class="container">
   
        <div class="row">
                <div class="col link-text">
                    <br /><br />            
                    <h2 class="text-black">CONNECT WITH US</h2>
                                <ul class="margin-auto">
                                    <li><a href="https://twitter.com/cogentca/"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/cogentca7/"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/cogentca/"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="https://www.facebook.com/CACOGENT/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCfvnW-81lIkdnagmrXOqG_w?view_as=subscriber/"><i class="fa fa-youtube"></i></a></li>
                                    <!-- <li><a routerLink=""><i class="fa fa-google-plus"></i></a></li> -->
                                 </ul>
                           
                </div>
            </div>
            <div class="row mt-5">
                    <div class="col mobile"><div class="footer">
                            <div class="footer-left">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="footer-body">
                                <h4 class="footer-heading text-center">ASSURED CUSTOMER SATISFACTION</h4>                        
                            </div>
                        </div></div>
                    <div class="col mobile"><div class="footer">
                            <div class="footer-left">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <div class="footer-body">
                                <h4 class="footer-heading text-center">CLIENT DATA CONFIDENTIALITY</h4>                        
                            </div>
                        </div></div>
                    <div class="col mobile"><div class="footer">
                            <div class="footer-left">
                                <i class="fa fa-money" aria-hidden="true"></i>
                            </div>
                            <div class="footer-body">
                                <h4 class="footer-heading text-center">NO HIDDEN <br>FEE</h4>                        
                            </div>
                        </div></div>
                    <div class="col mobile"><div class="footer">
                            <div class="footer-left">
                                <i class="fa fa-laptop" aria-hidden="true"></i>
                            </div>
                            <div class="footer-body">
                                <h4 class="footer-heading text-center">SECURE ONLINE PAYMENT</h4>                        
                            </div>
                        </div></div>
                </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container">
                
                <div class="row">
                    <div class="col mobile">
                        <h4>CogentCA</h4>
                        <ul>
                            <li><a routerLink="aboutus"><i class="fa fa-chevron-right" aria-hidden="true"></i> About Us</a></li>
                            <!-- <li><a routerLink="customerreview"><i class="fa fa-chevron-right" aria-hidden="true"></i> Customer Reviews</a></li> -->
                            <li><a routerLink="career"><i class="fa fa-chevron-right" aria-hidden="true"></i> Career</a></li>
                            <li><a routerLink="contactus"><i class="fa fa-chevron-right" aria-hidden="true"></i> Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col mobile">
                            <h4>Our Popular Services</h4>
                        <ul>
                            <li><a routerLink="companyformation"><i class="fa fa-chevron-right" aria-hidden="true"></i> Company Formation</a></li>
                            <li><a routerLink="trademark"><i class="fa fa-chevron-right" aria-hidden="true"></i> Trademark</a></li>
                            <li><a routerLink="gstregistration"><i class="fa fa-chevron-right" aria-hidden="true"></i> GST Registration</a></li>
                            <li><a routerLink="isocertificate"><i class="fa fa-chevron-right" aria-hidden="true"></i> ISO Certificate</a></li>
                        </ul>


                    </div>
                    <div class="col mobile">

                                    <h4>Terms &amp; Policy</h4>
                                    <ul>
                    <li><a routerLink="termcondition"><i class="fa fa-chevron-right" aria-hidden="true"></i> Terms &amp; Conditions</a></li>
                    <li><a routerLink="privacypolicy"><i class="fa fa-chevron-right" aria-hidden="true"></i> Privacy Policy</a></li>
                    <li><a routerLink="refundpolicy"><i class="fa fa-chevron-right" aria-hidden="true"></i> Refund Policy</a></li>
                    <li><a routerLink="confidentialpolicy"><i class="fa fa-chevron-right" aria-hidden="true"></i> Confidentiality Policy</a></li>
                                        </ul>
                                
                    </div>
                    <div class="col mobile">
                    <h4>Connect With Us</h4>
                <ul>
                <!-- <li><a routerLink=""><i class="fa fa-chevron-right" aria-hidden="true"></i> Live Chat</a></li> -->
                <li><a href="https://www.facebook.com/CACOGENT/"><i class="fa fa-chevron-right" aria-hidden="true"></i> Facebook</a></li>
                <li><a href="https://www.linkedin.com/in/cogentca/"><i class="fa fa-chevron-right" aria-hidden="true"></i> LinkedIn</a></li>
                <li><a href="https://twitter.com/cogentca/"><i class="fa fa-chevron-right" aria-hidden="true"></i> Tutor</a></li>
                    </ul>
                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>