<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <ul>
                <li><a routerlink="">Demo 1</a></li>
                <li><a routerlink="">Demo 2</a></li>
                <li><a routerlink="">Demo 3</a></li>
                <li><a routerlink="">Demo 4</a></li>
                <li><a routerlink="">Demo 1</a></li>
                <li><a routerlink="">Demo 2</a></li>
                <li><a routerlink="">Demo 3</a></li>
                <li><a routerlink="">Demo 4</a></li>
                <li><a routerlink="">Demo 1</a></li>
                <li><a routerlink="">Demo 2</a></li>
                <li><a routerlink="">Demo 3</a></li>
                <li><a routerlink="">Demo 4</a></li>
                <li><a routerlink="">Demo 1</a></li>
                <li><a routerlink="">Demo 2</a></li>
                <li><a routerlink="">Demo 3</a></li>
                <li><a routerlink="">Demo 4</a></li>
                <li><a routerlink="">Demo 1</a></li>
                <li><a routerlink="">Demo 2</a></li>
                <li><a routerlink="">Demo 3</a></li>
                <li><a routerlink="">Demo 4</a></li>
                <li><a routerlink="">Demo 1</a></li>
                <li><a routerlink="">Demo 2</a></li>
                <li><a routerlink="">Demo 3</a></li>
                <li><a routerlink="">Demo 4</a></li>
            </ul>
        </div>
        <div class="col-9">ddgfd</div>
    </div>
</div>
