<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">
                                <h5>GST Registration</h5>
                <p>We can help you get GST registration for your business within 24 hours while you sitting at your place with just a few clicks of a mouse. Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
           <p class="text-center text-white">Get FREE* GST Registration<br />
                            Consult Our Business Advisor</p>
                            <form [formGroup]="login" novalidate class="form">
                                <div class="ui-form-wraper">
                                   <p class="text-center text-white">{{title}}</p>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Name"
                                        formControlName="name" 
                                        name="name" 
                                        type="text" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                            
                                        </span>
                                        
                                    </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Email Address" formControlName="email" 
                                        name="email" 
                                        type="email"
                                        class="form-control" autocomplete="off">
                                        <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                        
                                                </span>
                                                <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                            
                                                </span>
                                        </div>
                                </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                        <input 
                                        placeholder="Mobile No." formControlName="mobile" 
                                        name="mobile" 
                                        type="number" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                
                                            </span>
                            
                                            <input hidden
                                            placeholder="Subject" formControlName="subject" 
                                            name="subject" 
                                            type="text" 
                                            class="form-control" autocomplete="off" [(ngModel)]="subject1">
                            
                                            <input hidden
                                            placeholder="Message" formControlName="message" 
                                            name="message" 
                                            type="text" 
                                            class="form-control" autocomplete="off" [(ngModel)]="message1">
                                    </div>
                                   </div>
                               </div>
                               <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>



<div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">ABOUT GST REGISTRATION</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Concept</h5>

        <p>Goods and Services Tax is a consolidated indirect tax policy that&nbsp; encompasses VAT, CST, Service Tax, Central Excise duty, Entertainment Tax, etc and is valid all over India with effect from 1st July 2017</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>When to register for GST?</h5>

        <p>Mandatory to register under GST when annual turnover exceeds INR 40/20 lakh or supply goods and services inter-state or through e-commerce platform.</p>      </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>What are the GST tax rates?</h5>

        <p>Tax rates vary from 0% to 28% depends on the type of goods &amp; nature of the services you are selling.</p>

    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Input Tax Credit Availment</h5>

            <p>Only business unit registered under GST can avail credit of tax paid at the time of purchase while filing GST returns.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Return Filing &amp; Payment</h5>

            <p>Every GST registrant requires to file three monthly/quarterly returns and One annual return. Requires paying tax every month.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Composition Scheme</h5>

            <p>Business Unit having an annual turnover less than INR1.5 crore may opt the scheme. Requires to pay subsidize tax ranges from 1% to 5% &amp; file quarterly return.</p>

        </div>
        </div>
        </div>
        </div>
    </div>
    <div class="container-fluid bg-yellow">
    <div class="container -fluid pt-5 bg-yellow pb-5">
        <div class="row">
        <div class="col">
            <h3><strong>When GST Registration mandatory in India?</strong></h3>


<ul>
	<li><strong>Turnover Criteria:&nbsp;</strong>All taxpayers who have an annual turnover above ₹40 lakhs are required to get new GST registration.</li>
	<li><strong>Causal taxpayer:&nbsp;</strong>If you supply goods or services in events/exhibition where you do not have a permanent place of business, you need to get online GST Registration before starting a business. Such a dealer has to pay GST on the basis of an estimated turnover of 90 days. The validity of causal GST Registration is 90 days.</li>
	<li><strong>NRI taxpayer:&nbsp;</strong>NRI taxpayer, who does not have a place of business in India, wishes to start a business, then he has to apply for GST Registration in India before beginning operations in India. The validity of a new GST registration is 90 days.</li>
	<li><strong>Agents of a supplier &amp; Input service distributor:&nbsp;</strong>All Input service distributor who wants carry-forward benefit of input tax credit requires gst registration.</li>
	<li><strong>Reverse Charge:</strong> A business who requires to pay tax under the reverse charge mechanism need gst registration</li>
	<li><strong>E-Commerce portal:&nbsp;</strong>Every e-commerce portal (such as Amazon or Flipkart) under which multiple vendor’s selling their product requires gst registration.</li>
</ul>
        </div>
        </div>
    </div>
    </div>
    <div class="container-fluid bg-black">
    <div class="container -fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col-8">
                <h2 class="text-uppercase text-center mt-2 mb-3"><strong>WHY I NEED GST REGISTRATION?</strong></h2>

                <p>GST registration not only helps you in getting your business recognized as a legal registrant but also opens a number of opportunities for your business. Benefits to GST registered business at glance are as follows:-</p>
                <ul class="list-no-style">
                    <li>
                    <div><strong><span style="color:#FFD700">Become more competitive :</span></strong>&nbsp;You will be more competitive in&nbsp;comparison to your unregistered competitors since you will carry valid tax registration.</div>
                    </li>
                    <li>
                    <div><strong><span style="color:#FFD700">Expand your business Online :</span></strong> You cannot sell products or services on e-commerce platform without GST registration. If you're planning to give a blow on e-commerce platform like Flipkart, Amazon, Paytm, Shopify or through your own website, you must need a GSTIN.</div>
                    </li>
                    <li>
                    <div><strong><span style="color:#FFD700">Can take input tax credit :</span>&nbsp;</strong> Only Registered GST holders can avail input of GST tax paid on their purchases and save the cost.</div>
                    </li>
                    <li>
                    <div><strong><span style="color:#FFD700">Can sell all over India without any restrictions :</span></strong> Without having GSTIN you cannot trade inter-state. This is possible only if you registered your business under GST.</div>
                    </li>
                    <li>
                    <div><strong><span style="color:#FFD700">Apply Government Tenders :</span> </strong> Various government tenders requires GSTIN to apply tender. If you don’t have you may miss the business opportunity.</div>
                    </li>
                    <li>
                    <div><strong><span style="color:#FFD700">Open Current Bank Account :</span> </strong> Especially, in case of sole proprietor business Banks &amp; Financial Institution does not open a current bank account in the name of business trade name unless you carry any government proof in the name of your business. GST registration certificate can help you to open a current bank account.</div>
                    </li>
                    <li>
                    <div><strong><span style="color:#FFD700">Dealing with MNCs :</span> </strong>Generally, MNC’s does not comfortable to deal with small business entities until they carry valid tax registration proof.</div>
                    </li>
                </ul>
        </div>
         <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div> 
       
        
                </div>
            </div>
    </div>




            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                    <form [formGroup]="logins" novalidate class="form">
                                        <div class="ui-form-wraper">
                                           <p class="text-center text-white">{{title}}</p>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                <input
                                                placeholder="Name"
                                                formControlName="name" 
                                                name="name" 
                                                type="text" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="logins.get('name').touched && logins.get('name').invalid">
                                                   
                                                </span>
                                                
                                            </div>
                                           </div>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                <input
                                                placeholder="Email Address" formControlName="email" 
                                                name="email" 
                                                type="email"
                                                class="form-control" autocomplete="off">
                                                <div *ngIf="logins.get('email').touched && logins.get('email').invalid">
                                                        <span class="text-danger"  *ngIf="logins.get('email').errors.required">
                                                                
                                                        </span>
                                                        <span class="text-danger"  *ngIf="logins.get('email').errors.pattern">
                                                                    
                                                        </span>
                                                </div>
                                        </div>
                                           </div>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                <input 
                                                placeholder="Mobile No." formControlName="mobile" 
                                                name="mobile" 
                                                type="number" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="logins.get('mobile').touched && logins.get('mobile').invalid">
                                                        
                                                    </span>
                                                
                                                
                                                    <input hidden
                                                    placeholder="Subject" formControlName="subject" 
                                                    name="subject" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off" [(ngModel)]="subject2">
                                    
                                                    <input hidden
                                                    placeholder="Message" formControlName="message" 
                                                    name="message" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off" [(ngModel)]="message2">
                                            </div>
                                           </div>
                                        </div>
                                       <button [disabled]="logins.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit1()">Submit</button>
                                    </form></div>
                        
                    </div>
                    </div>
                </div>




                <div class="container-fluid pt-5 pb-5 bg-black"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR GST REGISTRATION</strong></h2>
                        
                                </div>
                            </div>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li><strong>PAN Card of the Business or Applicant</strong> GSTIN is linked to the PAN of the business. Hence, PAN is required to obtain GST certificate.</li>
                                    <li><strong>Identity and Address Proof of Promoters</strong>&nbsp;documents like PAN, passport, driving license, aadhaar card or voters identity card must be submitted for all the promoters.</li>
                                    <li><strong>Address Proof for Place of Business</strong> Documents like rental agreement or sale deed along with copies of electricity bill or latest property tax receipt or municipal khata copy must be submitted for the address mentioned in the GST application.</li>
                                    <li><strong>Bank Account Proof</strong> Scanned copy of the first page of bank passbook showing a few transaction and address of the business must be submitted for the bank account mentioned in the registration application.</li>
                                </ul>
                            </div>
                        </div>
                        
                         <!-- <div class="row">
                        <div class="col-sm-4">
                        <div class="document-box">
                                <img class="mt-2 mb-2" src="../../assets/images/id-card.png" alt="">
                                <h4>Identity Proof</h4>

                                <p>Aadhar Card<br />Driving License<br />Election Id Card<br />Passport</p>
                        </div>
                        </div>
                        
                        <div class="col-sm-4">
                        <div class="document-box">
                            <img class="mt-2 mb-2" src="../../assets/images/location.png" alt="">
                            <h5>Address Proof of Business</h5>

<p>Electricity Bill<br />Rent Agreement + NOC</p>

                           
                        </div>
                        </div> -->
                        
                        <!-- <div class="col-sm-3">
                        <div class="document-box">
                            <img class="mt-2 mb-2" src="../../assets/images/pcard.png" alt="">
                        <h5>PAN Card</h5>
                        </div>
                        </div> -->
                        
                        <!--<div class="col-sm-4">
                        <div class="document-box">
                                <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                <h5>Passport size Photograph</h5>
                        </div>
                        </div>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                            <form [formGroup]="loginss" novalidate class="form">
                                                <div class="ui-form-wraper">
                                                   <p class="text-center text-white">{{title}}</p>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                        <input
                                                        placeholder="Name"
                                                        formControlName="name" 
                                                        name="name" 
                                                        type="text" 
                                                        class="form-control" autocomplete="off">
                                                        <span class="text-danger" *ngIf="loginss.get('name').touched && loginss.get('name').invalid">
                                                           
                                                        </span>
                                                        
                                                    </div>
                                                   </div>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                        <input
                                                        placeholder="Email Address" formControlName="email" 
                                                        name="email" 
                                                        type="email"
                                                        class="form-control" autocomplete="off">
                                                        <div *ngIf="loginss.get('email').touched && loginss.get('email').invalid">
                                                                <span class="text-danger"  *ngIf="loginss.get('email').errors.required">
                                                                        
                                                                </span>
                                                                <span class="text-danger"  *ngIf="loginss.get('email').errors.pattern">
                                                                            
                                                                </span>
                                                        </div>
                                                </div>
                                                   </div>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                        <input 
                                                        placeholder="Mobile No." formControlName="mobile" 
                                                        name="mobile" 
                                                        type="number" 
                                                        class="form-control" autocomplete="off">
                                                        <span class="text-danger" *ngIf="loginss.get('mobile').touched && loginss.get('mobile').invalid">
                                                                
                                                            </span>
                                                        
                                                        
                                                            <input hidden
                                                            placeholder="Subject" formControlName="subject" 
                                                            name="subject" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off" [(ngModel)]="subject3">
                                            
                                                            <input hidden
                                                            placeholder="Message" formControlName="message" 
                                                            name="message" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off" [(ngModel)]="message3">
                                                    </div>
                                                   </div>
                                                </div>
                                               <button [disabled]="loginss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit2()">Submit</button>
                                            </form>
                                        </div>
                            
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                            <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Basic</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 1199 <br><small><i>Inclusive all taxes</i></small></h4>
                                <div class="pt-3 pb-3"> GST Registration<br><br>Dedicated GST Pro Support<br><br>GST Starter Guide<br><span><br>GST Invoice Guide&nbsp;<br><br>GST Invoice Template<br></span><span><br>Guidance on HSN/SAC Code</span><span><br><br>GST Tax Rate List<br><br>GST E-Waybill Guide</span><br>  </div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                   
                                    <!-- <div class="card-back">
                                        <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                        <div class="ui-form-01">                   
                                            <form class="tab-1" name="frmPackageSignup1" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111135">
                                                 <div class="ui-form-01-wraper">
                                                     <p><span>Signup</span></p>
                                                    <p class="package-signup-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-email"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                        <i class="icofont icofont-mobile-phone"></i>
                                                    </div>
                                                    <p class="package-processing"></p>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                    <p class="log">login</p>
                                                    
                                                </div>
                                                
                                                
                                            </form>
                                            
                                            <form class="tab-2" name="frmPackageSignin1" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111135">
                                                 <div class="ui-form-01-wraper">
                                                    <p><span>Login</span></p>
                                                    <p class="package-login-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                   <div style="position:relative;">
                                                            <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                            <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                            </div>
                                                        </div>
                                                    
                                                    <p class="package-processing"></p>
                                                     <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                    <p class="sig">Signup</p>
                                                    <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Standard</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 2499 <br><small><i>Inclusive all taxes</i></small></h4>    
                                <div class="pt-2"> GST Registration<br><br>Dedicated GST Pro Support<br><br>GST Starter Guide<br><span><br>GST Invoice Guide&nbsp;<br><br>GST Invoice Template<br></span><span><br>Guidance on HSN/SAC Code</span><span><br><br>GST Tax Rate List<br><br>GST E-Waybill Guide<br><br></span>GST Billing Software for 1 year subscription*<br>[Desktop + Mobile App]  
                               
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                    <!-- <div class="card-back">
                                        <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                        <div class="ui-form-01">                   
                                            <form class="tab-1" name="frmPackageSignup2" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111136">
                                                 <div class="ui-form-01-wraper">
                                                     <p><span>Signup</span></p>
                                                    <p class="package-signup-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-email"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                        <i class="icofont icofont-mobile-phone"></i>
                                                    </div>
                                                    <p class="package-processing"></p>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                    <p class="log">login</p>
                                                    
                                                </div>
                                                
                                                
                                            </form>
                                            
                                            <form class="tab-2" name="frmPackageSignin2" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111136">
                                                 <div class="ui-form-01-wraper">
                                                    <p><span>Login</span></p>
                                                    <p class="package-login-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                   <div style="position:relative;">
                                                            <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                            <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                            </div>
                                                        </div>
                                                    
                                                    <p class="package-processing"></p>
                                                     <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                    <p class="sig">Signup</p>
                                                    <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Premium</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> 7449 <br><small><i>Inclusive all taxes</i></small></h4>
                                                <div>FREE GST Registration<br><br>Dedicated GST Pro Support<br><br>GST Starter Guide<br><br>GST Invoice Guide&nbsp;<br><br>GST Invoice Template<br><br>Guidance on HSN/SAC Code<br><br>GST Tax Rate List<br><br>GST E-Waybill Guide<br><br>Single Day Ad Promotion<br><span><br>GST Billing Software for 1 year subscription*<br>[Desktop + Mobile App]<br><br>GST Return Annual Package</span>      
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                    <!-- <div class="card-back">
                                        <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                        <div class="ui-form-01">                   
                                            <form class="tab-1" name="frmPackageSignup3" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111137">
                                                 <div class="ui-form-01-wraper">
                                                     <p><span>Signup</span></p>
                                                    <p class="package-signup-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-email"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                        <i class="icofont icofont-mobile-phone"></i>
                                                    </div>
                                                    <p class="package-processing"></p>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                    <p class="log">login</p>
                                                    
                                                </div>
                                                
                                                
                                            </form>
                                            
                                            <form class="tab-2" name="frmPackageSignin3" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111137">
                                                 <div class="ui-form-01-wraper">
                                                    <p><span>Login</span></p>
                                                    <p class="package-login-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                   <div style="position:relative;">
                                                            <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                            <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                            </div>
                                                        </div>
                                                    
                                                    <p class="package-processing"></p>
                                                     <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                    <p class="sig">Signup</p>
                                                    <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                    <input type="hidden" name="position" value="2">
                                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                    
                                                  
                                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                            </div>
                                            </form>    
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>