<!-- <form [formGroup]="loginsss" novalidate class="form">
  <div class="ui-form-wraper">
     <p class="text-center text-white">{{title}}</p>
     <div class="form-group">
      <div class="form-group">
          <input
          placeholder="Name"
          formControlName="name" 
          name="name" 
          type="text" 
          class="form-control" autocomplete="off">
          <span class="text-danger" *ngIf="loginsss.get('name').touched && loginsss.get('name').invalid">
             
          </span>
          
      </div>
     </div>
     <div class="form-group">
      <div class="form-group">
          <input
          placeholder="Email Address" formControlName="email" 
          name="email" 
          type="email"
          class="form-control" autocomplete="off">
          <div *ngIf="loginsss.get('email').touched && loginsss.get('email').invalid">
                  <span class="text-danger"  *ngIf="loginsss.get('email').errors.required">
                          
                  </span>
                  <span class="text-danger"  *ngIf="loginsss.get('email').errors.pattern">
                              
                  </span>
          </div>
  </div>
     </div>
     <div class="form-group">
      <div class="form-group">
          <input 
          placeholder="Mobile No." formControlName="mobile" 
          name="mobile" 
          type="number" 
          class="form-control" autocomplete="off">
          <span class="text-danger" *ngIf="loginsss.get('mobile').touched && loginsss.get('mobile').invalid">
                  
              </span>
          
          
              <input hidden
              placeholder="Subject" formControlName="subject" 
              name="subject" 
              type="text" 
              class="form-control" autocomplete="off" [(ngModel)]="subject4">

              <input hidden
              placeholder="Message" formControlName="message" 
              name="message" 
              type="text" 
              class="form-control" autocomplete="off" [(ngModel)]="message4">
      </div>
     </div>
  </div>
 <button [disabled]="loginsss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit3()">Submit</button>
</form>  -->



<!-- <div>
  subject4 = "Not Founs Ansrwe our Question";
  message4 = "Not Founs Ansrwe our Question. Please arrange a call for the same.";


  loginsss = new FormGroup({
    name : new FormControl('',Validators.required),
    email : new FormControl('', [
      Validators.required,
      Validators.pattern("[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$")
    ]),
    mobile : new FormControl('', Validators.required),
    subject : new FormControl(''),
    message : new FormControl(''),
 }
 );

 
onSubmit3(){
  this.products.adddata(this.loginsss.value)
  .subscribe(data => {
    console.log(this.data);
    
  })
  alert("Data submitted successfuly");
    this.loginsss.reset();
  }

</div> -->