<div class="container-fluid bg-green">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="sidenot-2 text-center">
                                     <h5>NSIC Registration</h5>
                    <p>We can help you obtain the NSIC registration for availing additional benefits for your MSMEs.
                        Call us for inquiry at 8800107107</p>  
                            </div>
                        </div>
                          <div class="col text-center">
                            <img src="../../assets/images/think_idea.png" alt="">
                        </div>
                        <div class="col">
                            <div class="contatcform">
                                                  
                <p class="text-center text-white">Arrange a Call back from business adviser regarding NSIC registration</p>
                            <form [formGroup]="login" novalidate class="form">
                                <div class="ui-form-wraper">
                                   <p class="text-center text-white">{{title}}</p>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Name"
                                        formControlName="name" 
                                        name="name" 
                                        type="text" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                            Name not be blank
                                        </span>
                                        
                                    </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Email Address" formControlName="email" 
                                        name="email" 
                                        type="email"
                                        class="form-control" autocomplete="off">
                                        <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                        Email not be blank
                                                </span>
                                                <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                            Email invalid
                                                </span>
                                        </div>
                                </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                        <input 
                                        placeholder="Mobile No." formControlName="mobile" 
                                        name="mobile" 
                                        type="number" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                Mobile will not be blank
                                            </span>
                                    </div>
                                   </div>
                               </div>
                               <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                            </form>
           
        </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>
    </div>
    
    
    
     <div class="container pb-5">
        <div class="row"><div class="col">
        <h2 class="mt-5 mb-5" style="text-align:center">NSIC Registration Benefits</h2>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>Free allotment of tenders</h5>

                <p>One of the key benefits of NSIC registration is that it enables the allotment of&nbsp;tenders totally free of cost to eligible&nbsp;MSMEs.</p> </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>No&nbsp;EMD deposit</h5>

                <p>MSMEs with NSIC registration need not pay Earnest Money Deposit (EMD). This is taken&nbsp;from the bidder, to assure his sincerity in a deal.</p>   </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>Development of SSIs</h5>

                <p>Notably, NSIC has reserved&nbsp;358 items&nbsp;for purchase particularly&nbsp;only from (Small Scale Industries) SSIs as to uplift this sector.</p>
    
        </div>
        </div>
        </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
            <div class="service-box">
            <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>Assistance in Government tenders</h5>

                    <p>All MSMEs bidding for tender within the price cap of L1+15% are allowed to supply up to 20% of the demand by reducing the price to L1.</p>
            </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>The reserved quota</h5>

                    <p>Out of the total annual requirement of 20% supplies from MSMEs, 4% is reserved for the units owned by SC/STs.</p>
                         </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>Overall progress of MSMEs</h5>

                    <p>NSIC executes various interconnected aid services concerning Marketing, Technology, Finance and other kinds of support to MSMEs</p>
            </div>
            </div>
            </div>
            </div>
        </div> 
    
         <div class="container-fluid pt-3 bg-yellow0 pb-3">
            <div class="row">
            <div class="col"><div class="container">
                <div class="row">
                    <div class="col text-center list-hover pt-5 pb-5 mb-5">
                            <h3 class="text-center"><strong>What is NSIC Full form?</strong></h3>
                            <p>The full form of NSIC is National Small Industries Corporation.</p>
                            <img src="../../assets/images/nsic.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col list-hover pt-3 pb-3">
                        <h3 class="text-center"><strong>What is all about NSIC Registration?</strong></h3>
    
<p><span>National Small Industries Corporation was established by the Government of India in 1955. Today, NSIC is a reputed Mini Ratna PSU that also possesses ISO 9001:2015 certification.</span></p>

<p><span>In order to promote small &amp; growing entrepreneurs in post-independent India, the Government of India has set up NSIC, which acts as an intermediary to provide assistance to small scale industries (SSI). The MSEs having NSIC Registration can get access to numerous developmental schemes of the government and achieve tremendous growth in their business.</span></p>
<span><strong>Some functions of NSIC are mentioned below:</strong></span>

<ul>
	<li>
	<p><span>NSIC runs various developmental schemes for MSMEs as to enhance their competitiveness.</span></p>
	</li>
	<li>
	<p><span>NSIC provides integrated support services to MSMEs in relation to Marketing, Technology, Finance.</span></p>
	</li>
	<li>
	<p><span>NSIC provides training and skill development to the MSMEs in India.</span></p>
	</li>
</ul>
            </div>
            <div class="col pt-3 pb-3 list-hover text-center">
                <h3 class="text-center"><strong>NSIC Certificate Sample</strong></h3>
    
   <img width="50%"  src="../../assets/images/NSICcertificate.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col list-hover mt-5 mb-5 pt-3 pb-3">
                    <h3 class="text-center"><strong>Who are eligible for NSIC Registration?</strong></h3>

                    <p><span>Every business enterprises fulfilling below condition are eligible for NSIC registration under Single Point Registration Scheme (SPRS).</span></p>
                    
                    <ul>
                        <li>
                        <p><span>All Micro Enterprises whose investment in plant &amp; machinery is up to INR 25 lakhs (In-service sector up to INR 10 Lakhs)</span></p>
                    
                        <p><span>or</span></p>
                    
                        <p><span>All Small Enterprises whose investment is plant &amp; machinery is up to INR 5 Crore (In-service sector up to INR 2 crores)</span></p>
                        </li>
                        <li>
                        <p><span>Holding MSME Certificate.</span></p>
                        </li>
                        <li>
                        <p><span>Completed one year of business commencement.</span></p>
                        </li>
                    </ul>
                    
                    <p><span>Exemption(s): The Provisional Registration Certificate shall be issued to the Micro &amp; Small Enterprises under the Single Point Registration scheme, which has not completed one year of business commencement. However, this will subject to a monetary limit of INR 5 Lacs.</span></p>
                    <strong><span>Validity of NSIC Registration </span></strong>
                    
                    <p><span>NSIC registration under Single Point Registration Scheme shall be valid for 2 Years. This shall be renewed every 2 years after verification of Commercial and Technical Competence (CTC) of the registered MSEs.</span></p>
                    
                    <p><span><strong>Note:</strong> Provisional NSIC Registration shall be valid for 1 year from the date of the issue of NSIC application, i.e. after levying the NSIC registration fee and obtaining the required documents.</span></p>
            </div>
        </div>
    </div>
    </div>
            
        </div> 
    </div>
    
         <div class="container-fluid bg-black pt-5 pb-5">
            <div class="row">
            <div class="col">
                    <div class="container">
                            <div class="row">
                                    <div class="col">
                                            <h2 class="text-center mt-2 mb-3"><strong>WHY GET AN NSIC REGISTRATION?</strong></h2>
                                            <p>There is no doubt that getting an NSIC registration along with MSME registration for your firm can help you avail additional benefits business of growth. </p>
                                       
                                            <ul>
                                                    <li>NSIC undertakes a set of, particularly customized schemes to optimize the&nbsp;proficiency of MSMEs in India.</li>
                                                    <li>NSIC aims implements various combined support services as regards Marketing, Technology, Finance and other sorts of assistance to MSMEs.</li>
                                                </ul>
                                            </div>
                                        
                                        
                                        </div>
            </div>
            </div>
               <!-- <div class="col-4">
                    <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Enter Your Email Address" required="" type="email"></div><div class="col pl-0">
                        <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
            </div>   -->
           
            
                    </div>
                </div> 
                
    
    <div class="container">
        <div class="row">
            <div class="col"><h2 class="text-center mt-5 mb-2"><b>SCHEMES FOR MSMES HAVING NSIC REGISTRATION:</b></h2></div>
        </div>
        <div class="row">
            <div class="col pt-3 pb-3 mt-5 list-hover">
                    <h2 class="text-uppercase"><b>Single Point Registration Scheme&nbsp;</b></h2>

                    <p>In order to increase government purchases from the small-scale units, the government has launched the Single Point Registration scheme (SPRS). MSMEs can get NSIC registration under this scheme and get exempt from Earnest Money Deposit (EMD) in Government Purchases. EMD is taken from the bidder to assure his sincerity in a bid.</p>
                    
                    <p><strong>Benefits:</strong></p>
                    
                    <ul>
                        <li>Exemption from payment of Earnest Money Deposit (EMD);</li>
                        <li>Issue of the Sets of Tender absolutely free</li>
                        <li>Under this scheme, 358 items are reserved for purchase from Small scale units only.</li>
                        <li>In this scheme, the Government has set an annual target for Union Ministries, Departments, and PSUs to buy a minimum of 25% of the total annual supplies of Goods &amp; services from MSEs only.</li>
                        <li>Out of this 25% procurement from MSEs, 4% of supply is reserved for the units owned by SC/STs. Besides, 3% is reserved for women entrepreneurs.</li>
                        <li>In tender participation, the MSES bidding in the lowest level price band of L1+15% can also supply a portion up to 25% of the total requirement, by reducing the price to L1 Price. Here, L1 purchasers shall be the medium or large units.</li>
                    </ul>
                
                
            </div>
            
            <div class="col pt-3 pb-3 mt-5 list-hover">
                    <h2 class="text-uppercase"><strong>MSME Global Mart</strong></h2>
                   

<p>NSIC has initiated the B2B portal called MSME Global Mart. This is a one-stop for assistance to MSMEs on the business, technology, and finance. The aim of MSME Global Mart is to boost the core competence of Indian MSMEs. The services of this portal are available through Annual Membership.</p>

<p><strong>Membership Benefits:-</strong></p>

<ul>
	<li>Interactive Database of MSMEs</li>
	<li>Global &amp; National Tender Notices</li>
	<li>Self web development tool</li>
	<li>Free mail boxes</li>
	<li>Payment Gateway for membership subscription</li>
	<li>Popular Products Section</li>
	<li>Unlimited global Trade Leads</li>
	<li>Trust Seal of NSIC</li>
	<li>Multiple Language Support</li>
	<li>Other Value added Service</li>
	<li>Centralized mail system</li>
</ul>
                </div>
        </div>
       
        <div class="row">
            <div class="col pt-3 pb-3 mb-5 list-hover">
                <h2 class="text-uppercase"><strong>RMA against Bank Guarantee Scheme</strong></h2>
    
               

<p>Raw Material Assistance (RMA) Scheme provides financial support to MSMEs for the purchase of Raw Material (both indigenous &amp; imported). This gives an opportunity to MSMEs to focus better on manufacturing quality products.</p>

<p><strong>Benefits of this Scheme</strong></p>

<ul>
	<li>Financial Assistance for procurement of Raw Material up to 180 days.</li>
	<li>MSMEs helped to avail the Economics of Purchases like bulk purchase, cash discount, etc.</li>
</ul>

<p><strong>Note:</strong> Security in the form of Bank Guarantee from Approved Banks.</p>
            </div>
            <div class="col pt-3 pb-3 mb-5 list-hover">
                    <h2 class="text-uppercase"><b>Skill Development &amp; Services</b></h2>

                    <p>NSIC provides technical support and skill development training to MSMEs at the 'NSIC Technical Services Centres' (NTSC). Besides, it has a number of Training Incubation Centres (TICs) and Livelihood Business Incubation Centres (LBIs) spread across India.</p>
                    
                    <p><strong>The technical services provided at these centers include:</strong></p>
                    
                    <ul>
                        <li>Skill-development in Hi-Tech and conventional trades,</li>
                        <li>Material and product testing at NABL &amp; BIS accredited laboratories,</li>
                        <li>Energy audit,</li>
                        <li>Environmental management.</li>
                    </ul>
                
                
            </div>
        </div>
       
    </div>
    
    <!-- <div class="container-fluid bg-black pt-5 pb-5">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col"><h2 class="text-center mb-3">BROAD CATEGORIES OF ISO CERTIFICATION STANDARDS</h2></div>
                    </div>
                    <div class="row">
                        <div class="col"><p> <b>ISO 9001</b> ensure company product &amp; services meets customer expectations and enhance customer satisfaction.</p></div>
                        <div class="col"><p><b>ISO 14001</b> maps out a framework that an organization can follow to set up an effective environmental management system.</p></div>
                        <div class="col"><p><b>OHSAS 18001</b> allows a company to show their customers that company has effective health and safety management system.</p></div>
                        <div class="col"><p><b>ISO 22000</b> allows a company to show their customers that company has effective food safety management.</p></div>
                    </div>
                    <div class="row">
                            <div class="col"><p><b>ISO 20000</b> allows demonstrating excellence and prove best practice in IT &amp; improvement in the delivery of IT services.</p></div>
                            <div class="col"><p><b>ISO 27001</b> describes a best practice of company who involves in the information security management system (ISMS).</p></div>
                            <div class="col"><p><b>CE Marking</b> on any brand is a manufacturer's affirmation that the product has complied with the necessary requirements of the applicable European health, safety, and environmental protection benchmark.</p></div>
                            <div class="col"><p><b>ISO 50001</b> describes best energy management practices which outline using energy efficiently helps organizations save money as well as helping to conserve resources and tackle climate change.</p></div>
                        </div>
                </div>
            </div>
        </div>
    </div> -->
    
                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                    <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                    <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>
    
    
    
    
                    <div class="container-fluid bg-black pt-5 pb-5"><div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                            <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR NSIC REGISTRATION</strong></h2>
                            
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col">
                                        <p><span><strong>Proof of business existence :</strong></span></p>

                                            <ul class="list-hover list-no-style">
                                                <li>Copy of PAN card in Business name</li>
                                                <li>MSME registration /Udyog Aadhar Certificate</li>
                                                <li>GST Registration Certificate</li>
                                            </ul>
                                            
                                           
                                </div>
                                <div class="col">
                                        <p><span><strong>Business details :</strong></span></p>
                                            
                                        <ul class="list-hover list-no-style">
                                            <li>Details of directors/partner/owner</li>
                                            <li>Details of plant &amp; machinery</li>
                                            <li>List of technical personnel employed in production and services</li>
                                        </ul>
                                </div>
                            </div>
                            
                              <!-- <div class="row">
                             <div class="col-sm-3">
                            <div class="document-box text-center"> 
                                     <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                     <h5>ID Proof of Author </h5>
                                     
    
                            </div>
                            </div>
                            <div class="col-sm-3">
                                    <div class="document-box text-center"> 
                                             <img class="mt-2 mb-2" src="../../assets/images/formicon.png" alt="">
                                             <h5>Description of Book</h5>
                                                    <p>Cover Page of the book<br />
                                                    Title of the book</p>
                                             
                                    </div>
                                    </div>
                                    <div class="col-sm-3">
                                            <div class="document-box text-center"> 
                                                     <img class="mt-2 mb-2" src="../../assets/images/id-card.png" alt="">
                                                     <h5>Publisher & Printer Details</h5>
                                                     
                    
                                            </div>
                                            </div>
                            <div class="col-sm-3">
                            <div class="document-box text-center">
                                    <img class="mt-2 mb-2" src="../../assets/images/briefcase.png" alt="">
                                    <h5>Content of Book </h5>
                            </div>
                            </div>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
    
    
    
    
    
    
    
                    <div class="container-fluid pt-5 pb-5 bg-yellow">
                            <div class="row"><div class="col text-center">   
                                    <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                            <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                            <div class="main width-300"> 
                                        <input type="hidden" name="position" value="2">
                                                <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                        
                                      
                                    <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                </div>
                                </form>    
                            </div>
                            </div>
                        </div>
    
    
    
    
                        <div class="container mb-5">
                            <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                            <div class="row">
                                
                                 <div class="col pr-0">
                                    <div class="card basic text-center">
                                    <div class="box1 yellow-color">
                                        <h3>Basic</h3>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="box2 mb-5">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 9999 <br><small><i>Inclusive all taxes</i></small></h4>
                                    <div class="pt-3 pb-3">&nbsp;NSIC registration&nbsp;<br>[Government fee extra]     </div>  <br />
                                    <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                    
                             </div> 
                                 </div>
                                
                                <div class="col pl-0 pr-0 middle-panel card">
                                    <div class=" text-center">
                                        <div class="box1">      
                                    <h3>Standard</h3>
                                    <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    </p></div>
                                    <div class="box2">
                                        <h4><i class="fa fa-inr" aria-hidden="true"></i> 10999 <br><small><i>Inclusive all taxes</i></small></h4>    
                                    <div class="pt-2"><br>NSIC registration<br>[Government fee extra]<br><br>MSME registration <br /><br />

                                        Copyright Registration    <br>   <br> 
                                    </div>  
                                               
                                                                        <button class="btn btn-primary mt-5">LET's START</button>
                                    </div>   
                                       
                                    </div>
                                </div>
                                
                                <div class="col pl-0">
                                    <div class="card premium text-center">
                                        <div class="box1 yellow-color">
                                                    <h3>Premium</h3>
                                                    <p>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                                        </p>
                                        </div>
                                        <div class="box2">
                                               
                                            <div class="pt-3 pb-3">
                                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 14299 <br><small><i>Inclusive all taxes</i></small></h4>
                                                    <div><br>NSIC registration<br>[Government fee extra]<br><br>MSME registration<br><div><br>Import Export Code Certificate</div><div><br></div><div>EXIM eGuide</div><div><br></div>       <br>          
                                                    </div>
                                                   
                                            </div>  
                                               
                                                                            <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                    </div>                             
                                        </div>
                    
                                      
                                    </div>
                                </div>
                                    </div>
                               
                                    <div class="container-fluid pt-5 pb-5 bg-black">
                                            <div class="row"><div class="col text-center">   
                                                    <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                            <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                    ARRANGE A CALL BACK</strong></h2>
                                                            <div class="main width-300"> 
                                                        <input type="hidden" name="position" value="2">
                                                                <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                                <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                                <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                        
                                                      
                                                    <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                                </div>
                                                </form>    
                                            </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                                </div>
                                            </div>
                                        </div>