<div class="container-fluid bg-green">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="sidenot-2 text-center">
                                    <h5>IEC Modification</h5>
                    <p>We can help you update your details in Import Export Code Certificate while you sit back at your place and relax. Call us for inquiry at 8800107107</p>  
                            </div>
                        </div>
                          <div class="col text-center">
                            <img src="../../assets/images/think_idea.png" alt="">
                        </div>
                        <div class="col">
                            <div class="contatcform">
                                                  
                 <p class="text-center text-white">Arrange a Call back from business adviser regarding IEC modification</p>
                            <form [formGroup]="login" novalidate class="form">
                                    <div class="ui-form-wraper">
                                       <p class="text-center text-white">{{title}}</p>
                                       <div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                            <input
                                            placeholder="Name"
                                            formControlName="name" 
                                            name="name" 
                                            type="text" 
                                            class="form-control" autocomplete="off">
                                            <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                                Name not be blank
                                            </span>
                                            
                                        </div>
                                       </div>
                                       <div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                            <input
                                            placeholder="Email Address" formControlName="email" 
                                            name="email" 
                                            type="email"
                                            class="form-control" autocomplete="off">
                                            <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                    <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                            Email not be blank
                                                    </span>
                                                    <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                                Email invalid
                                                    </span>
                                            </div>
                                    </div>
                                       </div>
                                       <div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                            <input 
                                            placeholder="Mobile No." formControlName="mobile" 
                                            name="mobile" 
                                            type="number" 
                                            class="form-control" autocomplete="off">
                                            <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                    Mobile will not be blank
                                                </span>
                                        </div>
                                       </div>
                                   </div>
                                   <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                                </form>
           
        </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>
    </div>
    
    
    
    <div class="container pb-5">
        <div class="row"><div class="col">
        <h2 class="mt-5 mb-5" style="text-align:center">ABOUT IEC MODIFICATION</h2>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>Requirements</h5>

<p>The Pre-requisites needed for IEC modification include PAN of an individual/ business for which IEC was issued,&nbsp;Valid e-mail id. &amp; mobile no.</p> </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>Statutory modification&nbsp;</h5>

<p>Under the normal circumstances, an individual is required to get IEC modification online once a year as per the import-export laws.</p>     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>Voluntary&nbsp;modification&nbsp;</h5>

<p>In case of any error in IEC is detected or a change is required in the Import-Export&nbsp;code, IEC&nbsp;modification is to be done immediately.&nbsp;</p>
    
        </div>
        </div>
        </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
            <div class="service-box">
            <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>Change in Business Address</h5>

                    <p>In case, the address of a business&nbsp;firm is changed, it should be immediately updated through the IEC&nbsp;modification online process.</p>
            </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>Change in the Company Name.</h5>

                    <p>If there is a change in the name of the business&nbsp;firm or the company name, the same should be updated with IEC&nbsp;modification.</p>
                         </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>Addition/Deletion of a Partner/Director</h5>

                    <p>If there is an addition/Deletion of a PAN in a business firm or addition/Deletion of a Partner/Director in a company, it should be updated.</p>
    
            </div>
            </div>
            </div>
            </div>
        </div>
    
        <!-- <div class="container-fluid pt-5 bg-yellow pb-5">
            <div class="row">
            <div class="col">
                <h3><strong>When GST Registration mandatory in India?</strong></h3>
    
    
    <ul>
        <li><strong>Turnover Criteria:&nbsp;</strong>All taxpayers who have an annual turnover above ₹40 lakhs are required to get new GST registration.</li>
        <li><strong>Causal taxpayer:&nbsp;</strong>If you supply goods or services in events/exhibition where you do not have a permanent place of business, you need to get online GST Registration before starting a business. Such a dealer has to pay GST on the basis of an estimated turnover of 90 days. The validity of causal GST Registration is 90 days.</li>
        <li><strong>NRI taxpayer:&nbsp;</strong>NRI taxpayer, who does not have a place of business in India, wishes to start a business, then he has to apply for GST Registration in India before beginning operations in India. The validity of a new GST registration is 90 days.</li>
        <li><strong>Agents of a supplier &amp; Input service distributor:&nbsp;</strong>All Input service distributor who wants carry-forward benefit of input tax credit requires gst registration.</li>
        <li><strong>Reverse Charge:</strong> A business who requires to pay tax under the reverse charge mechanism need gst registration</li>
        <li><strong>E-Commerce portal:&nbsp;</strong>Every e-commerce portal (such as Amazon or Flipkart) under which multiple vendor’s selling their product requires gst registration.</li>
    </ul>
            </div>
            </div>
        </div> -->
    
    
        <div class="container-fluid bg-black pt-5 pb-5">
            <div class="row">
            <div class="col">
                    <div class="container">
                            <div class="row">
                            <div class="col">
                    <h2 class="text-uppercase text-center mt-2 mb-3"><strong>WHAT IS MEANT BY IEC MODIFICATION?</strong></h2>
    
                    <p>Any change or alteration made in the business details which is carrying on Import Export Code Certificate need to modify immediately while filing an IEC modification application online before DGFT.</p>
                    
                    <h2 class="text-uppercase text-center mt-2 mb-3">WHAT IF IEC MODIFICATION NOT TIMELY FILED?</h2>
                    <p>In case of non-intimation of changes in business details with DGFT may cause cancelation of import-export code and in some cases may result in pecuniary action as well.</p>
                   </div></div></div>
            </div>
             <!-- <div class="col-4">
                    <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Enter Your Email Address" required="" type="email"></div><div class="col pl-0">
                        <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
            </div>  -->
           
            
                    </div>
                </div>
    
    
    
    
    
                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                    <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                    <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>
    
    
    
    
                    <div class="container-fluid pt-5 pb-5 bg-black"><div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                            <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR IEC MODIFICATION</strong></h2>
                            
                                    </div>
                                </div>
                            
                            
                              <div class="row">
                            <!-- <div class="col-sm-3">
                            <div class="document-box text-center"> 
                                     <img class="mt-2 mb-2" src="../../assets/images/baccount.png" alt="">
                                     <h5>Bank Account Details</h5>

                                     <p>Pre Printed Cancel Cheque</p>
                                     
                                     <p>Certificate from Bank</p>
                            </div>
                            </div> -->
                            
                            <div class="col-sm-4">
                            <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/id-card.png" alt="">
                                    <h5>Documentary Proof of Changes</h5>
                            </div>
                            </div> 
                            
                             <div class="col-sm-4">
                            <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/gst-certificate.png" alt="">
                            <h5>IEC Certificate</h5>
                            </div>
                            </div>
                            
                            <div class="col-sm-4">
                            <div class="document-box text-center">
                                    <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                    <h5>Description of modification</h5>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
    
    
    
    
    
    
    
                    <div class="container-fluid pt-5 pb-5 bg-yellow">
                            <div class="row"><div class="col text-center">   
                                    <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                            <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                            <div class="main width-300"> 
                                        <input type="hidden" name="position" value="2">
                                                <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                        
                                      
                                    <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                </div>
                                </form>    
                            </div>
                            </div>
                        </div>
    
    
    
    
                        <div class="container mb-5">
                            <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                            <div class="row">
                                
                                 <div class="col pr-0">
                                    <div class="card basic text-center">
                                    <div class="box1 yellow-color">
                                        <h3>Basic</h3>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="box2 mb-5">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 2299 <br><small><i>Inclusive all taxes</i></small></h4>
                                    <div class="pt-3 pb-3">Change in Directors </div>  <br />
                                    <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                    
                             </div> 
                                 </div>
                                
                                <div class="col pl-0 pr-0 middle-panel card">
                                    <div class=" text-center">
                                        <div class="box1">      
                                    <h3>GST Cancellation</h3>
                                    <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    </p></div>
                                    <div class="box2">
                                        <h4><i class="fa fa-inr" aria-hidden="true"></i> 2999 <br><small><i>Inclusive all taxes</i></small></h4>    
                                    <div class="pt-2"><div> Change in Directors<br><br>Change/Addition of business address<br> <br></div>
                                    </div>  
                                               
                                                                        <button class="btn btn-primary mt-5">LET's START</button>
                                    </div>   
                                       
                                    </div>
                                </div>
                                
                                <div class="col pl-0">
                                    <div class="card premium text-center">
                                        <div class="box1 yellow-color">
                                                    <h3>Premium</h3>
                                                    <p>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                                        </p>
                                        </div>
                                        <div class="box2">
                                               
                                            <div class="pt-3 pb-3">
                                                <!-- <h4><i class="fa fa-inr" aria-hidden="true"></i> 4799 <br><small><i>Inclusive all taxes</i></small></h4> -->
                                                    <div><div>Change in Directors and<br>Change/Addition of business address on DGFT portal<br><br>Change in Directors and<br>Change/Addition of business address on MCA portal<br><br></div><br><br>       
                                                    </div>
                                                   
                                            </div>  
                                               
                                                                            <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                    </div>                             
                                        </div>
                    
                                      
                                    </div>
                                </div>
                                    </div>
                               
                                    <div class="container-fluid pt-5 pb-5 bg-black">
                                            <div class="row"><div class="col text-center">   
                                                    <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                            <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                    ARRANGE A CALL BACK</strong></h2>
                                                            <div class="main width-300"> 
                                                        <input type="hidden" name="position" value="2">
                                                                <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                                <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                                <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                        
                                                      
                                                    <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                                </div>
                                                </form>    
                                            </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                                </div>
                                            </div>
                                        </div>