<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">
                            <h5>Income Tax Return Filing</h5>
                    <p>We can help you in filing your Income Tax Return through professionals while you sitting at home.</p>
                        
                        </div>
                    </div>
                     <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                <p class="text-center text-white">Arrange A Call Back From Business Adviser</p>
                            <!-- <app-queryform></app-queryform>                              -->
                            <form [formGroup]="login" novalidate class="form">
                                <div class="ui-form-wraper">
                                   <p class="text-center text-white">{{title}}</p>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Name"
                                        formControlName="name" 
                                        name="name" 
                                        type="text" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                            
                                        </span>
                                        
                                    </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Email Address" formControlName="email" 
                                        name="email" 
                                        type="email"
                                        class="form-control" autocomplete="off">
                                        <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                        
                                                </span>
                                                <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                            
                                                </span>
                                        </div>
                                </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                        <input 
                                        placeholder="Mobile No." formControlName="mobile" 
                                        name="mobile" 
                                        type="number" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                
                                            </span>
        
                                            <input hidden
                                            placeholder="Subject" formControlName="subject" 
                                            name="subject" 
                                            type="text" 
                                            class="form-control" autocomplete="off" [(ngModel)]="subject1">
        
                                            <input hidden
                                            placeholder="Message" formControlName="message" 
                                            name="message" 
                                            type="text" 
                                            class="form-control" autocomplete="off" [(ngModel)]="message1">
                                    </div>
                                   </div>
                               </div>
                               <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>



<div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">TYPES OF INCOME TAX RETURNS</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>ITR 1</h5>

        <p>This ITR filing is for individuals whose income from&nbsp;Salary, Pension, House Property, or Other Sources upto&nbsp;INR 50 Lakhs.</p>
    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>ITR 2</h5>

        <p>This return is for Individuals &amp; HUF&nbsp;whose income is&nbsp;from salary, pension, house property, capital gains, foreign asset/income or other sources.</p>
    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>ITR 3</h5>

        <p>This income tax return is for Individuals&nbsp;&amp; HUF&nbsp;having income from profit and gains of business or profession&nbsp;(PGBP).</p>
    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>ITR 4</h5>

<p>This ITR Filing is for Individuals or HUF who have income from PGBP but have opted for presumptive&nbsp;income scheme</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>ITR 5</h5>

            <p>This return is for Firms, LLPs, Body of Individuals (BOI) and Association of Persons (AOP)&nbsp;</p>        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>ITR 6</h5>

            <p>This return is for all type of&nbsp;companies such as Public Limited Company, Private Limited Company, OPC, except Section 8 Company</p>
        </div>
        </div>
        </div>
        </div>
    </div>



    <div class="container-fluid bg-black">
    <div class="container bg-black pt-5 pb-5">
        <div class="row">
        <div class="col">
            <h2 class="mb-3 text-center"><strong>5 Benefits of Filing Income Tax Return&nbsp;</strong></h2>
            <p>Though According to income tax laws, filing the return and updating your&nbsp;ITR status is mandatory for every individual or entity whose income&nbsp;exceeds the threshold limit mentioned in the Income Tax Act-1961. There are certainly many benefits of filing of ITR:-</p>
            
            <ul>
                <li><p><strong><span style="color:#FFD700">Avoid Penalty up to INR 10,000/-</span><span style="color:#ffcc00"> </span>&nbsp;</strong>–&nbsp;This year, the government has introduced a new section in the Income Tax Act-1961, i.e. section 234F wherein failing to file ITR on due date July 31 of every year.</p></li>
                <li><p><span style="color:#FFD700"><strong>Avoid Tax Notice of non-filing of ITR</strong></span>&nbsp;–&nbsp; Remember, Uncle Sam is having an eye on your ITR status! In case you fail to duly file your Income Tax Return, you may get a tax notice from the Income Tax department, which would land you up in trouble. Better you timely fulfil the ITR filing process.</p></li>
                <li><p><span style="color:#FFD700"><strong>Get TDS Refund Back</strong></span> <strong>&nbsp;</strong>–&nbsp;If your client or employer deduct your TDS while making payment, it might be that you’re eligible for Tax Refund. On filing Income Tax Return you can claim your TDS credit and get a refund back excess TDS deducted over your net tax liability.</p></li>
                <li><p><span style="color:#FFD700"><strong>Ease in Availing Loans &nbsp;</strong></span>– Income Tax Return is a primary requirement of the bank and financial institution while sanctioning the loan. Income declared in Income Tax Return depicts your financial credibility which helps you to sanction loan easily.</p></li>
                <li><p><span style="color:#FFD700"><strong>Can take input or carry forward losses</strong></span>&nbsp;– Timely filing of income tax return make you eligible to carry forward your business &amp; capital losses, if any, during a financial year which can be adjusted against income earned in the subsequent years and ultimately save your taxes.</p></li>
            </ul>
        
        
        </div>
        
                </div>
            </div>
    </div>




            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                           
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                    <form [formGroup]="logins" novalidate class="form">
                                        <div class="ui-form-wraper">
                                           <p class="text-center text-white">{{title}}</p>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                <input
                                                placeholder="Name"
                                                formControlName="name" 
                                                name="name" 
                                                type="text" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="logins.get('name').touched && logins.get('name').invalid">
                                                   
                                                </span>
                                                
                                            </div>
                                           </div>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                <input
                                                placeholder="Email Address" formControlName="email" 
                                                name="email" 
                                                type="email"
                                                class="form-control" autocomplete="off">
                                                <div *ngIf="logins.get('email').touched && logins.get('email').invalid">
                                                        <span class="text-danger"  *ngIf="logins.get('email').errors.required">
                                                                
                                                        </span>
                                                        <span class="text-danger"  *ngIf="logins.get('email').errors.pattern">
                                                                    
                                                        </span>
                                                </div>
                                        </div>
                                           </div>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                <input 
                                                placeholder="Mobile No." formControlName="mobile" 
                                                name="mobile" 
                                                type="number" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="logins.get('mobile').touched && logins.get('mobile').invalid">
                                                        
                                                    </span>
                                                
                                                
                                                    <input hidden
                                                    placeholder="Subject" formControlName="subject" 
                                                    name="subject" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off" [(ngModel)]="subject2">

                                                    <input hidden
                                                    placeholder="Message" formControlName="message" 
                                                    name="message" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off" [(ngModel)]="message2">
                                            </div>
                                           </div>
                                        </div>
                                       <button [disabled]="logins.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit1()">Submit</button>
                                    </form>
                        </div>
                        
                    </div>
                    </div>
                </div>




                <div class="container-fluid pt-5 pb-5 bg-black text-center"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-5 text-center text-uppercase"><strong>Documents Required For Income Tax Return Filing</strong></h2>
                        
                                </div>
                            </div>
                        
                        
                        <div class="row">
                        <div class="col-sm-3">
                        <div class="document-box">
                         <img class="mt-2 mb-2" src="../../assets/images/pcard.png" alt="">
                        <h5>PAN Card</h5>
                        </div>
                        </div>
                        
                        <div class="col-sm-3">
                        <div class="document-box">
                            <img class="mt-2 mb-2" src="../../assets/images/baccount.png" alt="">
                        <h5>Bank Statement</h5>
                        </div>
                        </div>
                        
                        <div class="col-sm-3">
                        <div class="document-box">
                            <img class="mt-2 mb-2" src="../../assets/images/digitalediting.png" alt="">
                        <h5>Digital Signature Certificate</h5>
                        </div>
                        </div>
                        
                        <div class="col-sm-3">
                        <div class="document-box">
                            <img class="mt-2 mb-2" src="../../assets/images/formicon.png" alt="">
                        <h5>Form 16 & 16A</h5>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                            <form [formGroup]="loginss" novalidate class="form">
                                                <div class="ui-form-wraper">
                                                   <p class="text-center text-white">{{title}}</p>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                        <input
                                                        placeholder="Name"
                                                        formControlName="name" 
                                                        name="name" 
                                                        type="text" 
                                                        class="form-control" autocomplete="off">
                                                        <span class="text-danger" *ngIf="loginss.get('name').touched && loginss.get('name').invalid">
                                                           
                                                        </span>
                                                        
                                                    </div>
                                                   </div>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                        <input
                                                        placeholder="Email Address" formControlName="email" 
                                                        name="email" 
                                                        type="email"
                                                        class="form-control" autocomplete="off">
                                                        <div *ngIf="loginss.get('email').touched && loginss.get('email').invalid">
                                                                <span class="text-danger"  *ngIf="loginss.get('email').errors.required">
                                                                        
                                                                </span>
                                                                <span class="text-danger"  *ngIf="loginss.get('email').errors.pattern">
                                                                            
                                                                </span>
                                                        </div>
                                                </div>
                                                   </div>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                        <input 
                                                        placeholder="Mobile No." formControlName="mobile" 
                                                        name="mobile" 
                                                        type="number" 
                                                        class="form-control" autocomplete="off">
                                                        <span class="text-danger" *ngIf="loginss.get('mobile').touched && loginss.get('mobile').invalid">
                                                                
                                                            </span>
                                                        
                                                        
                                                            <input hidden
                                                            placeholder="Subject" formControlName="subject" 
                                                            name="subject" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off" [(ngModel)]="subject3">
        
                                                            <input hidden
                                                            placeholder="Message" formControlName="message" 
                                                            name="message" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off" [(ngModel)]="message3">
                                                    </div>
                                                   </div>
                                                </div>
                                               <button [disabled]="loginss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit2()">Submit</button>
                                            </form>
                            </div>
                               
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                            <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Salary</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2">
                                    <h3><i class="fa fa-inr" aria-hidden="true"></i> 499 <br><small><i>Inclusive all taxes</i></small></h3><br />
                                <div class="pt-5 pb-5">Filling of ITR-1 for an individual with salary. </div>  
                                <button class="btn btn-primary mt-3">LET's START</button>
                            </div>                   
                                    <!-- <div class="card-back">
                                        <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                        <div class="ui-form-01">                   
                                            <form class="tab-1" name="frmPackageSignup1" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111135">
                                                 <div class="ui-form-01-wraper">
                                                     <p><span>Signup</span></p>
                                                    <p class="package-signup-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-email"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                        <i class="icofont icofont-mobile-phone"></i>
                                                    </div>
                                                    <p class="package-processing"></p>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                    <p class="log">login</p>
                                                    
                                                </div>
                                                
                                                
                                            </form>
                                            
                                            <form class="tab-2" name="frmPackageSignin1" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111135">
                                                 <div class="ui-form-01-wraper">
                                                    <p><span>Login</span></p>
                                                    <p class="package-login-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                   <div style="position:relative;">
                                                            <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                            <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                            </div>
                                                        </div>
                                                    
                                                    <p class="package-processing"></p>
                                                     <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                    <p class="sig">Signup</p>
                                                    <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Business</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                        <h3><i class="fa fa-inr" aria-hidden="true"></i> 1599 <br><small><i>Inclusive all taxes</i></small></h3><br />
                                <div class="pt-5">Filling of ITR-4 of a person earning business or professional income who have opted for presumptive income scheme.</div>  
                                           <br /><br /><br />
                                                                    <button class="btn btn-primary mt-3">LET's START</button>
                                </div>   
                                    <!-- <div class="card-back">
                                        <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                        <div class="ui-form-01">                   
                                            <form class="tab-1" name="frmPackageSignup2" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111136">
                                                 <div class="ui-form-01-wraper">
                                                     <p><span>Signup</span></p>
                                                    <p class="package-signup-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-email"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                        <i class="icofont icofont-mobile-phone"></i>
                                                    </div>
                                                    <p class="package-processing"></p>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                    <p class="log">login</p>
                                                    
                                                </div>
                                                
                                                
                                            </form>
                                            
                                            <form class="tab-2" name="frmPackageSignin2" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111136">
                                                 <div class="ui-form-01-wraper">
                                                    <p><span>Login</span></p>
                                                    <p class="package-login-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                   <div style="position:relative;">
                                                            <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                            <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                            </div>
                                                        </div>
                                                    
                                                    <p class="package-processing"></p>
                                                     <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                    <p class="sig">Signup</p>
                                                    <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Enterprise</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                        <div class="pt-5 pb-5">Filing of ITR 3, 5 or 6 for LLP, OPC, Companies, Partnership Firms and individuals who have not opted for the presumptive income scheme.</div>  
                                           
                                                                        <button class="btn btn-primary mt-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                    <!-- <div class="card-back">
                                        <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                        <div class="ui-form-01">                   
                                            <form class="tab-1" name="frmPackageSignup3" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111137">
                                                 <div class="ui-form-01-wraper">
                                                     <p><span>Signup</span></p>
                                                    <p class="package-signup-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-email"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                        <i class="icofont icofont-mobile-phone"></i>
                                                    </div>
                                                    <p class="package-processing"></p>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                    <p class="log">login</p>
                                                    
                                                </div>
                                                
                                                
                                            </form>
                                            
                                            <form class="tab-2" name="frmPackageSignin3" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111137">
                                                 <div class="ui-form-01-wraper">
                                                    <p><span>Login</span></p>
                                                    <p class="package-login-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                   <div style="position:relative;">
                                                            <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                            <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                            </div>
                                                        </div>
                                                    
                                                    <p class="package-processing"></p>
                                                     <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                    <p class="sig">Signup</p>
                                                    <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                            <form [formGroup]="loginsss" novalidate class="form">
                                                                <div class="ui-form-wraper">
                                                                   <p class="text-center text-white">{{title}}</p>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input
                                                                        placeholder="Name"
                                                                        formControlName="name" 
                                                                        name="name" 
                                                                        type="text" 
                                                                        class="form-control" autocomplete="off">
                                                                        <span class="text-danger" *ngIf="loginsss.get('name').touched && loginsss.get('name').invalid">
                                                                           
                                                                        </span>
                                                                        
                                                                    </div>
                                                                   </div>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input
                                                                        placeholder="Email Address" formControlName="email" 
                                                                        name="email" 
                                                                        type="email"
                                                                        class="form-control" autocomplete="off">
                                                                        <div *ngIf="loginsss.get('email').touched && loginsss.get('email').invalid">
                                                                                <span class="text-danger"  *ngIf="loginsss.get('email').errors.required">
                                                                                        
                                                                                </span>
                                                                                <span class="text-danger"  *ngIf="loginsss.get('email').errors.pattern">
                                                                                            
                                                                                </span>
                                                                        </div>
                                                                </div>
                                                                   </div>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input 
                                                                        placeholder="Mobile No." formControlName="mobile" 
                                                                        name="mobile" 
                                                                        type="number" 
                                                                        class="form-control" autocomplete="off">
                                                                        <span class="text-danger" *ngIf="loginsss.get('mobile').touched && loginsss.get('mobile').invalid">
                                                                                
                                                                            </span>
                                                                        
                                                                        
                                                                            <input hidden
                                                                            placeholder="Subject" formControlName="subject" 
                                                                            name="subject" 
                                                                            type="text" 
                                                                            class="form-control" autocomplete="off" [(ngModel)]="subject4">
                                                            
                                                                            <input hidden
                                                                            placeholder="Message" formControlName="message" 
                                                                            name="message" 
                                                                            type="text" 
                                                                            class="form-control" autocomplete="off" [(ngModel)]="message4">
                                                                    </div>
                                                                   </div>
                                                                </div>
                                                               <button [disabled]="loginsss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit3()">Submit</button>
                                                            </form> </div>
                                            
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>