.col.less-padding{
    padding:0 !important;
    background: #cccccc;
    color: #000000;
}

.col.less-paddings{
    padding:0 !important;
}

.text-black{
    color: #000000 !important;
    font-weight: 600;
}

a.nav-link{
    color: #000000;
    white-space: nowrap;
    font-weight: 600;
}

.navbar-dark.navbar-nav.nav-link{
    color:#000000 !important;
}

a{
    cursor: pointer;
    color:#000000 !important;
}

.nav-item.dropdown.show a.nav-link{
    color: #000000;
    text-transform: none;
}

/* .nav-link.dropdown-toggle{
    background: #cccccc;
} */

.nav-link:hover{
    background: #003399;
    color: #ffffff !important;
}

/* .text-blue:hover{
    color: #003399;
}

.text-yellow:hover{
    color: #ffcc33;
} */

.subnav-align{
    position: relative;
    white-space: nowrap;
    font-weight: 400;
}

.nav-link.subnav-align, .nav-link.subnav{
    font-weight: 400 !important;
}

/* a.nav-link.dropdown-toggle{
    position: relative;
} */

.subnav-align > .sublist-position{
    position: absolute;
    /* right: -105px; */
    top: 0;
    background: #cccccc;
    left: 260px;
    font-weight: 600;
    padding: 2px 0;
}

.dropdown-item {
    padding: .5rem 1.5rem;
    color: #000000 !important;
}

.dropdown-item:hover{
    color: #ffffff !important;
    background: #003399 !important;
}

.hide > .sublist-position{
    display: none !important;
}

.blocks{
    display: block !important;
}

.nav-link.subnav-align:hover > .sublist-position:hover{
    display: block !important;
    color: #000000;
}

.navbar-right.float-right{
    margin:0 0 0 auto !important;
}

@media screen and (max-width:480px){
    .navbar-right.float-right{
        margin:0 !important;
        float: left !important;
        width:100% !important;
    }
    .dropdown-menu.show{
        width: 100% !important;
    }

    .mobile-hide{
        display: none !important;
    }

    .subnav-align > .sublist-position {
        position: static !important;
        top: 0;
        background: #cccccc;
        left: 0;
        font-weight: 600;
        padding: 2px 0;
    }
}

.subnav-align.dropdown-toggle::after {
    position: absolute;
    right: 7px;
    top: 22px;
}

.nav-link.subnav-align, .nav-link.subnav {
    font-weight: 400 !important;
    text-transform: none;
}

.navbar.navbar-expand-lg{
    margin: 0 !important;
    padding: 0;
    border: none !important;
}

.dropdown-menu.show{
    background: #cccccc;
    padding: 0 0 2px 0 !important;
    border: none !important;
    width: 260px;
    margin-top: -2px;
}

.dropdown-menu.show .nav-link.dropdown-toggle{
    display: block;
}

.dropdown-menu.show .nav-link.dropdown-toggle:hover{
    background: #003399;
}

.nav-link.no-hover:hover{
    background: #cccccc;
    color: #000000 !important;
    /* cursor: pointer; */
}

li.nav-item, .text-uppercase{
    text-transform: uppercase;
}

.logo2{
    background: #ffcc33;
    padding: 5px;
    color: #003399;
    font-size: 25px;
    display: inline-block;
}

.logo1{
    background: #003399;
    padding: 5px;
    color: #ffffff;
    font-size: 25px;
    display: inline-block;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    line-height: 31px;
}

@font-face {
    font-family: algerian;
    src: url('../../assets/font/Algerianregular.ttf');
  }

.catext{
    font-family: algerian;
    font-weight: 400;
}