<div class="container-fluid">
    <div class="row">
        <div class="col less-padding">
           <div class="container">
               <div class="row">
                   <div class="col">
                   
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark0 navbar-right" style="margin:24px 0;">
                <a class="navbar-brand logopart" href="javascript:void(0)"><span class="logo1">COGENT</span> <span class="logo2">CA</span></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navb">
                  <ul class="navbar-nav mr-auto navbar-right float-right">
                    <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)" routerLink="">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)" routerLink="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                          OUR EXPERTISE
                        </a>
                        <div class="dropdown-menu">
                          <a class="nav-link"  routerLink="consult">Consulting</a>  
                          <a class="nav-link subnav-align hide">
                            Financial Advisory Service
                        
                        <div class="dropdown-menu0 sublist-position">
                             <a class="dropdown-item" routerLink="businessvaluation" title="Business Valuation">Business Valuation</a>
                             <a class="dropdown-item" routerLink="corporatefinance" title="Corporate Finance">Corporate Finance</a>
                        </div>
                        </a>
                        <a class="nav-link"  routerLink="businessplanprojectreport"> Business Plan & Project Report </a>
                        <a class="nav-link subnav-align hide">
                          Tax Return Filling
                          <div class="dropdown-menu0 sublist-position">
                            <a class="dropdown-item" routerLink="incometaxreturn" title="Income Tax Return Filing">Income Tax Return</a>
                            <a class="dropdown-item" routerLink="gstreturnfilling" title="GST Return Filing">GST Return</a>
                            <a class="dropdown-item" routerLink="tdsreturnfilling" title="TDS Return Filing">TDS Return Filing</a>
                          </div>
                        </a>
                        <a class="nav-link subnav-align hide">
                          Annual Compliances
                      
                      <div class="dropdown-menu0 sublist-position">
                            <a class="dropdown-item" routerLink="pvtltdcompanyannual" title="Private Limited Company">Private Limited Company</a>
                            <a class="dropdown-item" routerLink="limitedliapartershipannul" title="Limited Liability Partnership">Limited Liability Partnership</a>
                            <a class="dropdown-item" routerLink="forminc22aannual" title="Form INR-22A">Form INC-22A</a>
                            <a class="dropdown-item" routerLink="formdir3kycannual" title="Form DIR-3 KYC">Form DIR-3 KYC</a>
                        </div>
                        </a>

                          </div>
                          
                      </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                          REGISTRATION SERVICES
                        </a>
                        <div class="dropdown-menu">






                          <!-- <div class="subnav-align">     -->
                            <a class="nav-link subnav-align hide">
                              Company Formation
                          
                          <div class="dropdown-menu0 sublist-position">
                               <a class="dropdown-item" routerLink="/pvtltdcompany" title="Private Limited Company">Private Limited Company</a>
                              <a class="dropdown-item" routerLink="publtdcompany" title="Public Limited Company">Public Limited Company</a>
                              <a class="dropdown-item" routerLink="oneprsncompant" title="One Person Company">One Person Company</a>
                              <a class="dropdown-item" routerLink="parternshipfirm" title="Partnership Firm">Partnership Firm</a>
                              <a class="dropdown-item" routerLink="limitedliaparternship" title="Limited Liability Partnership">Limited Liability Partnership</a>
                              <a class="dropdown-item" routerLink="soleproprietorship" title="Sole Proprietorship">Sole Proprietorship</a>
                              
                            </div>
                          </a>
                          <!-- </div> -->
                            <a class="nav-link subnav-align hide">
                                  Goods and Service Tax
                              
                              <div class="dropdown-menu0 sublist-position">
                                 <a class="dropdown-item" routerLink="gstregistration" title="GST Registration">GST Registration</a>
                                 <a class="dropdown-item" routerLink="gstmodification" title="GST Modification">GST Modification</a>
                                 <a class="dropdown-item" routerLink="gstcancellation" title="GST Cancellation">GST Cancellation</a>
                                 <!-- <a class="dropdown-item" routerLink="gstreturnfilling" title="GST Return Filing">GST Return Filing</a> -->
                                 </div>
                                </a>
                                <a class="nav-link subnav-align hide">
                                  Import & Export
                                  
                                  <div class="dropdown-menu0 sublist-position">
<a class="dropdown-item" routerLink="importexportcode" title="Import Export Code">Import Export Code</a>
<a class="dropdown-item" routerLink="iecmodification" title="IEC Modification">IEC Modification</a>
<a class="dropdown-item" routerLink="fieoregistration" title="FIEO Registration">FIEO Registration</a>
<a class="dropdown-item" routerLink="apedaregistration" title="APEDA Registration">APEDA Registration</a>
<a class="dropdown-item" routerLink="letterofundertaking" title="Letter of Undertaking">Letter of Undertaking</a>
</div>
                                    </a>
                                    <a class="nav-link subnav-align hide">
                                      IPR
                                  
                                  <div class="dropdown-menu0 sublist-position">
                                     <a class="dropdown-item" routerLink="trademark" title="Trademark">Trademark</a>
                                     <a class="dropdown-item" routerLink="copyright" title="Copyright">Copyright</a>
                                     <a class="dropdown-item" routerLink="patent" title="Patent">Patent</a>
                                     <a class="dropdown-item" routerLink="trademarkobjectrply" title="Trademark Objection Reply">Trademark Objection Reply</a>
                                     <a class="dropdown-item" routerLink="logodesign" title="Logo Designing">Logo Designing</a>
                                     <a class="dropdown-item" routerLink="designregistration" title="Design Registration">Design Registration</a>
                                  </div>
                                  </a>
                                  <a class="nav-link subnav-align hide">Labour Laws

                                    <div class="dropdown-menu0 sublist-position">
                                               <a class="dropdown-item" routerLink="pfregistration" title="PF Registration">PF Registration</a>
                                               <a class="dropdown-item" routerLink="esiregistration" title="ESI Registration">ESI Registration</a>
                                      </div>
                                    </a>
                      <a class="nav-link subnav-align hide">
                              Business Registration
                          
                          <div class="dropdown-menu0 sublist-position">
                              <a class="dropdown-item" routerLink="isocertificate" title="ISO Certification">ISO Certification</a>
                              <a class="dropdown-item" routerLink="msmeregistration" title="MSME Registration">MSME Registration</a>
                              <a class="dropdown-item" routerLink="fssairegistration" title="FSSAI Registration">FSSAI Registration</a>
                              <a class="dropdown-item" routerLink="digisigcertificate" title="Digital Signature">Digital Signature Certificate</a>
                              <a class="dropdown-item" routerLink="shopregistration" title="Shop Establishment Registration">Shop Establishment Registration</a>
                          <a class="dropdown-item" routerLink="pan" title="PAN">PAN</a>
                          <a class="dropdown-item" routerLink="tan" title="TAN">TAN</a>
                          <a class="dropdown-item" routerLink="isbn" title="ISBN">ISBN</a>
                          <a class="dropdown-item" routerLink="nsicregistration" title="NSIC Registration">NSIC Registration</a>
                          <a class="dropdown-item" routerLink="gemregistration" title="GeM Registration">GeM Registration</a>
                          <a class="dropdown-item" routerLink="reraregistration" title="RERA Registration">RERA Registration</a>
                          <a class="dropdown-item" routerLink="barcoderegistration" title="Barcode Registration">Barcode Registration</a>
                            </div></a>
                            
                        </div>
                      </li>
                      
                      <li class="nav-item"><a class="nav-link" routerLink="offers">Offers</a></li>
                      <li class="nav-item"><a class="nav-link" routerLink="login">Login/Signup</a></li>
                      <li class="nav-link no-hover">+918800107107</li>
                  </ul>
                  
                </div>
              </nav>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>