.col.less-padding{
    padding:0 !important;
    background: #000000;
}

a.nav-link{
    color: #000000;
    white-space: nowrap;
    font-weight: 600;
}

a{
    cursor: pointer;
}

.nav-item.dropdown.show a.nav-link{
    color: #ffffff;
    text-transform: none;
}

/* .nav-link.dropdown-toggle{
    background: #cccccc;
} */

.nav-link:hover{
    background: #ffffff;
    color: #000000 !important;
}

.subnav-align{
    position: relative;
    white-space: nowrap;
    font-weight: 400;
}

.nav-link.subnav-align, .nav-link.subnav{
    font-weight: 400 !important;
}

/* a.nav-link.dropdown-toggle{
    position: relative;
} */

.subnav-align > .sublist-position{
    position: absolute;
    /* right: -105px; */
    top: 0;
    background: #000;
    left: 260px;
    font-weight: 600;
    padding: 2px 0;
}

.dropdown-item {
    padding: .5rem 1.5rem;
    color: #ffffff !important;
}

.dropdown-item:hover{
    color: #000000 !important;
}

.hide > .sublist-position{
    display: none !important;
}

.blocks{
    display: block !important;
}

.nav-link.subnav-align:hover > .sublist-position:hover{
    display: block !important;
    color: #000000;
}

.navbar-right.float-right{
    margin:0 0 0 auto !important;
}

.navbar.navbar-expand-lg{
    margin: 0 !important;
    padding: 0;
    border: none !important;
}

.dropdown-menu.show{
    background: #000000;
    padding: 0 0 2px 0 !important;
    border: none !important;
    width: 260px;
    margin-top: -2px;
}

.dropdown-menu.show .nav-link.dropdown-toggle{
    display: block;
}

.dropdown-menu.show .nav-link.dropdown-toggle:hover{
    background: #cccccc;
}

.nav-link.no-hover:hover{
    background: #000000;
    color: #cccccc !important;
    cursor: pointer;
}

li.nav-item, .text-uppercase{
    text-transform: uppercase;
}

.logo2{
    background: #003399;
    padding: 5px;
    color: #ffffff;
    font-size: 25px;
    display: inline-block;
}

.logo1{
    background: #ffcc33;
    padding: 5px;
    color: #003399;
    font-size: 25px;
    display: inline-block;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    line-height: 31px;
}