.col.less-padding{
    padding:20px 0 !important;
    background: #ffffff;
    color: #000000;
    border-bottom: solid 3.5px #ffcc33;
}

.container-fluid.sticky-top{
    border-top: solid 2px #ffcc33;
}

.col.less-paddings{
    padding:0 !important;
}

.text-black{
    color: #000000 !important;
    font-weight: 600;
}

a.nav-link{
    color: #000000;
    white-space: nowrap;
    font-weight: 600;
}

.navbar-dark.navbar-nav.nav-link{
    color:#000000 !important;
}

a{
    cursor: pointer;
    color:#000000 !important;
}

.nav-item.dropdown.show a.nav-link{
    color: #000000;
    text-transform: none;
}

/* .nav-link.dropdown-toggle{
    background: #cccccc;
} */

.nav-link:hover{
    /* background: #003399; */
    color: #003399 !important;
    border-bottom: #ffcc33 solid 4px;
}

.nav-link{
    border-bottom: #ffffff solid 4px;
}

/* .text-blue:hover{
    color: #003399;
}

.text-yellow:hover{
    color: #ffcc33;
} */

.subnav-align{
    position: relative;
    white-space: nowrap;
    font-weight: 400;
}

.nav-link.subnav-align, .nav-link.subnav{
    font-weight: 400 !important;
}

/* a.nav-link.dropdown-toggle{
    position: relative;
} */

.subnav-align > .sublist-position{
    position: absolute;
    /* right: -105px; */
    top: 0;
    left: 260px;
    font-weight: 600;
    padding: 0;
    border-bottom: solid 1px #5f10104a;
    background: #ffffff;
    border-top: solid 2px #ffcc33;
    /* background: linear-gradient(45deg, #666666, transparent);
    background: #cccccc !important; */
}

.subnav-align > .sublist-position.more-indent{
    top:-150px;
}

.dropdown-menu a{
    border-bottom: solid 2px #ffcc33;
    /* background: linear-gradient(45deg, #666666, transparent); */
}

.dropdown-item {
    padding: .5rem 1.5rem;
    color: #000000 !important;

}

.dropdown-item:hover{
    color: #003399 !important;
    /* background: #003399 !important; */
}

.hide > .sublist-position{
    display: none !important;
}

.blocks{
    display: block !important;
}

.nav-link.subnav-align:hover > .sublist-position:hover{
    display: block !important;
    color: #000000;
}

.navbar-right.float-right{
    margin:0 0 0 auto !important;
}

@media screen and (max-width:786px){
    .navbar-right.float-right{
        margin:0 !important;
        float: left !important;
        width:100% !important;
        
    }

}

@media screen and (max-width:1024px){
    .navbar-expand-lg .navbar-nav .dropdown-menu.extraspace {
        left: -100px;
    }
}

@media screen and (max-width:480px){
    .navbar-right.float-right{
        margin:0 !important;
        float: left !important;
        width:100% !important;
    }
    .dropdown-menu.show{
        width: 100% !important;
    }

    .mobile-hide{
        display: none !important;
    }

    .subnav-align > .sublist-position {
        position: static !important;
        top: 0;
        background: #cccccc;
        left: 0;
        font-weight: 600;
        padding: 2px 0;
        margin-top: 10px;
    }
}

.subnav-align.dropdown-toggle::after {
    position: absolute;
    right: 7px;
    top: 22px;
}

.nav-link.subnav-align, .nav-link.subnav {
    font-weight: 400 !important;
    text-transform: none;
}

.navbar.navbar-expand-lg{
    margin: 0 !important;
    padding: 0;
    border: none !important;
}

.dropdown-menu.show{
    /* background: #cccccc; */
    padding: 0 !important;
    border: none !important;
    width: 260px;
    margin-top: -4px;
}

.dropdown-menu.show .nav-link.dropdown-toggle{
    display: block;
}

/* .dropdown-menu.show .nav-link.dropdown-toggle:hover{
    background: #003399;
} */

.nav-link.no-hover:hover{
    background: #cccccc;
    color: #000000 !important;
    /* cursor: pointer; */
}

li.nav-item, .text-uppercase{
    text-transform: uppercase;
}

.logo2{
    background: #ffcc33;
    padding: 5px;
    color: #003399;
    font-size: 25px;
    display: inline-block;
}

.logo1{
    background: #003399;
    padding: 5px;
    color: #ffcc33;
    font-size: 25px;
    display: inline-block;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    line-height: 22px;
    font-size: 15px;
}

@media screen and (max-width:768px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 15px;
        padding-bottom: 0;
        line-height: 22px;
        font-size: 13px;
    }

    .nav-item.dropdown.show a.nav-link{
        font-size: 13px !important;
    }

    .arrow-right{
        margin-right: 10px !important;
    }

    .dropdown-menu.extraspace.show {
        margin-left: 0 !important;
    }
}

@font-face {
    font-family: algerian;
    src: url('../../assets/font/Algerianregular.ttf');
  }

.catext{
    font-family: algerian;
    font-weight: 400;
}

.nav-item.dropdown.show a.nav-link {
    color: #000000;
    text-transform: none;
    border-bottom: solid 2px #ffcc33;
    font-size: 17px;
    /* background: linear-gradient(45deg, #666666, transparent); */
}

.nav-item.dropdown.show a.nav-link.top-border{
    border-top: solid 2px #ffcc33;
}

.nav-item.dropdown.show > a.nav-link{
    color: #003399 !important;
}

.show{
    display: block !important;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 267px;
    right: 6px;
    z-index: 99;
    border: none;
    outline: 0;
    background-color: #27cfdb;
    color: #fff;
    cursor: pointer;
    border-radius: 0;
    font-size: 18px;
}


#myBtn:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
}

.dropdown-toggle::after:hover {
    background: #000000;
}



























.dropdown-submenu {
    position: relative;
   }
   
   .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
   }
   
   .dropdown-submenu:hover>.dropdown-menu {
    display: block;
   }
   
   .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
   }
   
   .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
   }
   
   .dropdown-submenu.pull-left {
    float: none;
   }
   
   .dropdown-submenu.pull-left>.dropdown-menu {
    left: 100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
   }

   .navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    background: #ccc;
}

.dropdown-menu.extraspace.show{
    margin-left: -40px;

}

.arrow-right{
    float: right;
    margin-right: 1.5px;
    transform: rotate(90deg);
    margin-top: 5px;
}

.arrow-image:hover .arrow-right{
    transform: rotate(0deg);
    transition: 1s transform;
}

.dropdown-menu.show .dropdown-toggle::after{
    display: none;
    
}

a .blinks{
    color:#003399;
    animation: blinktext 1s infinite;
}

@keyframes blinktext{
    0%{color: #ffcc33};
    45%{color:#003399};
    95%{color: #ffcc33};
}