<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">
                                <h5>Copyright Registration</h5>
                <p>Copyright registration is required to protect your original artistic, literary work, music, video, jingles, website, mobile app and software from infringement and being copied. Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
              <p class="text-center text-white">Starts from INR 4,999/- only<br />
                            Arrange call from experts</p>
                            <form [formGroup]="login" novalidate class="form">
                                <div class="ui-form-wraper">
                                   <p class="text-center text-white">{{title}}</p>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Name"
                                        formControlName="name" 
                                        name="name" 
                                        type="text" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                            Name not be blank
                                        </span>
                                        
                                    </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Email Address" formControlName="email" 
                                        name="email" 
                                        type="email"
                                        class="form-control" autocomplete="off">
                                        <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                        Email not be blank
                                                </span>
                                                <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                            Email invalid
                                                </span>
                                        </div>
                                </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                        <input 
                                        placeholder="Mobile No." formControlName="mobile" 
                                        name="mobile" 
                                        type="number" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                Mobile will not be blank
                                            </span>
                                    </div>
                                   </div>
                               </div>
                               <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>



<div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">HIGHLIGHTS</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Concept</h5>

<p>Copyright is a form of the intellectual property provide rights to creator over its literary and artistic works.</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>What can be copyrighted?</h5>

<p>Copyright works include books, sound recordings, music, artistic work, cinematographic films, dramatic, computer programs, databases, advertisements, and paintings.</p>    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Protection from misuse</h5>

<p>Copyright registration helps against infringement and protects author/creator artistic work for a lifetime.</p>

    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Valuable Asset</h5>

<p>Copyright endures the creation of an intangible asset to the artist which can be sold, assigned & authorized to use.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Low-Cost Registration</h5>

<p>As the comparison to its driven benefits cost of copyright registration is very low. Mostly copyright work duration is a lifetime.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Validity</h5>

<p>Copyright work registration mostly valid for a lifetime plus 60 years from the death of an original author.</p>
        </div>
        </div>
        </div>
        </div>
    </div>

    <!-- <div class="container-fluid pt-5 bg-yellow pb-5">
        <div class="row">
        <div class="col">
            <h3><strong>When GST Registration mandatory in India?</strong></h3>


<ul>
    <li><strong>Turnover Criteria:&nbsp;</strong>All taxpayers who have an annual turnover above ₹40 lakhs are required to get new GST registration.</li>
    <li><strong>Causal taxpayer:&nbsp;</strong>If you supply goods or services in events/exhibition where you do not have a permanent place of business, you need to get online GST Registration before starting a business. Such a dealer has to pay GST on the basis of an estimated turnover of 90 days. The validity of causal GST Registration is 90 days.</li>
    <li><strong>NRI taxpayer:&nbsp;</strong>NRI taxpayer, who does not have a place of business in India, wishes to start a business, then he has to apply for GST Registration in India before beginning operations in India. The validity of a new GST registration is 90 days.</li>
    <li><strong>Agents of a supplier &amp; Input service distributor:&nbsp;</strong>All Input service distributor who wants carry-forward benefit of input tax credit requires gst registration.</li>
    <li><strong>Reverse Charge:</strong> A business who requires to pay tax under the reverse charge mechanism need gst registration</li>
    <li><strong>E-Commerce portal:&nbsp;</strong>Every e-commerce portal (such as Amazon or Flipkart) under which multiple vendor’s selling their product requires gst registration.</li>
</ul>
        </div>
        </div>
    </div> -->

    <div class="container-fluid bg-black">
    <div class="container -fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col-8">
                <div class="container">
                        <div class="row">
                        <div class="col">
                <h2 class="text-uppercase text-center mt-2 mb-3"><strong>HOW CAN COPYRIGHT REGISTRATION PROTECT MY WORK?</strong></h2>

                <p>Registered copyright work is an intangible asset and also an intellectual property. By copyrighting the artistic work, you will protect it from infringement and unauthorized reproduction by others. Further, you can securely allow others to use your work on franchise or royalty basis on your own terms and conditions. In fact, you can sell your work to others at a handsome price. Find out more...</p>
                
               </div></div></div>
        </div>
          <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div> 
       
        
                </div>
            </div>
    </div>




            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                            <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                <input type="hidden" name="position" value="2">
                                        <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                        <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                        <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                
                              
                            <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                        </div>
                        </form>    
                    </div>
                    </div>
                </div>




                <div class="container-fluid pt-5 pb-5 bg-black"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR COPYRIGHT REGISTRATION</strong></h2>
                        
                                </div>
                            </div>
                        
                        
                          <div class="row">
                         <div class="col-sm-3">
                        <div class="document-box text-center"> 
                                 <img class="mt-2 mb-2" src="../../assets/images/orgn-work.png" alt="">
                                 <h5>Description of original work</h5>

                        </div>
                        </div>
                        
                        <div class="col-sm-3">
                        <div class="document-box text-center">
                            <img class="mt-2 mb-2" src="../../assets/images/gst-certificate.png" alt="">
                                <h5>Title of original work</h5>
                        </div>
                        </div> 
                        
                         <div class="col-sm-3">
                        <div class="document-box text-center">
                            <img class="mt-2 mb-2" src="../../assets/images/pcard.png" alt="">
                        <h5>Identity proof of Author</h5>
                        </div>
                        </div>
                        
                        <div class="col-sm-3">
                        <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                <h5>Nationality of the Author</h5>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                             <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Basic</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 4999 <br><small><i>Inclusive all taxes</i></small></h4>
                                <div class="pt-3 pb-3"><span>Registration of any Literary, academic &amp; <br><br>any other kind of books</span><br> </div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                    
                         </div> 
                             </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Standard</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 9999 <br><small><i>Inclusive all taxes</i></small></h4>    
                                <div class="pt-2"><div> <span>File Registration of any website, mobile <br><br>app and software products<br><br>or any Artistic Work</span> </div>
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                   
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Premium</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> 14999 <br><small><i>Inclusive all taxes</i></small></h4>
                                                <div>  <span>Registration for any musical or dramatic<br>&nbsp;work, audio recordings, video &amp;<br>&nbsp;cinematography films</span>        
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                  
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                    <input type="hidden" name="position" value="2">
                                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                    
                                                  
                                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                            </div>
                                            </form>    
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>