<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">

                                 <h5>Private Limited Company Annual Compliances</h5>
                <p>Focus on your business growth & leave the company compliances tension to us. We help you to stay update & comply with all the required legal formalities while you sit back at your place & relax.
                    Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
              <p class="text-center text-white">Arrange a Call back from business adviser for Annual Compliance</p>
              <form [formGroup]="login" novalidate class="form">
                <div class="ui-form-wraper">
                   <p class="text-center text-white">{{title}}</p>
                   <div class="form-group">
                    <div class="form-group">
                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                        <input
                        placeholder="Name"
                        formControlName="name" 
                        name="name" 
                        type="text" 
                        class="form-control" autocomplete="off">
                        <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                            
                        </span>
                        
                    </div>
                   </div>
                   <div class="form-group">
                    <div class="form-group">
                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                        <input
                        placeholder="Email Address" formControlName="email" 
                        name="email" 
                        type="email"
                        class="form-control" autocomplete="off">
                        <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                        
                                </span>
                                <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                            
                                </span>
                        </div>
                </div>
                   </div>
                   <div class="form-group">
                    <div class="form-group">
                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                        <input 
                        placeholder="Mobile No." formControlName="mobile" 
                        name="mobile" 
                        type="number" 
                        class="form-control" autocomplete="off">
                        <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                
                            </span>
            
                            <input hidden
                            placeholder="Subject" formControlName="subject" 
                            name="subject" 
                            type="text" 
                            class="form-control" autocomplete="off" [(ngModel)]="subject1">
            
                            <input hidden
                            placeholder="Message" formControlName="message" 
                            name="message" 
                            type="text" 
                            class="form-control" autocomplete="off" [(ngModel)]="message1">
                    </div>
                   </div>
               </div>
               <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>


<!-- <div class="container-fluid pt-3 bg-yellow0 pb-3">
    <div class="row">
    <div class="col"><div class="container">
        <div class="row">
            <div class="col text-center list-hover pt-5 pb-5 mb-5">
                    <h3 class="text-center"><strong>WHAT IS BARCODE?</strong></h3>
                    <p>Barcodes are vertical lines representation that can be scanned electronically to fetch the product details faster.</p>

<p>Barcode is used to encode the product details instantly such as product numbers, serial numbers, and batch numbers. A barcode on product plays a vital role in the supply chain, enabling all participants’ like Manufacturers, transporter, wholesaler to identify products easily.</p>

<p>In addition to that, a&nbsp;barcode on products plays a vital role in a supply chain, supermarkets, transportation, hospitals, and fast-moving retails chains.</p>

<p>EAN-13 is the most commonly used&nbsp;type&nbsp;of barcode that has&nbsp;13 numeric digits. UPC-A barcode is a superset of 12 numeric digits.</p>
            </div>
        </div>
        <div class="row">
            <div class="col list-hover pt-3 pb-3">
                <h3 class="text-center"><strong>IS BARCODE REGISTRATION COMPULSORY?</strong></h3>
                <p>Barcode registration is not a government mandatory requirement. A retail barcode will work fine even without registration because stores enter the barcode number and link it to their billing or inventory software on an individual basis.</p>
    </div>
    <div class="col pt-3 pb-3 list-hover text-center">
            <h3 class="text-center"><strong>BENEFITS OF INTERNATIONAL BARCODE REGISTRATION</strong></h3>

<p>We do not just provide barcode ownership to you. We ensure registration of EAN 13 &amp; UPC barcode on an international barcode database along with product details.</p>

<p>Barcode registration enables visibility on google search for the barcode number affix on the product. On registration, Barcode scanning will return product information from an international database to the readers online.</p>
    </div>
</div>

</div>
</div>
    
</div> 
</div>  -->

 <div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">ANNUAL COMPLIANCES OF PRIVATE LIMITED COMPANY</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Preparation of Books of Accounts&nbsp;</h5>

<p>Company book of accounts includes vouchers,&nbsp;minutes,&nbsp;deeds, writings, documents, and registers pertaining to the transactions of the company.</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Preparation of Financial Statement&nbsp;</h5>

        <p>Preparing general-purpose financial statements; includes the balance sheet, income statement, statement of Profit &amp; Loss, and statement of cash flows.</p>   </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Statutory Audit by Independent Auditor</h5>

<p>Statutory audits performed by qualified auditors are conducted in order to report the state of a company’s finances and accounts to the Indian government.</p>

    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Filing of Annual ROC Returns</h5>

<p>Companies incorporated are required to E-File the audited financial statements &amp; books of accounts&nbsp;with the Registrar of Companies (ROC).</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Filing of Income Tax Returns</h5>

<p>All companies registered Under the Companies Act in India are required to file income tax returns each year on or before&nbsp;30th&nbsp;September.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Maintenance of Statutory Registers</h5>

            <p>Every company incorporated under the Companies Act, 2013 are required maintain certain records about the company in the form of statutory registers.</p>
        </div>
        </div>
        </div>
        </div>
    </div> 


     <div class="container-fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col">
                <div class="container">
                        <div class="row">
                                <div class="col">
                                        <h2 class="text-center mt-2 mb-3"><strong>WHAT ARE THE KEY COMPONENTS OF ANNUAL COMPLIANCES OF A PRIVATE LIMITED COMPANY?</strong></h2>
                                        <p>A company is a separate legal corporate entity and is operated by legal rules and procedures given under the Companies Act 2013.</p>

<p>ROC is also known as Registrar of Companies under the Ministry of Corporate Affairs looks after the compliances of Companies under its jurisdiction. Every Pvt. Ltd. company irrespective of its size has to file returns and documents to comply with the legal requirements given in the Act and is known as ROC compliances.</p>

<p>Failing to comply with rules &amp; guidelines can attract a hefty penalty on the company and their stakeholders</p>

<p><strong>So Let's get insights on what are the key components of annual compliances&nbsp;</strong></p>

<p><span style="color:#ffcc33"><strong>Filing&nbsp;of DIR- 8&nbsp;</strong></span></p>

<p>As per Section 164(2) of Company's&nbsp;Act&nbsp;2013&nbsp;Every Director of the Company in each Financial Year will file with the Company disclosure and non-disqualification.</p>

<p><span style="color:#ffcc33"><strong>Filing&nbsp;of MBP-1&nbsp;</strong></span></p>

<p>As per Section 184(1) of Company's Act 2013&nbsp;Every Director of the Company in First Meeting of the Board of Director in each Financial Year will disclose his interest in other entities under (Form MBP-1)</p>

<p><span style="color:#ffcc33"><strong>Filing&nbsp;of MGT-7</strong></span></p>

<p>As per Section 92 of Company Act 2013,&nbsp;Every Company will file its E-form also known as Annual Return&nbsp;within 60 days&nbsp;of holding MGT-7 Annual General Meeting. Annual Return will be for the period 1 st April to 31st March.</p>

<p><span style="color:#ffcc33"><strong>Filing of AOC-4</strong></span></p>

<p>As per Section 137 of Company Act 2013, Every Company is required to file its Balance Sheet along with a statement of Profit and Loss Account and Director Report in this form.</p>

<p><span style="color:#ffcc33"><strong>Preparation &amp; Filing of Financial Statements along with Form AOC-4</strong></span></p>

<p>Balance Sheet, Statement of Profit &amp; Loss Account (Including Consolidated Financial Statement), Directors’ Report, Auditors’ Report, Cash Flow Statement and Notice of AGM.</p>

<p><span style="color:#ffcc33"><strong>Preparation of Director Report</strong></span></p>

<p>As per Section 134 of Company Act 2013, Directors’ Report will be prepared by a mention of all the information required for Small Company.</p>

<p><span style="color:#ffcc33"><strong>Circulation of Financial Statement&nbsp;</strong></span></p>

<p>As per Section 136 of Company Act 2013, Company will send to the members of the Company approved Financial Statement (including consolidated Financial Statement), Cash Flow Statement, Directors’ Report and Auditors’ Report at least 21 clear days before the Annual General Meeting. (Except in case of AGM is called on Shorter Notice)</p>

<p><span style="color:#ffcc33"><strong>Scheduling of Annual General Meeting</strong></span></p>

<p>As per Section 136 of Company Act 2013, Every Notice of Annual General Meeting will be prepared SS-II as per Section 101 of Companies Act 2013 and Secretarial Standard – II.</p>

<p><span style="color:#ffcc33"><strong>Scheduling Board Meetings</strong></span></p>

<p>As Per Section 173 of Company Act 2013 &amp; Secretarial Standard – I,&nbsp;Every Company shall hold a minimum number of FOUR meetings of its Board of Directors every year in such a manner that maximum gap between two meeting should not be more than 120 (One hundred twenty) days. The company should hold at least 1 (one) Board Meeting every quarter of the calendar year.</p>

<p><span style="color:#ffcc33"><strong>Filing of ADT-1</strong></span></p>

<p>As per Section 139 of Company Act 2013, Every company needs to appoint of Auditor will be appointed for the 5 (Five) years and form ADT-1 will be filed for a 5-years appointment.</p>

<p>After that, every year in AGM shareholder will ratify the Auditor but there is no need to file ADT-1.</p>

<p><span style="color:#ffcc33"><strong>Preparation &amp; Filing of Annual Return</strong></span></p>

<p>As per Section 92 of Company Act 2013, Annual Return of Private Company (Except Small Company) should be signed by Company Secretary in Practice.</p>  </div>
                                    
                                    
                                    </div>
        </div>
        </div>
           <!-- <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Enter Your Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div>   -->
       
        
                </div>
            </div> 
            

<!-- <div class="container">
    <div class="row">
        <div class="col"><h2 class="text-center mt-5 mb-2"><b>SCHEMES FOR MSMES HAVING NSIC REGISTRATION:</b></h2></div>
    </div>
    <div class="row">
        <div class="col pt-3 pb-3 mt-5 list-hover">
                <h2 class="text-uppercase"><b>Single Point Registration Scheme&nbsp;</b></h2>

                <p>In order to increase government purchases from the small-scale units, the government has launched the Single Point Registration scheme (SPRS). MSMEs can get NSIC registration under this scheme and get exempt from Earnest Money Deposit (EMD) in Government Purchases. EMD is taken from the bidder to assure his sincerity in a bid.</p>
                
                <p><strong>Benefits:</strong></p>
                
                <ul>
                    <li>Exemption from payment of Earnest Money Deposit (EMD);</li>
                    <li>Issue of the Sets of Tender absolutely free</li>
                    <li>Under this scheme, 358 items are reserved for purchase from Small scale units only.</li>
                    <li>In this scheme, the Government has set an annual target for Union Ministries, Departments, and PSUs to buy a minimum of 25% of the total annual supplies of Goods &amp; services from MSEs only.</li>
                    <li>Out of this 25% procurement from MSEs, 4% of supply is reserved for the units owned by SC/STs. Besides, 3% is reserved for women entrepreneurs.</li>
                    <li>In tender participation, the MSES bidding in the lowest level price band of L1+15% can also supply a portion up to 25% of the total requirement, by reducing the price to L1 Price. Here, L1 purchasers shall be the medium or large units.</li>
                </ul>
            
            
        </div>
        
        <div class="col pt-3 pb-3 mt-5 list-hover">
                <h2 class="text-uppercase"><strong>MSME Global Mart</strong></h2>
               

<p>NSIC has initiated the B2B portal called MSME Global Mart. This is a one-stop for assistance to MSMEs on the business, technology, and finance. The aim of MSME Global Mart is to boost the core competence of Indian MSMEs. The services of this portal are available through Annual Membership.</p>

<p><strong>Membership Benefits:-</strong></p>

<ul>
<li>Interactive Database of MSMEs</li>
<li>Global &amp; National Tender Notices</li>
<li>Self web development tool</li>
<li>Free mail boxes</li>
<li>Payment Gateway for membership subscription</li>
<li>Popular Products Section</li>
<li>Unlimited global Trade Leads</li>
<li>Trust Seal of NSIC</li>
<li>Multiple Language Support</li>
<li>Other Value added Service</li>
<li>Centralized mail system</li>
</ul>
            </div>
    </div>
   
    <div class="row">
        <div class="col pt-3 pb-3 mb-5 list-hover">
            <h2 class="text-uppercase"><strong>RMA against Bank Guarantee Scheme</strong></h2>

           

<p>Raw Material Assistance (RMA) Scheme provides financial support to MSMEs for the purchase of Raw Material (both indigenous &amp; imported). This gives an opportunity to MSMEs to focus better on manufacturing quality products.</p>

<p><strong>Benefits of this Scheme</strong></p>

<ul>
<li>Financial Assistance for procurement of Raw Material up to 180 days.</li>
<li>MSMEs helped to avail the Economics of Purchases like bulk purchase, cash discount, etc.</li>
</ul>

<p><strong>Note:</strong> Security in the form of Bank Guarantee from Approved Banks.</p>
        </div>
        <div class="col pt-3 pb-3 mb-5 list-hover">
                <h2 class="text-uppercase"><b>Skill Development &amp; Services</b></h2>

                <p>NSIC provides technical support and skill development training to MSMEs at the 'NSIC Technical Services Centres' (NTSC). Besides, it has a number of Training Incubation Centres (TICs) and Livelihood Business Incubation Centres (LBIs) spread across India.</p>
                
                <p><strong>The technical services provided at these centers include:</strong></p>
                
                <ul>
                    <li>Skill-development in Hi-Tech and conventional trades,</li>
                    <li>Material and product testing at NABL &amp; BIS accredited laboratories,</li>
                    <li>Energy audit,</li>
                    <li>Environmental management.</li>
                </ul>
            
            
        </div>
    </div>
   
</div> -->

<!-- <div class="container-fluid bg-black pt-5 pb-5">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col"><h2 class="text-center mb-3">BROAD CATEGORIES OF ISO CERTIFICATION STANDARDS</h2></div>
                </div>
                <div class="row">
                    <div class="col"><p> <b>ISO 9001</b> ensure company product &amp; services meets customer expectations and enhance customer satisfaction.</p></div>
                    <div class="col"><p><b>ISO 14001</b> maps out a framework that an organization can follow to set up an effective environmental management system.</p></div>
                    <div class="col"><p><b>OHSAS 18001</b> allows a company to show their customers that company has effective health and safety management system.</p></div>
                    <div class="col"><p><b>ISO 22000</b> allows a company to show their customers that company has effective food safety management.</p></div>
                </div>
                <div class="row">
                        <div class="col"><p><b>ISO 20000</b> allows demonstrating excellence and prove best practice in IT &amp; improvement in the delivery of IT services.</p></div>
                        <div class="col"><p><b>ISO 27001</b> describes a best practice of company who involves in the information security management system (ISMS).</p></div>
                        <div class="col"><p><b>CE Marking</b> on any brand is a manufacturer's affirmation that the product has complied with the necessary requirements of the applicable European health, safety, and environmental protection benchmark.</p></div>
                        <div class="col"><p><b>ISO 50001</b> describes best energy management practices which outline using energy efficiently helps organizations save money as well as helping to conserve resources and tackle climate change.</p></div>
                    </div>
            </div>
        </div>
    </div>
</div> -->

            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                    <form [formGroup]="logins" novalidate class="form">
                                        <div class="ui-form-wraper">
                                           <p class="text-center text-white">{{title}}</p>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                <input
                                                placeholder="Name"
                                                formControlName="name" 
                                                name="name" 
                                                type="text" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="logins.get('name').touched && logins.get('name').invalid">
                                                   
                                                </span>
                                                
                                            </div>
                                           </div>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                <input
                                                placeholder="Email Address" formControlName="email" 
                                                name="email" 
                                                type="email"
                                                class="form-control" autocomplete="off">
                                                <div *ngIf="logins.get('email').touched && logins.get('email').invalid">
                                                        <span class="text-danger"  *ngIf="logins.get('email').errors.required">
                                                                
                                                        </span>
                                                        <span class="text-danger"  *ngIf="logins.get('email').errors.pattern">
                                                                    
                                                        </span>
                                                </div>
                                        </div>
                                           </div>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                <input 
                                                placeholder="Mobile No." formControlName="mobile" 
                                                name="mobile" 
                                                type="number" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="logins.get('mobile').touched && logins.get('mobile').invalid">
                                                        
                                                    </span>
                                                
                                                
                                                    <input hidden
                                                    placeholder="Subject" formControlName="subject" 
                                                    name="subject" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off" [(ngModel)]="subject2">
                                    
                                                    <input hidden
                                                    placeholder="Message" formControlName="message" 
                                                    name="message" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off" [(ngModel)]="message2">
                                            </div>
                                           </div>
                                        </div>
                                       <button [disabled]="logins.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit1()">Submit</button>
                                    </form>
                                </div>
                           
                    </div>
                    </div>
                </div>




                <div class="container-fluid bg-black pt-5 pb-5"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-3 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR PRIVATE LTD ANNUAL COMPLIANCE</strong></h2>
                        
                                </div>
                            </div>
                      
                        
                           <div class="row">
                         <div class="col-sm-3">
                        <div class="document-box text-center"> 
                                 <img class="mt-2 mb-2" src="../../assets/images/baccount.png" alt="">
                                 <h5>Bank Statement</h5>

                                 

                        </div>
                        </div>
                        <div class="col-sm-3">
                                <div class="document-box text-center"> 
                                         <img class="mt-2 mb-2" src="../../assets/images/digitalediting.png" alt="">
                                         <h5>Digital Signature Certificate</h5>
                                               
                                         
                                </div>
                                </div>
                                <!-- <div class="col-sm-3">
                                        <div class="document-box text-center"> 
                                                 <img class="mt-2 mb-2" src="../../assets/images/formicon.png" alt="">
                                                 <h5>Details of Project</h5>

                                                    <p>Project Details</p>
                                                    <p>Promoter Details</p>
                
                                        </div>
                                        </div>
                        <div class="col-sm-3">
                        <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                <h5>Last 3 Years Financial Statments</h5>
                        </div>
                        </div> -->
                        </div> 
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                            <form [formGroup]="loginss" novalidate class="form">
                                                <div class="ui-form-wraper">
                                                   <p class="text-center text-white">{{title}}</p>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                        <input
                                                        placeholder="Name"
                                                        formControlName="name" 
                                                        name="name" 
                                                        type="text" 
                                                        class="form-control" autocomplete="off">
                                                        <span class="text-danger" *ngIf="loginss.get('name').touched && loginss.get('name').invalid">
                                                           
                                                        </span>
                                                        
                                                    </div>
                                                   </div>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                        <input
                                                        placeholder="Email Address" formControlName="email" 
                                                        name="email" 
                                                        type="email"
                                                        class="form-control" autocomplete="off">
                                                        <div *ngIf="loginss.get('email').touched && loginss.get('email').invalid">
                                                                <span class="text-danger"  *ngIf="loginss.get('email').errors.required">
                                                                        
                                                                </span>
                                                                <span class="text-danger"  *ngIf="loginss.get('email').errors.pattern">
                                                                            
                                                                </span>
                                                        </div>
                                                </div>
                                                   </div>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                        <input 
                                                        placeholder="Mobile No." formControlName="mobile" 
                                                        name="mobile" 
                                                        type="number" 
                                                        class="form-control" autocomplete="off">
                                                        <span class="text-danger" *ngIf="loginss.get('mobile').touched && loginss.get('mobile').invalid">
                                                                
                                                            </span>
                                                        
                                                        
                                                            <input hidden
                                                            placeholder="Subject" formControlName="subject" 
                                                            name="subject" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off" [(ngModel)]="subject3">
                                            
                                                            <input hidden
                                                            placeholder="Message" formControlName="message" 
                                                            name="message" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off" [(ngModel)]="message3">
                                                    </div>
                                                   </div>
                                                </div>
                                               <button [disabled]="loginss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit2()">Submit</button>
                                            </form>
                                        </div>
                                
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                             <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Basic</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 19999 <br><small><i>Inclusive all taxes</i></small></h4>
                                <div class="pt-3 pb-3">Preparation of Books of Accounts<br>Preparation of Financial Statement, Director Report, Notice of AGM&nbsp;<br>Filing of ROC Returns&nbsp;<br>FIling of Income Tax Returns&nbsp;<br>of the company having less than 200 transactions in a financial year&nbsp;    </div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                    
                         </div> 
                             </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Standard</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 24999 <br><small><i>Inclusive all taxes</i></small></h4>    
                                <div class="pt-2"><br>Preparation of Books of Accounts<br>Preparation of Financial Statement, Director Report, Notice of AGM&nbsp;<br>Filing of ROC Returns&nbsp;<br>FIling of Income Tax Returns&nbsp;<br>of the company has transactions more than 200 in a financial year&nbsp; <br>      <br>   <br> 
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                   
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Premium</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> 22999 <br><small><i>Inclusive all taxes</i></small></h4>
                                                <div><br>Preparation of Books of Accounts<br>Preparation of Financial Statement, Director Report, Notice of AGM&nbsp;<br>Filing of ROC Returns&nbsp;<br>FIling of Income Tax Returns&nbsp;<br>Secretarial Compliances&nbsp;<br>Preparation of Minutes &amp; Other Statutory Registers&nbsp;<br>  <br>   <br>          
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                  
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                            <form [formGroup]="loginsss" novalidate class="form">
                                                                <div class="ui-form-wraper">
                                                                   <p class="text-center text-white">{{title}}</p>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input
                                                                        placeholder="Name"
                                                                        formControlName="name" 
                                                                        name="name" 
                                                                        type="text" 
                                                                        class="form-control" autocomplete="off">
                                                                        <span class="text-danger" *ngIf="loginsss.get('name').touched && loginsss.get('name').invalid">
                                                                           
                                                                        </span>
                                                                        
                                                                    </div>
                                                                   </div>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input
                                                                        placeholder="Email Address" formControlName="email" 
                                                                        name="email" 
                                                                        type="email"
                                                                        class="form-control" autocomplete="off">
                                                                        <div *ngIf="loginsss.get('email').touched && loginsss.get('email').invalid">
                                                                                <span class="text-danger"  *ngIf="loginsss.get('email').errors.required">
                                                                                        
                                                                                </span>
                                                                                <span class="text-danger"  *ngIf="loginsss.get('email').errors.pattern">
                                                                                            
                                                                                </span>
                                                                        </div>
                                                                </div>
                                                                   </div>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input 
                                                                        placeholder="Mobile No." formControlName="mobile" 
                                                                        name="mobile" 
                                                                        type="number" 
                                                                        class="form-control" autocomplete="off">
                                                                        <span class="text-danger" *ngIf="loginsss.get('mobile').touched && loginsss.get('mobile').invalid">
                                                                                
                                                                            </span>
                                                                        
                                                                        
                                                                            <input hidden
                                                                            placeholder="Subject" formControlName="subject" 
                                                                            name="subject" 
                                                                            type="text" 
                                                                            class="form-control" autocomplete="off" [(ngModel)]="subject4">
                                                              
                                                                            <input hidden
                                                                            placeholder="Message" formControlName="message" 
                                                                            name="message" 
                                                                            type="text" 
                                                                            class="form-control" autocomplete="off" [(ngModel)]="message4">
                                                                    </div>
                                                                   </div>
                                                                </div>
                                                               <button [disabled]="loginsss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit3()">Submit</button>
                                                              </form></div>
                                            
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>