<div class="container">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">CAREER</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">CAREER</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">FLASH UPDATE</a>
          </li> -->
      </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active"><br>
        <h3>Career Form</h3>
       



<div class="container">
<div class="row">
    <div class="col">
        <br /><br />
        <form [formGroup]="careerform" novalidate class="form">
            <div class="row">
            <div class="col">
            <div class="form-group">
                <label for="name">Position Name <span class="text-danger" *ngIf="careerform.get('name').touched && careerform.get('name').invalid">
                        -- not be blank
                    </span></label>
                <input type="text" class="form-control" name="name" id="name" formControlName="name" autocomplete="off">
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="model">No. Of Opening <span class="text-danger" *ngIf="careerform.get('opens').touched && careerform.get('opens').invalid">
                        -- not be blank
                    </span></label>
                <input type="text" class="form-control" name="opens" id="opens" formControlName="opens" autocomplete="off">
            </div>
        </div>
            </div>
            <div class="row">
        <div class="col">
            <div class="form-group">
                    <label for="lighttype">Location <span class="text-danger" *ngIf="careerform.get('location').touched && careerform.get('location').invalid">
                            -- not be blank
                         </span></label>    

                         <input type="text" class="form-control" name="location" id="location" formControlName="location" autocomplete="off">
                  

               
            </div>
            </div>
           </div>
           <div class="row">
        <div class="col">
            <label for="description">Application <span class="text-danger" *ngIf="careerform.get('description').touched && careerform.get('description').invalid">
                -- not be blank
</span></label>
            <textarea rows="6"
            formControlName="description" 
            name="description" 
            type="text" 
            class="form-control"></textarea>
        </div>
        </div>
    <br /><br />
    <button [disabled]="careerform.invalid" class="btn btn-primary" (click)="addproduct()">Submit Product</button> &#160;&#160;&#160;      
    <button [disabled]="careerform.invalid" class="btn btn-primary">Cancel</button>
    </form>
        <br /><br />
    </div>
</div>
</div>


<div class="container">
<div class="row border-bottom" *ngFor="let post of data">
    <div class="col-3">
        <img src="../../assets/images/product/{{post.image}}" alt="">
    </div>
    <div class="col-6">
        <ul class="list-no-style">
        <li><b>Position Name:</b> {{post.name}}</li>
        <li><b>No. of Opening:</b> {{post.open}}</li>
        <li><b>Location:</b> {{post.scolors}}</li>
        <li><b>Description:</b> {{post.description}}</li>
        </ul>
    </div>
    <div class="col-3 text-right">
        <button class="btn btn-success" (click)="updateitem(post)">Update</button> &#160;&#160;&#160; <button class="btn btn-danger" (click)="deleteitem(post)">Delete</button>
    </div>
   
</div>
</div>

</div>
<div id="menu1" class="container tab-pane fade"><br>
<h3>Career Form</h3>

</div>
</div>
</div>