<div class="container">
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">CAREER</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">CAREER</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">FLASH UPDATE</a>
          </li> -->
      </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active"><br>
        <h3>Career Form</h3>
       



<div class="container">
<div class="row">
    <div class="col">
        <br /><br />
        <form [formGroup]="careerform" novalidate class="form">
            <div class="form-group">
                <label for="name">Position Name <span class="text-danger" *ngIf="careerform.get('position').touched && careerform.get('position').invalid">
                        -- not be blank
                    </span></label>
                <input type="text" class="form-control" name="position" id="position" formControlName="position" autocomplete="off">
            </div>
        
            <div class="form-group">
                <label for="model">Location <span class="text-danger" *ngIf="careerform.get('location').touched && careerform.get('location').invalid">
                        -- not be blank
                    </span></label>
                <input type="text" class="form-control" name="location" id="location" formControlName="location" autocomplete="off">
            </div>
        
            <div class="form-group">
                <label for="mrp">Responsibilities <span class="text-danger" *ngIf="careerform.get('responce').touched && careerform.get('responce').invalid">
                        -- not be blank
                    </span></label>
                <input type="text" class="form-control" name="responce" id="responce" formControlName="responce" autocomplete="off">
            </div>
        
            <div class="form-group">
                    <label for="lighttype">Education Requirement(s): <span class="text-danger" *ngIf="careerform.get('education').touched && careerform.get('education').invalid">
                            -- not be blank
                         </span></label>    
                         <input type="text" class="form-control" name="education" id="education" formControlName="education" autocomplete="off">
        
               
            </div>
            <div class="form-group">
                <label for="lighttype">Message: <span class="text-danger" *ngIf="careerform.get('message').touched && careerform.get('message').invalid">
                        -- not be blank
                     </span></label>    
                     <textarea rows="6" type="text" class="form-control" name="message" id="message" formControlName="message" autocomplete="off"></textarea>
        
           
        </div>
        <button [disabled]="careerform.invalid" class="btn btn-primary" (click)="addcareer()">Submit Product</button> &#160;&#160;&#160;      
        <button [disabled]="careerform.invalid" class="btn btn-primary">Cancel</button>
            
        </form>
        <br /><br />
    </div>
</div>
</div>


<div class="container">
<div class="row border-bottom" *ngFor="let post of data">
    
    <div class="col-9">
        <ul class="list-no-style">
            <!-- <li>{{post.career_id}}</li> -->
        <li><b>Position Name:</b> {{post.position}}</li>
        <li><b>Location:</b> {{post.location}}</li>
        <li><b>Responsibility:</b> {{post.responce}}</li>
        <li><b>Education Requirement:</b> {{post.education}}</li>
        <li><b>Description:</b> {{post.message}}</li>
        </ul>
    </div>
    <div class="col-3 text-right">
       <button class="btn btn-danger" (click)="deleteitem(post)">Delete</button>
    </div>
   
</div>
</div>

</div>
<!-- <div id="menu1" class="container tab-pane fade"><br>
<h3>Career Form</h3>

</div> -->
</div>
</div>