<div class="container">
    <div class="row">
        <div class="col mt-5 mb-5">
                <h2>Confidentiality Policy</h2>
                <p>Cogentca always considers a protection of customer information as a crucial part of data protection policy.</p>
                <p>We are committed to maintaining confidentiality of the information &amp; documents shared by our prospective customers with us.&nbsp;</p>
                <h3 class="text-uppercase mt-5 text-center"><b><span style="color: #ffcc00;">We Do Not</span></b></h3>
                <p class="text-left">- Never ever, disclose any information pertaining to our Clients to any third parties <strong>except</strong> in a case where it is necessary to serve our services to customers &amp; to government authorities.</p>
                <p class="text-left">- Never ever, disclose our Client list or Client Information to third parties without their consent.</p>
                <p class="text-left">- Never ever, sell client information to third parties</p>
        </div>
    </div>
</div>