<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">
                                <h5>GST modification</h5>
                <p>We can help you fulfil all the formalities regarding the GST modification and amendment of GST registration. Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
            <form method="post" name="frmHeaderSection" action="" novalidate="novalidate">
                 <div class="ui-form-01-wraper">
                        <p class="text-center text-white">Arrange a Call back from business adviser for GST modification</p>
                    <div class="form-group">
                        <input type="text" placeholder="Name" name="name" maxlength="50" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email Address" name="email" maxlength="50" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Mobile No" name="number" maxlength="50" class="form-control" formControlName="number">
                    </div>
                </div>
                <button class="btn btn-primary form-control">Submit</button>
            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>



<div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">ABOUT GST MODIFICATION</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Who can get GST modification?</h5>

        <p>Anyone whose GST application is being processed as well as whose business is already registered under GST.</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>What all can be changed?</h5>

<p>Details like Name &amp; place of business, addition/deletion of partners or directors and contact details of the authorized signatory.</p>      </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Voluntary&nbsp;modification&nbsp;</h5>

<p>In case of any error in GST certificate is detected or a change is required, GST modification can be done immediately.&nbsp;</p>

    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Other changes</h5>

            <p>In case, any other details have to be changed besides the aforementioned,&nbsp; GST modification will be done by only filing GST REG 14.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Change in the Company Name.</h5>

<p>If there is a change in the name of the business&nbsp;firm or the company name, the same should be immediately updated with GST modification.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Can PAN Be changed?</h5>

<p>No. If there is a change of a PAN of a business firm, it can be updated with new GST registration.</p>

        </div>
        </div>
        </div>
        </div>
    </div>

    <!-- <div class="container-fluid pt-5 bg-yellow pb-5">
        <div class="row">
        <div class="col">
            <h3><strong>When GST Registration mandatory in India?</strong></h3>


<ul>
	<li><strong>Turnover Criteria:&nbsp;</strong>All taxpayers who have an annual turnover above ₹40 lakhs are required to get new GST registration.</li>
	<li><strong>Causal taxpayer:&nbsp;</strong>If you supply goods or services in events/exhibition where you do not have a permanent place of business, you need to get online GST Registration before starting a business. Such a dealer has to pay GST on the basis of an estimated turnover of 90 days. The validity of causal GST Registration is 90 days.</li>
	<li><strong>NRI taxpayer:&nbsp;</strong>NRI taxpayer, who does not have a place of business in India, wishes to start a business, then he has to apply for GST Registration in India before beginning operations in India. The validity of a new GST registration is 90 days.</li>
	<li><strong>Agents of a supplier &amp; Input service distributor:&nbsp;</strong>All Input service distributor who wants carry-forward benefit of input tax credit requires gst registration.</li>
	<li><strong>Reverse Charge:</strong> A business who requires to pay tax under the reverse charge mechanism need gst registration</li>
	<li><strong>E-Commerce portal:&nbsp;</strong>Every e-commerce portal (such as Amazon or Flipkart) under which multiple vendor’s selling their product requires gst registration.</li>
</ul>
        </div>
        </div>
    </div> -->


    <div class="container-fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col">
                <div class="container">
                        <div class="row">
                        <div class="col">
                <h2 class="text-uppercase text-center mt-2 mb-3"><strong>WHAT IS MEANT BY GST MODIFICATION?</strong></h2>

                <p>Any change or alteration made in the GST Registration or the details entered in the GST  certificate is referred to as GST modification. One may opt for Amendment in GST Registration if he wishes from composite to normal scheme, or if there are mistakes in GST registration. To get GST modification, you need to file form GST REG 14.</p>

                <h2 class="text-uppercase text-center mt-2 mb-3"><strong>WHAT WAS THE AMENDMENT MADE AS REGARDS GST MODIFICATION?</strong></h2>

                <p>Since the beginning of GST regime in 2017, the taxpayers could register under 2 schemes- normal scheme and composite scheme. One could also shift from normal to composite scheme. </p>
                <p>However, the government had declared 31st March 2018 as the deadline to get GST Registration under composite scheme by filing Form GST CMP-02. Now, one can't shift from normal to the composite scheme but can go vice-versa with a GST modification.</p>
               </div></div></div>
        </div>
         <!-- <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Enter Your Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div>  -->
       
        
                </div>
            </div>





            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                            <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                <input type="hidden" name="position" value="2">
                                        <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                        <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                        <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                
                              
                            <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                        </div>
                        </form>    
                    </div>
                    </div>
                </div>




                <div class="container-fluid pt-5 pb-5 bg-black"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR GST MODIFICATION</strong></h2>
                        
                                </div>
                            </div>
                        <!-- <div class="row">
                            <div class="col">
                                <ul>
                                    <li><strong>PAN Card of the Business or Applicant</strong> GSTIN is linked to the PAN of the business. Hence, PAN is required to obtain GST certificate.</li>
                                    <li><strong>Identity and Address Proof of Promoters</strong>&nbsp;documents like PAN, passport, driving license, aadhaar card or voters identity card must be submitted for all the promoters.</li>
                                    <li><strong>Address Proof for Place of Business</strong> Documents like rental agreement or sale deed along with copies of electricity bill or latest property tax receipt or municipal khata copy must be submitted for the address mentioned in the GST application.</li>
                                    <li><strong>Bank Account Proof</strong> Scanned copy of the first page of bank passbook showing a few transaction and address of the business must be submitted for the bank account mentioned in the registration application.</li>
                                </ul>
                            </div>
                        </div> -->
                        
                          <div class="row">
                        <div class="col-sm-3">
                        <!-- <div class="document-box"> -->
                                <!-- <img class="mt-2 mb-2" src="../../assets/images/id-card.png" alt="">
                                <h4>Identity Proof</h4>

                                <p>Aadhar Card<br />Driving License<br />Election Id Card<br />Passport</p> -->
                        <!-- </div> -->
                        </div>
                        
                        <div class="col-sm-3">
                        <div class="document-box text-center">
                            <img class="mt-2 mb-2" src="../../assets/images/id-card.png" alt="">
                                <h4>Documentary Proof of Changes</h4>

                                <!-- <p>Aadhar Card<br />Driving License<br />Election Id Card<br />Passport</p> -->

                           
                        </div>
                        </div> 
                        
                         <div class="col-sm-3">
                        <div class="document-box text-center">
                            <img class="mt-2 mb-2" src="../../assets/images/gst-certificate.png" alt="">
                        <h5>GST Certificate</h5>
                        </div>
                        </div>
                        
                        <div class="col-sm-3">
                        <!-- <div class="document-box"> -->
                                <!-- <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                <h5>Passport size Photograph</h5> -->
                        <!-- </div> -->
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                            <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Basic</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 999 <br><small><i>Inclusive all taxes</i></small></h4>
                                <div class="pt-3 pb-3">Change in Non-core fields <br>(those related&nbsp;to GST application <br>except for legal name of the business, <br>Addition and deletion of stakeholder's detail and <br>principal or additional place of business).    </div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                   
                                    <!-- <div class="card-back">
                                        <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                        <div class="ui-form-01">                   
                                            <form class="tab-1" name="frmPackageSignup1" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111135">
                                                 <div class="ui-form-01-wraper">
                                                     <p><span>Signup</span></p>
                                                    <p class="package-signup-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-email"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                        <i class="icofont icofont-mobile-phone"></i>
                                                    </div>
                                                    <p class="package-processing"></p>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                    <p class="log">login</p>
                                                    
                                                </div>
                                                
                                                
                                            </form>
                                            
                                            <form class="tab-2" name="frmPackageSignin1" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111135">
                                                 <div class="ui-form-01-wraper">
                                                    <p><span>Login</span></p>
                                                    <p class="package-login-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                   <div style="position:relative;">
                                                            <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                            <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                            </div>
                                                        </div>
                                                    
                                                    <p class="package-processing"></p>
                                                     <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                    <p class="sig">Signup</p>
                                                    <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Standard</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 1499 <br><small><i>Inclusive all taxes</i></small></h4>    
                                <div class="pt-2">Change in core fields-<br>
                                    Legal Name of the Business<br /><br />Addition / Deletion of Stakeholders<br /><br />Principal / Additional Place of Business   
                               
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                    <!-- <div class="card-back">
                                        <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                        <div class="ui-form-01">                   
                                            <form class="tab-1" name="frmPackageSignup2" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111136">
                                                 <div class="ui-form-01-wraper">
                                                     <p><span>Signup</span></p>
                                                    <p class="package-signup-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-email"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                        <i class="icofont icofont-mobile-phone"></i>
                                                    </div>
                                                    <p class="package-processing"></p>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                    <p class="log">login</p>
                                                    
                                                </div>
                                                
                                                
                                            </form>
                                            
                                            <form class="tab-2" name="frmPackageSignin2" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111136">
                                                 <div class="ui-form-01-wraper">
                                                    <p><span>Login</span></p>
                                                    <p class="package-login-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                   <div style="position:relative;">
                                                            <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                            <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                            </div>
                                                        </div>
                                                    
                                                    <p class="package-processing"></p>
                                                     <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                    <p class="sig">Signup</p>
                                                    <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Premium</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> 1499 <br><small><i>Inclusive all taxes</i></small></h4>
                                                <div> Change from Composite to Regular scheme<br><br>       
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                    <!-- <div class="card-back">
                                        <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                        <div class="ui-form-01">                   
                                            <form class="tab-1" name="frmPackageSignup3" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111137">
                                                 <div class="ui-form-01-wraper">
                                                     <p><span>Signup</span></p>
                                                    <p class="package-signup-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-email"></i>
                                                    </div>
                                                    <div class="input-icon">
                                                        <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                        <i class="icofont icofont-mobile-phone"></i>
                                                    </div>
                                                    <p class="package-processing"></p>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                    <p class="log">login</p>
                                                    
                                                </div>
                                                
                                                
                                            </form>
                                            
                                            <form class="tab-2" name="frmPackageSignin3" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111137">
                                                 <div class="ui-form-01-wraper">
                                                    <p><span>Login</span></p>
                                                    <p class="package-login-error"></p>
                                                    <div class="input-icon">
                                                        <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                        <i class="icofont icofont-ui-user"></i>
                                                    </div>
                                                   <div style="position:relative;">
                                                            <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                            <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                            </div>
                                                        </div>
                                                    
                                                    <p class="package-processing"></p>
                                                     <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                    <p class="sig">Signup</p>
                                                    <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                    <input type="hidden" name="position" value="2">
                                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                    
                                                  
                                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                            </div>
                                            </form>    
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>