<div class="container-fluid">
    <div class="row">
        <div class="col text-center lesspadding">
            <div class="aboutimage"></div>
            <div class="part">
            <h4 class="text-center">WE PRACTICE ONLINE, FAST & COST EFFECTIVE</h4>
            <p>E-Startup India is a team of highly professional CA, CS, Lawyers who driving towards integration of technology with traditional practices to cater the need of MSMEs in the fast moving and cost effective world. We render range of online services for businesses running in India like Company Incorporation, GST Registration, ISO certification, Import Export Code, MSME Registration, Trademark, Copyright, Patent, Tax Return filing, do accounting, legal and financial compliance(s).</p>
        </div>
    </div>
    </div>
</div> 
<div class="container">
    <div class="row">
        <div class="col more">
                <h4 class="text-center">WHY WE ARE HERE?</h4>
                <p>As Indian economy moving towards internet era with electrifying pace & where digital devices become a core tool for every business. E-Startup India make it simple for every businessman to sort out their legal, tax and financial things online while sitting at their place and get it done within minimal time bound in a cost effective manner.</p>
                
                <p><b>The new information technology... Internet and e-mail... have practically eliminated the physical costs of communications.</b></p>
                
                <p class="text-right"><b>Peter Drucker</b></p>
        </div>
        <div class="col-2 more">
            <img class="width-100" src="../../assets/images/think_ideass.png" alt="">
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row bgcolor more">
        <div class="col">
            <p>Government of India is emphasizing on information technology and digital payments & we committed to them.</p>
        </div>
        <div class="col">
            <p>Our dedicated E-commerce portal helps to choose from variety of online services that suits your business requirement.</p>
        </div>
        <div class="col">
            <p>Boundaries make differences but internet don't. In today era only a player can win the race who use digital tools.</p>
        </div>
    </div>
    <div class="row more">
        <div class="col lesspadding">
            <h4 class="text-center">OUR TEAM</h4><br />
            <img class="width-100" src="../../assets/images/initial-tax-review.jpeg" alt="">
        </div>
    </div>
</div>

        <div class="container">
            <h2 class="text-center">Connect with us</h2>
   <br><br>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 box-center">
                    <form name="connectus" id="connectus" class="">
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="fullname" placeholder="Full Name">
                            </div>                        
                            <div class="col-sm-6">
                                <input type="email" class="form-control" name="emailid" placeholder="Email Address">
                            </div>
                        </div> 
                        
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <input type="tel" class="form-control" name="mobilenumber" placeholder="Phone Number">
                            </div>                        
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="subject" placeholder="Subject">
                            </div>
                        </div> 
                        <div class="form-group">
                        <textarea class="form-control" rows="4" name="message" placeholder="Message"></textarea>
                    </div>
                        <button type="submit" name="connectwithus" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>            
            </div>
        </div><br /><br /><br /><br />
    