<div class="container-fluid">
    <div class="row">
        <div class="col text-center lesspadding">
            <div class="aboutimage"></div>
            <div class="part">
            <h4 class="text-center text-uppercase mb-3">Cogent Consulting & Advisory Pvt. Ltd.</h4>
            <p>Cogent Consulting and Advisory (COGENT CA), is a team of Tax  & Legal consultants, based in New Delhi, providing services pan India. COGENT CA has professional expertise dealing with matter related to Company Tax & Law, Securities Laws, Labour Laws, Intellectual Property Laws, Foreign Exchange Laws (FEMA & R.B.I. Regulations / Approvals), Due Diligence, Transaction documents, Joint Ventures, Foreign Collaborations, Mergers and Acquisitions, Listings and Capital Market Transactions,Accounting, Indirect and direct taxation matters, such other allied Legal matters & All Business Registration.</p>
            <p>Our key offerings also include setting up compliances, approvals from all the government departments including approvals from the Registrar of Companies (ROC), Ministry of Corporate Affairs (MCA), Reserve Bank of India (RBI), National Company Law Tribunal (NCLT), Director General of Foreign Trade (DGFT), Our approach builds on a commitment to quality and speedy services in commercial and corporate law, Financial cases and petitions in every forum of Justice. Our aim is to provide positive and constructive solution.</p>
            <p>Our team has professional C.A / C.S & Lawyers expertise in handling complex legal issues touching on almost all aspects of
                Commercial and Corporate laws.</p>
        </div>
    </div>
    </div>
</div> 
<div class="container">
    <div class="row">
        <div class="col more">
                <h4 class="text-uppercase mb-3">Why Choose Cogent Consulting & Advisory</h4>
                <h5>WE PRACTICE ONLINE/OFFLINE, FAST & COST EFFECTIVE</h5>
                <p>We are a team of young passionate professionals working to make a difference in the lives of entrepreneurs by helping them achieve the organization goals.We assure our clients with Complete Confdentiality, timely, reliable and transparent services. We have an efficient team to execute the assignments and to conclude with positive solutions and results which is the ultimate need of the client. The client is also much comfortable when he is getting all the related services under the one roof. We work by placing ourselves at customers place in order to understand each facts of the case. We have handled many assignments which enabled us to understand the working of Regulatory authorities. 
                    Our mission is to ease the compliance for you so that you can focus on your business and forget the rest.  </p>
                
                
        </div>
        <div class="col-2 more">
            <img class="width-100" src="../../assets/images/think_ideass.png" alt="">
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row bgcolor more">
        <div class="col">
            <p>Government of India is emphasizing on information technology and digital payments & we committed to them.</p>
        </div>
        <div class="col">
            <p>Our dedicated E-commerce portal helps to choose from variety of online services that suits your business requirement.</p>
        </div>
        <div class="col">
            <p>Boundaries make differences but internet don't. In today era only a player can win the race who use digital tools.</p>
        </div>
    </div>
    <!-- <div class="row more">
        <div class="col lesspadding">
            <h4 class="text-center">OUR TEAM</h4><br />
            <img class="width-100" src="../../assets/images/initial-tax-review.jpg" alt="">
        </div>
    </div> -->
</div>

<div class="container">
    <div class="row">
        <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col mt-3 mb-3">
                            <h2 class="text-uppercase text-center"><b>Our Advisor</b></h2>
                            <p class="mt-3">Our Advisory Team is built on the foundation of quality, trust, values, commitment and client satisfaction. We believe that a right combination of industry experience, work exposure, qualifications and technical expertise is essential in order to demonstrate team-work. Our Team is organised into a matrix of various services offeringcoupled with client facing teams.</p>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col list-hover pt-3 pb-3">
                                <figure class="float-right">
                                    <img style="width: 250px;" src="../../assets/images/advisor/roshani.png" alt="">
                                </figure>
                                <p>CA Roshani Anand has great exposure in Audit and Assurance, ROC, New Business Set Up, Internal Control Systems Development, Cost Optimization Consultancy especially for SME, Proficiency in application of accounting standard and finalization of balance sheet complying with the accounting’s standard issued by ICAI. He has also successfully represented clients before tax authorities at various levels on Tax Litigation Matters under Income Tax.</p>

                                <p><b>Areas of Specialization:</b></p> 
                                <ul class="list-check">    
                                <li>Audit and Assurance</li>
                                <li>Due Diligence</li>
                                <li>Internal Financial Control</li>
                                <li>Corporate tax advisory</li>
                                <li>Payroll Advisory</li>
                                <li>Entry Strategy</li>
                                <li>Business Valuation</li>
                                <li>Litigation support services</li>
                                <li>Goods and Service Tax (GST) Advisory</li>
                            </ul>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col list-hover pt-3 pb-3">
                                    <figure class="float-right">
                                        <img style="width: 250px;" src="../../assets/images/advisor/raghav.png" alt="">
                                    </figure>
                                    <p>CA Raghav Goyal has successfully represented clients before tax authorities at various levels on complex tax litigation matters under Income tax and Goods & Service tax.</p>
    
                                    <p><b>Areas of Specialization:</b></p> 
                                    <ul class="list-check">    
                                    <li>Goods and Service Tax (GST) Advisory</li>
                                    <li>Business Process outsourcing</li>
                                    <li>Implementation of effective Internal financial control</li>
                                    <li>Business valuation</li>
                                    <li>Implementation of effective MIS and Budgeting system</li>
                                    <li>Risk Management</li>
                                    <li>Working capital management</li>
                                    
                                </ul>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col list-hover pt-3 pb-3">
                                        <figure class="float-right">
                                            <img style="width: 250px;" src="../../assets/images/advisor/rajat.png" alt="">
                                        </figure>
                                        <p>CA Rajat Singh Shekhawat has a strong legal and tax background. He is mentoring many Startups and providing them business insight to achieve success in their business. He helps to invest in right business opportunities.</p>
        
                                        <p><b>Areas of Specialization:</b></p> 

                                        <ul class="list-check">    
                                        <li>Internal Control Evaluation</li>
                                        <li>Assurance – Financial Statements Audit</li>
                                        <li>Financial Reporting & Accounting</li>
                                        <li>Management Accounting</li>
                                        <li>Certification Services</li>
                                        
                                        
                                    </ul>
                                    </div>
                                </div>
                    </div>
        </div>
    </div>
</div>

        <div class="container mt-5 pt-5">
            <h2 class="text-center text-uppercase"><b>Contact with us</b></h2>
   <br><br>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 box-center">
                    <form name="connectus" id="connectus" class="">
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="fullname" placeholder="Full Name">
                            </div>                        
                            <div class="col-sm-6">
                                <input type="email" class="form-control" name="emailid" placeholder="Email Address">
                            </div>
                        </div> 
                        
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <input type="tel" class="form-control" name="mobilenumber" placeholder="Phone Number">
                            </div>                        
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="subject" placeholder="Subject">
                            </div>
                        </div> 
                        <div class="form-group">
                        <textarea class="form-control" rows="4" name="message" placeholder="Message"></textarea>
                    </div>
                        <button type="submit" name="connectwithus" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>            
            </div>
        </div><br /><br /><br /><br />
    