<div class="container-fluid">
    <div class="row">
        <div class="col width-100">
            <img src="../../assets/images/initial-tax-review.jpg" alt="">
            <p class="text-uppercase margin-negative">Consulting (Including Governance, Risk & Internal Control)</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="mt-4">Our Consulting team assists and advises both private and public organisations, to align their organisation with their strategy and to carry out successful transformations, in order to enhance global performance.</p>
        </div>
    </div>
    <div class="row">

        <div class="col-8"> 
          
            <h3>Approach focuses on significant transformation challenges:</h3>
            <h4>Strategy</h4> 
            <ul> <li><p>Address market needs and increase competitive advantage<p></li> 
                <li><p>Achieve successful transformation of business models<p></li> 
                <li><p>Align strategy, operating models and finance<p></li> </ul> 
            <h4>Operations</h4> 
            <ul> <li><p>Achieve operational excellence through the application of lean principles: improve business performance in cost, quality and delivery<p></li> 
                <li><p>Reduce complexity in business and manage systemic risks right accros the whole value chain<p></li> 
                <li><p>Design and implement IT and operations services to meet evolving business need<p></li> </ul> 
                <h4>Finance</h4> 
                <ul> <li><p>Transform finance organisation to become a true "business partner"<p></li> </ul> 
                <h4>Organisation</h4> 
                <ul> <li><p>Design and implement "lean" and "agile" organisations<p></li> 
                    <li><p>Manage high potential talents<p></li> </ul> 
            <h4>Governance, Risk &amp; Internal Controls</h4> 
            <ul> <li><p>Structure clear governance scheme and anticipate risks<p></li> 
                <li><p>Fully integrate Corporate Social Responsibility policies<p></li> 
                <li><p>Internal Audits<p></li> 
                <li><p>Enterprise wide risk management<p></li> 
                <li><p>Control assesments<p></li> </ul> 
                <h4>Sustainability &amp; Development</h4> 
                <ul> <li><p>Foster equitable world development<p></li> 
                    <li><p>Give added value to sustainability<p></li> 
                    <li><p>Make human rights a component of long term performance<p></li> </ul> 
              
        </div> 
        <div class="col-4"> 
            <div class="sidenote-1"> 
                <h3>Want to know more?</h3> 
                <article class="UserCard"> 
                    <div class="UserCard-content" style="font-size: 20px"> 
                        <p class="UserCard-title" style="font-size: 17px"> <span class="UserCard-name text-uppercase" style="font-size: 20px"><b>CA Roshani Anand</b></span><br />Professional Adviser </p>
                         <p style="font-size: 17px"><i class="fa fa-phone"></i> +[91] 7533086930</p>
                         <hr>
                         <p style="font-size: 17px"><i class="fa fa-linkedin"></i> Linkedin Profile</p>
                         <p style="font-size: 17px" class="mb-2"><i class="fa fa-envelope"></i> Send a Message</p>
                         <br />
                        </div> 
                    </article> 
                </div> 
            </div> 
      




    </div>
</div>
