<div class="container-fluid">
    <div class="row">
        <div class="col width-100">
            <img src="../../assets/images/initial-tax-review.jpeg" alt="">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="mt-4">Our Consulting team assists and advises both private and public organisations, to align their organisation with their strategy and to carry out successful transformations, in order to enhance global performance.</p>
        </div>
    </div>
    <div class="row">

        <div class="col-8"> 
          
            <h3>Approach focuses on significant transformation challenges:</h3>
            <h4>Strategy</h4> 
            <ul> <li><p>Address market needs and increase competitive advantage<p></li> 
                <li><p>Achieve successful transformation of business models<p></li> 
                <li><p>Align strategy, operating models and finance<p></li> </ul> 
            <h4>Operations</h4> 
            <ul> <li><p>Achieve operational excellence through the application of lean principles: improve business performance in cost, quality and delivery<p></li> 
                <li><p>Reduce complexity in business and manage systemic risks right accros the whole value chain<p></li> 
                <li><p>Design and implement IT and operations services to meet evolving business need<p></li> </ul> 
                <h4>Finance</h4> 
                <ul> <li><p>Transform finance organisation to become a true "business partner"<p></li> </ul> 
                <h4>Organisation</h4> 
                <ul> <li><p>Design and implement "lean" and "agile" organisations<p></li> 
                    <li><p>Manage high potential talents<p></li> </ul> 
            <h4>Governance, Risk &amp; Internal Controls</h4> 
            <ul> <li><p>Structure clear governance scheme and anticipate risks<p></li> 
                <li><p>Fully integrate Corporate Social Responsibility policies<p></li> 
                <li><p>Internal Audits<p></li> 
                <li><p>Enterprise wide risk management<p></li> 
                <li><p>Control assesments<p></li> </ul> 
                <h4>Sustainability &amp; Development</h4> 
                <ul> <li><p>Foster equitable world development<p></li> 
                    <li><p>Give added value to sustainability<p></li> 
                    <li><p>Make human rights a component of long term performance<p></li> </ul> 
              
        </div> 
        <div class="col-4"> 
            <div class="sidenote-1"> 
                <h3>Want to know more?</h3> 
                <article class="UserCard"> 
                    <div class="UserCard-content"> 
                        <h4 class="UserCard-title"> <span class="UserCard-name">Ravindra Rao</span> <span class="UserCard-job"> Partner - Mumbai (Bombay) </span> </h4>
                         <p class="UserCard-tel"> <a class="UserCard-link" href="tel:+(91)-9833224150"> <svg class="icon icon-tel" aria-hidden="true" focusable="false" width="20" height="20"><use xlink:href="/extension/ezmazars_rwdesign/design/mazars2019/images/icons.svg#icon-tel"></use><g></g></svg> +(91) 9833224150 </a> </p> 
                         <p class="UserCard-social"> <a class="UserCard-link" href="/mazarsforms/contact/1117355" data-ajax-contact=""> <svg class="icon icon-mail" aria-hidden="true" focusable="false" width="20" height="20"><use xlink:href="/extension/ezmazars_rwdesign/design/mazars2019/images/icons.svg#icon-mail"></use><g></g></svg> Send a message </a> <a class="UserCard-link" href="https://www.linkedin.com/in/ravindra-rao-5b660633?trk=nav_responsive_tab_profile_pic"> <svg class="icon icon-linkedin" aria-hidden="true" focusable="false" width="20" height="20"><use xlink:href="/extension/ezmazars_rwdesign/design/mazars2019/images/icons.svg#icon-linkedin"></use><g></g></svg> Linkedin profile </a> </p> 
                         <p class="UserCard-cta"> <a class="Button Button--light" href="/Users/Our-team/Ravindra-Rao">Detailed profile</a> </p> 
                        </div> 
                    </article> 
                </div> 
            </div> 
      




    </div>
</div>
