<div class="container">
        <div class="row"><div class="col lesspadding">
            <img style="width:100%" src="../../assets/images/slider/superkick.png" data-lazyload-replaced="true">
        </div>
    </div>
        <div class="row">
            <div class="col lesspadding mt-5">
                <h4>GST Super Saver Package</h4>
                <h3><i class="fa fa-inr" aria-hidden="true"></i> 3499 all-inclusive  <small><i class="fa fa-inr" aria-hidden="true"></i> 5500</small> </h3>
                                        <h4>Package Includes</h4>	
                <ul class="list-check">
                                                <li>GST Certificate  </li>
                                                <li> GST Starter Guide  </li>
                                                <li> GST Invoice Guide  </li>
                                                <li> GST Return Filing Support  </li>
                                                <li> GST Due dates advance reminders &amp; updates subscription for 1 Year  </li>
                                                <li> GST Pro Support  </li>
                                                <li> E-Way Bill Guide </li>
                                            </ul>
            <hr>

                <h4>Why this package ?</h4>
            
            <h3><strong>GST Certificate</strong></h3>

<p>Goods and Service Tax Number (GSTIN) is a unified&nbsp;indirect tax which mandatorily requires to register once business annual turnover&nbsp;exceeds INR 40 Lacs. Generally, a small business entity voluntarily applies for&nbsp;GST registration even before crossing the above threshold turnover limit of INR 40 Lacs. GST registration helps a startup to open a current bank account in the name of sole proprietor firm, avail input credit of taxes paid on the purchase, deal with MNCs easily and to sell the product in E-commerce portals like Flipkart,&nbsp;Amazon, and others.</p>

<h3><strong>GST&nbsp;Starter Guide</strong></h3>

<p>You will get a comprehensive ready reckoner&nbsp;on all aspects of GST registration for your personal and company's growth. The GST Starter Guide will clear all your basic doubts and myths related to GST.&nbsp;</p>

<h3><strong>GST Invoice&nbsp;Guide</strong></h3>

<p>You will get a comprehensive guide on how to raise a GST&nbsp;invoice as per GST laws. You can know about&nbsp;the key elements of a GST Invoice along with sample format of GST Invoice. You will also able to find out how much GST Rate will be applicable to your business, product and services.</p>

<h3 style="text-align:justify"><strong>GST Return Filing Support&nbsp;</strong></h3>

<p style="text-align:justify">You will get 3 (Three) month GSTR-3B return filing with our highly skilled professionals.</p>

<h3><strong>GST&nbsp;&nbsp;Due dates advance reminders &amp; updates subscription for 1 Year</strong></h3>

<p>You will receive all important GST&nbsp;Due dates advance reminders along with regular&nbsp;updates relevant to your business, for one year.&nbsp;</p>

<h3 style="text-align:justify"><strong>E-way Bill Guide</strong> <strong>&nbsp;</strong></h3>

<p style="text-align:justify">With this package, you will be able to get a comprehensive guide on E-waybill that will help you understand the basics of the&nbsp;E-waybill generation and its importance.&nbsp;</p>

<h3><strong>GST Pro Support</strong></h3>

<p>You will be able to get the&nbsp;GST Pro Support throughout your GST registration process, under which you will receive relevant&nbsp;guidance from our business advisors on various aspects of GST such as&nbsp;GST rates, compliances and&nbsp;E-waybill.</p>              
        <hr>
        <div class="main-form mt-5 mb-5" style="width: 50%;">
                <h4 class="text-center text-uppercase"><b>Grab The Offer</b></h4>
                <p class="text-center mb-5">Why wait Submit below form &amp; catch the best deal</p>
                <form [formGroup]="login" novalidate class="form">
                        <div class="ui-form-wraper">
                           <p class="text-center text-white">{{title}}</p>
                           <div class="row">
                               <div class="col"><div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Name"
                                        formControlName="name" 
                                        name="name" 
                                        type="text" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                            
                                        </span>
                                        
                                    </div>
                                   </div></div>
                               <div class="col"><div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Email Address" formControlName="email" 
                                        name="email" 
                                        type="email"
                                        class="form-control" autocomplete="off">
                                        <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                        
                                                </span>
                                                <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                            
                                                </span>
                                        </div>
                                </div>
                                   </div></div>
                           </div>
                           
                           
                           <div class="row">
                                <div class="col"><div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                            <input 
                                            placeholder="Mobile No." formControlName="mobile" 
                                            name="mobile" 
                                            type="number" 
                                            class="form-control" autocomplete="off">
                                            <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                    
                                                </span>
                    
                                        </div>
                                       </div></div>
                                <div class="col"><div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                            
                                                <input
                                                placeholder="Subject" formControlName="subject" 
                                                name="subject" 
                                                type="text" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="login.get('subject').touched && login.get('subject').invalid">
                                                    
                                                    </span>
                    
                                        </div>
                                       </div></div>
                            </div>
                           
                           
                               <div class="row">
                                    <div class="col"><div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                <textarea rows="6"
                                                    placeholder="Message" formControlName="message" 
                                                    name="message" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off"></textarea>
                                                    <span class="text-danger" *ngIf="login.get('message').touched && login.get('message').invalid">
                                                        
                                                        </span>
                    
                                            </div>
                                           </div></div>
                                   
                                </div>
                               
                       </div>
                       <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                    </form>
                </div>
       </div>
       </div>
    </div>