<div class="container-fluid bg-green">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="sidenot-2 text-center">
                                    <h5>GST Return filing</h5>
                                    <p>We can help you file GST returns hassle free for your business while you sitting at your place with just a few clicks of a mouse.</p>
                            
                            </div>
                         </div>
                          <div class="col text-center">
                            <img src="../../assets/images/think_idea.png" alt="">
                        </div>
                        <div class="col">
                            <div class="contatcform">
                                    <p class="text-center text-white">Starts from INR 499/- only<br> Arrange call from Business Advisor</p>
                                    <!-- <app-queryform></app-queryform> -->
                                    <form [formGroup]="login" novalidate class="form">
                                            <div class="ui-form-wraper">
                                               <p class="text-center text-white">{{title}}</p>
                                               <div class="form-group">
                                                <div class="form-group">
                                                    <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                    <input
                                                    placeholder="Name"
                                                    formControlName="name" 
                                                    name="name" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off">
                                                    <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                                        Name not be blank
                                                    </span>
                                                    
                                                </div>
                                               </div>
                                               <div class="form-group">
                                                <div class="form-group">
                                                    <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                    <input
                                                    placeholder="Email Address" formControlName="email" 
                                                    name="email" 
                                                    type="email"
                                                    class="form-control" autocomplete="off">
                                                    <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                            <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                                    Email not be blank
                                                            </span>
                                                            <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                                        Email invalid
                                                            </span>
                                                    </div>
                                            </div>
                                               </div>
                                               <div class="form-group">
                                                <div class="form-group">
                                                    <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                    <input 
                                                    placeholder="Mobile No." formControlName="mobile" 
                                                    name="mobile" 
                                                    type="number" 
                                                    class="form-control" autocomplete="off">
                                                    <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                            Mobile will not be blank
                                                        </span>
                                                </div>
                                               </div>
                                           </div>
                                           <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                                        </form>
           
        </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>
    </div>
    
    
    
    <div class="container pb-5">
        <div class="row"><div class="col">
        <h2 class="mt-5 mb-5" style="text-align:center">TYPES OF GST RETURNS</h2>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>GSTR 1</h5>

                <p>Purpose of this return is to furnish details of all sales including B2B and B2C. Due date of this return is 10th of every month and in case of a quarterly return, the end of next month of every quarter.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>GSTR 3B</h5>

                <p>This is a summary return with details of net tax liability based on the output &amp; input tax. Due date of this return is 20th of every month.&nbsp;</p>       </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>GSTR 4</h5>

                <p>A business who opt for composition scheme and needs to pay&nbsp;to subsidize GST rates from 1% to 5% &amp; file this quarterly return.</p>
        </div>
        </div>
        </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
            <div class="service-box">
            <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>GSTR 1A</h5>

                    <p>The purpose of this return is to rectify/resolve the mismatch in sales figures with your customers to whom you raise the tax invoice</p>
            </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>GSTR 8</h5>

                    <p>An e-commerce operator who needs to collect TCS (Tax collected at source) under GST requires to file&nbsp;this return till 10th of every month.</p>       </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>GSTR 9</h5>

                    <p>This is the Annual GST return, which is to be filed by all registered persons till 31st March of every financial year.</p>
            </div>
            </div>
            </div>
            </div>
        </div>
    
    
    
        <div class="container-fluid bg-black">
        <div class="container bg-black pt-5 pb-5">
            <div class="row">
            <div class="col-sm-7">
                    <h2 class="text-uppercase text-center"><strong>Why should you&nbsp;file GST returns on time?</strong></h2>

                    <ol>
                        <li><strong>Avoid Penalty</strong> – Failing to file GST Returns on time will attract a penalty of INR 200 per day and maximum up to INR 5000 of each return&nbsp;</li>
                        <li><strong>Avoid Registration Cancellation</strong> – To be worst if you don’t file GST Returns on time your certificate might get cancelled.&nbsp;</li>
                        <li><strong>Better Relationship with your prospects</strong> – Filing GST Returns on time will let your customers claim input credit smoothly&nbsp;hence maintain a healthy relationship with good prospects&nbsp;&nbsp;</li>
                        <li><strong>Better Compliance Rating</strong> –&nbsp;Government of India has proposed to start the compliance rating system under which scorecard of every GST registrant shall be maintained. As a matter&nbsp;of fact, timely GST return&nbsp;filing &nbsp;is one of the key factors to compute such rating.&nbsp; &nbsp;</li>
                        <li><strong>Ease of availing loan</strong> – Evidently, timely and accurate&nbsp;GST Return filing helps a taxpayer a lot while applying for loans from a bank or financial institutions. The Banks ascertain a taxpayer's credibility on the basis of his GST Returns.&nbsp;</li>
                        <li><strong>E-Waybill generation</strong>&nbsp;–&nbsp;In order to compel the businesses for regular compliance and GST return filing, the finance ministry has now restricted E-Way bill generation for transportation of goods, in case the trader has not filed GST returns for 2 successive months.</li>
                    </ol>
            
            
            </div>
            <div class="col-sm-5">
                    <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Email Address" required="" type="email"></div><div class="col pl-0"><button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
            </div>
            
                    </div>
                </div>
        </div>
    
    
    
    
                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                    <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                    <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>
    
    
    
    
                    <!-- <div class="container-fluid pt-5 pb-5 bg-black text-center"><div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                            <h2 class="mb-5 text-center text-uppercase"><strong>Documents Required For Income Tax Return Filing</strong></h2>
                            
                                    </div>
                                </div>
                            
                            
                            <div class="row">
                            <div class="col-sm-3">
                            <div class="document-box">
                             <img class="mt-2 mb-2" src="../../assets/images/pcard.png" alt="">
                            <h5>PAN Card</h5>
                            </div>
                            </div>
                            
                            <div class="col-sm-3">
                            <div class="document-box">
                                <img class="mt-2 mb-2" src="../../assets/images/baccount.png" alt="">
                            <h5>Bank Statement</h5>
                            </div>
                            </div>
                            
                            <div class="col-sm-3">
                            <div class="document-box">
                                <img class="mt-2 mb-2" src="../../assets/images/digitalediting.png" alt="">
                            <h5>Digital Signature Certificate</h5>
                            </div>
                            </div>
                            
                            <div class="col-sm-3">
                            <div class="document-box">
                                <img class="mt-2 mb-2" src="../../assets/images/formicon.png" alt="">
                            <h5>Form 16 & 16A</h5>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div> -->
    
    
    
    
    
    
    
    
    
    
                    <div class="container-fluid pt-5 pb-5 bg-yellow">
                            <div class="row"><div class="col text-center">   
                                    <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                            <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                            <div class="main width-300"> 
                                        <input type="hidden" name="position" value="2">
                                                <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                        
                                      
                                    <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                </div>
                                </form>    
                            </div>
                            </div>
                        </div>
    
    
    
    
                        <div class="container mb-5">
                            <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                            <div class="row">
                                
                                <div class="col pr-0">
                                    <div class="card basic text-center">
                                    <div class="box1 yellow-color">
                                        <h3>Basic</h3>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="box2 mb-5">
                                        <h3><i class="fa fa-inr" aria-hidden="true"></i> 499 <br><small><i>Inclusive all taxes</i></small></h3>
                                    <div class="pt-3 pb-3"> A Single GST Return filing<br>carry NIL transaction<br>during the relevant period. </div>  <br />
                                    <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                   
                                        <!-- <div class="card-back">
                                            <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                            <div class="ui-form-01">                   
                                                <form class="tab-1" name="frmPackageSignup1" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111135">
                                                     <div class="ui-form-01-wraper">
                                                         <p><span>Signup</span></p>
                                                        <p class="package-signup-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-email"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                            <i class="icofont icofont-mobile-phone"></i>
                                                        </div>
                                                        <p class="package-processing"></p>
                                                        <button type="submit" class="btn btn-default">Submit</button>
                                                        <p class="log">login</p>
                                                        
                                                    </div>
                                                    
                                                    
                                                </form>
                                                
                                                <form class="tab-2" name="frmPackageSignin1" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111135">
                                                     <div class="ui-form-01-wraper">
                                                        <p><span>Login</span></p>
                                                        <p class="package-login-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                       <div style="position:relative;">
                                                                <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                                <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                    <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                    <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                                </div>
                                                            </div>
                                                        
                                                        <p class="package-processing"></p>
                                                         <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                        <p class="sig">Signup</p>
                                                        <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                
                                <div class="col pl-0 pr-0 middle-panel card">
                                    <div class=" text-center">
                                        <div class="box1">      
                                    <h3>Standard</h3>
                                    <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    </p></div>
                                    <div class="box2">
                                            <h3><i class="fa fa-inr" aria-hidden="true"></i> 1499 <br><small><i>Inclusive all taxes</i></small></h3>
                                    <div class="pt-2">Filling of ITR-4 of a person earning business or professional income who have opted for presumptive income scheme.</div>  
                                               
                                                                        <button class="btn btn-primary mt-4">LET's START</button>
                                    </div>   
                                        <!-- <div class="card-back">
                                            <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                            <div class="ui-form-01">                   
                                                <form class="tab-1" name="frmPackageSignup2" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111136">
                                                     <div class="ui-form-01-wraper">
                                                         <p><span>Signup</span></p>
                                                        <p class="package-signup-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-email"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                            <i class="icofont icofont-mobile-phone"></i>
                                                        </div>
                                                        <p class="package-processing"></p>
                                                        <button type="submit" class="btn btn-default">Submit</button>
                                                        <p class="log">login</p>
                                                        
                                                    </div>
                                                    
                                                    
                                                </form>
                                                
                                                <form class="tab-2" name="frmPackageSignin2" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111136">
                                                     <div class="ui-form-01-wraper">
                                                        <p><span>Login</span></p>
                                                        <p class="package-login-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                       <div style="position:relative;">
                                                                <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                                <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                    <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                    <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                                </div>
                                                            </div>
                                                        
                                                        <p class="package-processing"></p>
                                                         <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                        <p class="sig">Signup</p>
                                                        <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                
                                <div class="col pl-0">
                                    <div class="card premium text-center">
                                        <div class="box1 yellow-color">
                                                    <h3>Annual Package</h3>
                                                    <p>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                                        </p>
                                        </div>
                                        <div class="box2">
                                                <h3><i class="fa fa-inr" aria-hidden="true"></i> 7500 <br><small><i>Inclusive all taxes</i></small></h3>
                                            <div class="pt-3 pb-3">
                                                
                                                            GST Returns filing<br>for the complete financial year.<br>Plus<br>GST Invoice Software&nbsp;<br>(1-year subscription)<br>Available on Desktop &amp; mobile app<br>
                                                   
                                            </div>  
                                               
                                                                            <button class="btn btn-primary mt-3">LET's START</button>
                                    </div>                             
                                        </div>
                    
                                        <!-- <div class="card-back">
                                            <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                            <div class="ui-form-01">                   
                                                <form class="tab-1" name="frmPackageSignup3" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111137">
                                                     <div class="ui-form-01-wraper">
                                                         <p><span>Signup</span></p>
                                                        <p class="package-signup-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-email"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                            <i class="icofont icofont-mobile-phone"></i>
                                                        </div>
                                                        <p class="package-processing"></p>
                                                        <button type="submit" class="btn btn-default">Submit</button>
                                                        <p class="log">login</p>
                                                        
                                                    </div>
                                                    
                                                    
                                                </form>
                                                
                                                <form class="tab-2" name="frmPackageSignin3" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111137">
                                                     <div class="ui-form-01-wraper">
                                                        <p><span>Login</span></p>
                                                        <p class="package-login-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                       <div style="position:relative;">
                                                                <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                                <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                    <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                    <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                                </div>
                                                            </div>
                                                        
                                                        <p class="package-processing"></p>
                                                         <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                        <p class="sig">Signup</p>
                                                        <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                    </div>
                               
                                    <div class="container-fluid pt-5 pb-5 bg-black">
                                            <div class="row"><div class="col text-center">   
                                                    <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                            <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                    ARRANGE A CALL BACK</strong></h2>
                                                            <div class="main width-300"> 
                                                        <input type="hidden" name="position" value="2">
                                                                <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                                <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                                <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                        
                                                      
                                                    <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                                </div>
                                                </form>    
                                            </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                                </div>
                                            </div>
                                        </div>