<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">

                                 <h5>File Form INC-22A (ACTIVE) Now</h5>
                <p>We will help you file Form INC-22A (ACTIVE). Clear your all doubts regarding Form INC-22A with our professionals.
                    Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
            <form method="post" name="frmHeaderSection" action="" novalidate="novalidate">
                 <div class="ui-form-01-wraper">
                        <p class="text-center text-white">Learn More !!!<br />
                            Arrange a call from professionals</p>
                    <div class="form-group">
                        <input type="text" placeholder="Name" name="name" maxlength="50" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email Address" name="email" maxlength="50" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Mobile No" name="number" maxlength="50" class="form-control" formControlName="number">
                    </div>
                </div>
                <button class="btn btn-primary form-control">Submit</button>
            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>


 <div class="container-fluid pt-3 bg-yellow0 pb-3 mt-5">
    <div class="row">
    <div class="col"><div class="container">
       
        <div class="row">
            <div class="col list-hover pt-3 pb-3">
                <h3 class="text-center"><strong>WHAT IS INC-22A (ACTIVE)?</strong></h3>
                <p>Form INC-22A (ACTIVE) is a new ROC e-form introduced by the Ministry of Corporate Affairs, which will confirm the physical existence and appearance of the registered office of the company. This form will also verify that the company has its signboard outside the premises of the registered office.</p>
    </div>
    <div class="col pt-3 pb-3 list-hover text-center">
            <h3 class="text-center"><strong>WHO REQUIRES TO FILE ROC FORM INC-22A?</strong></h3>

<p>All companies, which were incorporated on or before the 31st December 2017 are required to file the e-Form INC-22A (ACTIV).</p>
    </div>
</div>

</div>
</div>
    
</div> 
</div>  

 <div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">INFORMATION TO BE GIVEN IN FORM INC22A</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Company Details</h5>

        <p>You have to provide exact details of the company name&nbsp;®istered office address, including Latitude &amp; Longitude of Registered Office address.</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Company's Mail-id&nbsp;</h5>

        <p>You need to provide only the E-mail id of the company, for instance, contact@abc.com or info@abc.com or companyname@abc.com.</p>   </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Directors’ details</h5>

<p>This will include Directors’ e-mail id, along with his DIN.&nbsp;Directors’ e-mail id will be OTP verified.</p>

    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Statutory &amp; Cost Auditor Details</h5>

            <p>You have to provide the complete details of Statutory auditors &amp; Cost Auditors if they have been appointed.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>SRN of RoC returns</h5>

            <p>In Form INC-22A, you have to provide the Service Request Number (SRN) of annual compliance e-forms AOC-4 &amp; MGT-7, of the FY 2017-18.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>KMP&nbsp;Details</h5>

<p>In Form ACTIVE, you will have to provide complete details of the Key Managerial Persons or KMP of the directors.</p>
        </div>
        </div>
        </div>
        </div>
    </div> 

    <div class="container-fluid pt-3 bg-yellow0 pb-3">
        <div class="row">
        <div class="col"><div class="container">
           <div class="row">
               <div class="col list-hover pt-3 pb-3">
                   <h3 class="text-center">CONSEQUENCES OF DELAY IN FORM INC-22A (ACTIVE)</h3>
                   <p>If the Form INC22A (ACTIVE) is not timely filed, the company will simply be listed by RoC as “ACTIVE non-compliant”. Henceforth, such a company won’t be able to submit the following e-forms-</p>

<ul>
	<li><strong>SH-07:</strong>For Change in Authorized Capital</li>
	<li><strong>PAS-03:</strong>For Change in Paid-up Capital</li>
	<li><strong>DIR-12:</strong> For Changes in Director</li>
	<li><strong>INC-22: </strong> For Change in Registered Office</li>
	<li><strong>INC-28:</strong>For Amalgamation, de-merger</li>
</ul>
               </div>
           </div>
            <div class="row">
                <div class="col list-hover pt-3 pb-3">
                    <h3 class="text-center"><strong>DUE DATE TO FILE FORM INC-22A</strong></h3>
                    <p>The Due date to file the e-Form INC-22A shall be 25th April 2019. The companies formed after 31st December 2017 have to file Form ACTIVE latest by 25th April 2019.</p>
        </div>
        <div class="col pt-3 pb-3 list-hover text-center">
                <h3 class="text-center"><strong>LATE FEE FOR NON-FILING FORM INC22A (ACTIVE)</strong></h3>
    
    <p>The late fee for filing Form INC-22A after 25th April 2019 is ₹10,000/- for the delay in filing Form ACTIVE</p>
        </div>
    </div>
    
    </div>
    </div>
        
    </div> 
    </div> 

     <!-- <div class="container-fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col">
                <div class="container">
                        <div class="row">
                                <div class="col">
                                        <h2 class="text-center text-uppercase mt-2 mb-3"><strong>What are the key components of LLP annual compliance?</strong></h2>
                                        
                                        <p>The requirements of annual compliance of an LLP are specified under the Limited Liability Partnership Act 2008.</p>
                                        
                                        <p><strong>Given below are the important annual compliances in case of an LLP:</strong></p>
                                        
                                        <p><span style="color:#ffcc33"><strong>Preparation of financial accounts</strong></span></p>
                                        
                                        <p>Preparation of financial accounts<br>
                                        All LLPs registered under LLP Act 2008 are required to prepare a Statement of Account and Solvency, through the filling of Form 8.</p>
                                        
                                        <p><span style="color:#ffcc33"><strong>Annual return</strong></span></p>
                                        
                                        <p>As per Section 35 of LLP Act, every LLP has to file the annual return within 60 days of closure of the financial year. This is prepared by filling of Form 11.</p>
                                        
                                        <p><span style="color:#ffcc33"><strong>Statutory Audit by an Independent Auditor</strong></span></p>
                                        
                                        <p>Statutory Audit is mandatory for LLP only if its annual turnover exceeds INR 40 lakh and/or its total paid-up capital exceeds INR 25 lakh.</p>
                                        
                                        <p><span style="color:#ffcc33"><strong>Income Tax Return Filing &amp;&nbsp;Tax Audit&nbsp;</strong></span></p>
                                        
                                        <p>According to the Income Tax Act, the filing of Income Tax Return is mandatory for an LLP. If the annual turnover of an LLP exceeds INR 60 Lakhs, it will be applicable for a tax audit.</p>
                                    
                                    </div>
                                    
                                    
                                    </div>
        </div>
        </div>
            <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Enter Your Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div>  
       
        
                </div>
            </div>  -->
            

<!-- <div class="container">
    <div class="row">
        <div class="col"><h2 class="text-center mt-5 mb-2"><b>SCHEMES FOR MSMES HAVING NSIC REGISTRATION:</b></h2></div>
    </div>
    <div class="row">
        <div class="col pt-3 pb-3 mt-5 list-hover">
                <h2 class="text-uppercase"><b>Single Point Registration Scheme&nbsp;</b></h2>

                <p>In order to increase government purchases from the small-scale units, the government has launched the Single Point Registration scheme (SPRS). MSMEs can get NSIC registration under this scheme and get exempt from Earnest Money Deposit (EMD) in Government Purchases. EMD is taken from the bidder to assure his sincerity in a bid.</p>
                
                <p><strong>Benefits:</strong></p>
                
                <ul>
                    <li>Exemption from payment of Earnest Money Deposit (EMD);</li>
                    <li>Issue of the Sets of Tender absolutely free</li>
                    <li>Under this scheme, 358 items are reserved for purchase from Small scale units only.</li>
                    <li>In this scheme, the Government has set an annual target for Union Ministries, Departments, and PSUs to buy a minimum of 25% of the total annual supplies of Goods &amp; services from MSEs only.</li>
                    <li>Out of this 25% procurement from MSEs, 4% of supply is reserved for the units owned by SC/STs. Besides, 3% is reserved for women entrepreneurs.</li>
                    <li>In tender participation, the MSES bidding in the lowest level price band of L1+15% can also supply a portion up to 25% of the total requirement, by reducing the price to L1 Price. Here, L1 purchasers shall be the medium or large units.</li>
                </ul>
            
            
        </div>
        
        <div class="col pt-3 pb-3 mt-5 list-hover">
                <h2 class="text-uppercase"><strong>MSME Global Mart</strong></h2>
               

<p>NSIC has initiated the B2B portal called MSME Global Mart. This is a one-stop for assistance to MSMEs on the business, technology, and finance. The aim of MSME Global Mart is to boost the core competence of Indian MSMEs. The services of this portal are available through Annual Membership.</p>

<p><strong>Membership Benefits:-</strong></p>

<ul>
<li>Interactive Database of MSMEs</li>
<li>Global &amp; National Tender Notices</li>
<li>Self web development tool</li>
<li>Free mail boxes</li>
<li>Payment Gateway for membership subscription</li>
<li>Popular Products Section</li>
<li>Unlimited global Trade Leads</li>
<li>Trust Seal of NSIC</li>
<li>Multiple Language Support</li>
<li>Other Value added Service</li>
<li>Centralized mail system</li>
</ul>
            </div>
    </div>
   
    <div class="row">
        <div class="col pt-3 pb-3 mb-5 list-hover">
            <h2 class="text-uppercase"><strong>RMA against Bank Guarantee Scheme</strong></h2>

           

<p>Raw Material Assistance (RMA) Scheme provides financial support to MSMEs for the purchase of Raw Material (both indigenous &amp; imported). This gives an opportunity to MSMEs to focus better on manufacturing quality products.</p>

<p><strong>Benefits of this Scheme</strong></p>

<ul>
<li>Financial Assistance for procurement of Raw Material up to 180 days.</li>
<li>MSMEs helped to avail the Economics of Purchases like bulk purchase, cash discount, etc.</li>
</ul>

<p><strong>Note:</strong> Security in the form of Bank Guarantee from Approved Banks.</p>
        </div>
        <div class="col pt-3 pb-3 mb-5 list-hover">
                <h2 class="text-uppercase"><b>Skill Development &amp; Services</b></h2>

                <p>NSIC provides technical support and skill development training to MSMEs at the 'NSIC Technical Services Centres' (NTSC). Besides, it has a number of Training Incubation Centres (TICs) and Livelihood Business Incubation Centres (LBIs) spread across India.</p>
                
                <p><strong>The technical services provided at these centers include:</strong></p>
                
                <ul>
                    <li>Skill-development in Hi-Tech and conventional trades,</li>
                    <li>Material and product testing at NABL &amp; BIS accredited laboratories,</li>
                    <li>Energy audit,</li>
                    <li>Environmental management.</li>
                </ul>
            
            
        </div>
    </div>
   
</div> -->

<!-- <div class="container-fluid bg-black pt-5 pb-5">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col"><h2 class="text-center mb-3">BROAD CATEGORIES OF ISO CERTIFICATION STANDARDS</h2></div>
                </div>
                <div class="row">
                    <div class="col"><p> <b>ISO 9001</b> ensure company product &amp; services meets customer expectations and enhance customer satisfaction.</p></div>
                    <div class="col"><p><b>ISO 14001</b> maps out a framework that an organization can follow to set up an effective environmental management system.</p></div>
                    <div class="col"><p><b>OHSAS 18001</b> allows a company to show their customers that company has effective health and safety management system.</p></div>
                    <div class="col"><p><b>ISO 22000</b> allows a company to show their customers that company has effective food safety management.</p></div>
                </div>
                <div class="row">
                        <div class="col"><p><b>ISO 20000</b> allows demonstrating excellence and prove best practice in IT &amp; improvement in the delivery of IT services.</p></div>
                        <div class="col"><p><b>ISO 27001</b> describes a best practice of company who involves in the information security management system (ISMS).</p></div>
                        <div class="col"><p><b>CE Marking</b> on any brand is a manufacturer's affirmation that the product has complied with the necessary requirements of the applicable European health, safety, and environmental protection benchmark.</p></div>
                        <div class="col"><p><b>ISO 50001</b> describes best energy management practices which outline using energy efficiently helps organizations save money as well as helping to conserve resources and tackle climate change.</p></div>
                    </div>
            </div>
        </div>
    </div>
</div> -->

            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                            <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                <input type="hidden" name="position" value="2">
                                        <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                        <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                        <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                
                              
                            <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                        </div>
                        </form>    
                    </div>
                    </div>
                </div>




                <div class="container-fluid bg-black pt-5 pb-5"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-3 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR FORM INC-22A</strong></h2>
                        
                                </div>
                            </div>
                      
                        
                           <div class="row">
                               <div class="col">
                                    <ul>
                                            <li><strong>2 Photographs of exterior of Registered Office.</strong></li>
                                            <li><strong>2 Photographs of interior of Registered Office.</strong></li>
                                            <li><strong>2 Photographs of 2 directors within Registered Office.</strong></li>
                                            <li><strong>1 Photograph of Registered Office sign board outside office building showing name of the Company in English and Regional language. </strong></li>
                                            <li><strong>Statutory Auditor details.</strong></li>
                                            <li><strong>Cost Auditors details (If Applicable):-</strong>
                                            <h5><strong>Further documents:-</strong></h5>
                                        
                                            <ul>
                                                <li>Form MGT-14 and paid challan If Company has more than 15 Directors on -its Board a Special Resolution passed at the General Meeting</li>
                                                <li>Digitally Signature (DSC) of one Director and one KMP (if any) or Two -Directors in case of other than OPC</li>
                                                <li>Form- AOC 4 &amp; MGT- 7 of FY 2017-18.</li>
                                                <li>Form ADT-1 for Appointment of Statutory Auditor</li>
                                            </ul>
                                            <strong><strong> </strong></strong></li>
                                        </ul>
                               </div>
                         <!-- <div class="col-sm-3">
                        <div class="document-box text-center"> 
                                 <img class="mt-2 mb-2" src="../../assets/images/baccount.png" alt="">
                                 <h5>Bank Statement</h5>

                                 

                        </div>
                        </div>
                        <div class="col-sm-3">
                                <div class="document-box text-center"> 
                                         <img class="mt-2 mb-2" src="../../assets/images/digitalediting.png" alt="">
                                         <h5>Digital Signature Certificate</h5>
                                               
                                         
                                </div>
                                </div> -->
                                <!-- <div class="col-sm-3">
                                        <div class="document-box text-center"> 
                                                 <img class="mt-2 mb-2" src="../../assets/images/formicon.png" alt="">
                                                 <h5>Details of Project</h5>

                                                    <p>Project Details</p>
                                                    <p>Promoter Details</p>
                
                                        </div>
                                        </div>
                        <div class="col-sm-3">
                        <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                <h5>Last 3 Years Financial Statments</h5>
                        </div>
                        </div> -->
                        </div> 
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                             <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Basic</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 1999 <br><small><i>Inclusive all taxes</i></small></h4>
                                <div class="pt-3 pb-3"><div>Form INC-22A of business having <br>Turnover up to ₹1lac <br>(excluding government fee)</div>   </div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                    
                         </div> 
                             </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Standard</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 3999 <br><small><i>Inclusive all taxes</i></small></h4>    
                                <div class="pt-2"><br><div>Form INC-22A+DIR-3 KYC&nbsp;</div><div>(excluding government fee)</div>   <br>   <br> 
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                   
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Premium</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> 6999 <br><small><i>Inclusive all taxes</i></small></h4>
                                                <div><br>Form INC-22A of a company having &gt; 15 directors<br>+<br>Form MGT-14<br>   <br>          
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                  
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                    <input type="hidden" name="position" value="2">
                                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                    
                                                  
                                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                            </div>
                                            </form>    
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>