<div class="container-fluid bg-green">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="sidenot-2 text-center">
                                    <h5>GST Cancellation</h5>
                    <p>We can help you fulfil all the formalities for GST cancellation and surrendering of your GST certificate. Call us for inquiry at 8800107107</p>  
                            </div>
                        </div>
                          <div class="col text-center">
                            <img src="../../assets/images/think_idea.png" alt="">
                        </div>
                        <div class="col">
                            <div class="contatcform">
                                                  
                 <p class="text-center text-white">Arrange a Call back from business adviser for GST cancellation</p>
                            <form [formGroup]="login" novalidate class="form">
                                    <div class="ui-form-wraper">
                                       <p class="text-center text-white">{{title}}</p>
                                       <div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                            <input
                                            placeholder="Name"
                                            formControlName="name" 
                                            name="name" 
                                            type="text" 
                                            class="form-control" autocomplete="off">
                                            <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                                Name not be blank
                                            </span>
                                            
                                        </div>
                                       </div>
                                       <div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                            <input
                                            placeholder="Email Address" formControlName="email" 
                                            name="email" 
                                            type="email"
                                            class="form-control" autocomplete="off">
                                            <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                    <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                            Email not be blank
                                                    </span>
                                                    <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                                Email invalid
                                                    </span>
                                            </div>
                                    </div>
                                       </div>
                                       <div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                            <input 
                                            placeholder="Mobile No." formControlName="mobile" 
                                            name="mobile" 
                                            type="number" 
                                            class="form-control" autocomplete="off">
                                            <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                    Mobile will not be blank
                                                </span>
                                        </div>
                                       </div>
                                   </div>
                                   <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                                </form>
           
        </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>
    </div>
    
    
    
    <div class="container pb-5">
        <div class="row"><div class="col">
        <h2 class="mt-5 mb-5" style="text-align:center">WHEN IS LEGAL GST CANCELLATION INDIA ENFORCED?</h2>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>Non-filing of GST Returns</h5>

                <p>If a registered person under the regular scheme has not filed GST Returns for 6 months in a row.</p> </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>Filing of&nbsp;Composite GST Returns</h5>

                <p>If a registered person under the composite scheme has not filed GST Returns for 3 months in a row.</p>      </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>No business activity</h5>

                <p>If anyone has opted for&nbsp;GST registration under the business name but has not begun any trade in the 6 months since the date of registration.&nbsp;</p>
    
        </div>
        </div>
        </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
            <div class="service-box">
            <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>Unlawful GST Registration</h5>

                    <p>If anyone has registered under GST through deceptive means, his GST Certificate will be cancelled immediately with retrospective effect.</p>
            </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>Non-payment of GST.</h5>

                    <p>In case&nbsp;any GST tax evasion is found out from the taxpayer's side,&nbsp;his GST Certificate will be cancelled as a suitable legal action.</p>
                         </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>Flout of norms</h5>

                    <p>GST registrant has violated any rules or provisions as, under CGST Act 2017, he will be subject to statutory&nbsp;GST cancellation.</p>
    
            </div>
            </div>
            </div>
            </div>
        </div>
    
        <!-- <div class="container-fluid pt-5 bg-yellow pb-5">
            <div class="row">
            <div class="col">
                <h3><strong>When GST Registration mandatory in India?</strong></h3>
    
    
    <ul>
        <li><strong>Turnover Criteria:&nbsp;</strong>All taxpayers who have an annual turnover above ₹40 lakhs are required to get new GST registration.</li>
        <li><strong>Causal taxpayer:&nbsp;</strong>If you supply goods or services in events/exhibition where you do not have a permanent place of business, you need to get online GST Registration before starting a business. Such a dealer has to pay GST on the basis of an estimated turnover of 90 days. The validity of causal GST Registration is 90 days.</li>
        <li><strong>NRI taxpayer:&nbsp;</strong>NRI taxpayer, who does not have a place of business in India, wishes to start a business, then he has to apply for GST Registration in India before beginning operations in India. The validity of a new GST registration is 90 days.</li>
        <li><strong>Agents of a supplier &amp; Input service distributor:&nbsp;</strong>All Input service distributor who wants carry-forward benefit of input tax credit requires gst registration.</li>
        <li><strong>Reverse Charge:</strong> A business who requires to pay tax under the reverse charge mechanism need gst registration</li>
        <li><strong>E-Commerce portal:&nbsp;</strong>Every e-commerce portal (such as Amazon or Flipkart) under which multiple vendor’s selling their product requires gst registration.</li>
    </ul>
            </div>
            </div>
        </div> -->
    
    
        <div class="container-fluid bg-black pt-5 pb-5">
            <div class="row">
            <div class="col">
                    <div class="container">
                            <div class="row">
                            <div class="col">
                    <h2 class="text-uppercase text-center mt-2 mb-3"><strong>WHEN DO WE OPT FOR GST CANCELLATION?</strong></h2>
    
                    <p>There are certain circumstances that may compel a taxpayer to opt for a surrender of GST registration. Given below are some of the cases where a tax assessee may opt for GST cancellation procedure:</p>
                    <ul>
                            <li><span style="color:#ffcc33"><strong>An accidental GST registration</strong></span>, that can cause unnecessary GST liability.&nbsp;&nbsp;</li>
                            <li><span style="color:#ffcc33"><strong>If the turnover of an individual is below ₹20 lakhs,</strong></span> and he has registered under GST, he can opt for GST cancellation.</li>
                            <li><span style="color:#ffcc33"><strong>Dissolution or amalgamation of business</strong></span>, GST cancellation procedure is a must to avoid getting tax notices from the government.</li>
                            <li><span style="color:#ffcc33"><strong>Suppose&nbsp;government raises&nbsp;the threshold for GST registration,&nbsp;</strong></span>and you get out from its cover, you can opt for GST cancellation India.</li>
                            <li><span style="color:#ffcc33"><strong>In case of a take-over bid</strong></span>, surrender of GST registration is a must or the GST tax liability will continue to arise under the previous owner’s name.&nbsp;</li>
                        </ul>
    
                    <h2 class="text-uppercase text-center mt-2 mb-3"><strong>GST CANCELLATION STATUS AFTER 28TH GST MEET</strong></h2>
    
                    <p>At the 28th GST meeting, the government has changed GST cancellation procedure. Henceforth, the GST certificate shall be suspended immediately after the application for surrender of GST registration. Thus, no GST liability shall arise once you have applied for cancellation of GST registration.</p>
                   </div></div></div>
            </div>
             <!-- <div class="col-4">
                    <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Enter Your Email Address" required="" type="email"></div><div class="col pl-0">
                        <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
            </div>  -->
           
            
                    </div>
                </div>
    
    
    
    
    
                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                    <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                    <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>
    
    
    
    
                    <div class="container-fluid pt-5 pb-5 bg-black"><div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                            <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR GST CANCELATION</strong></h2>
                            
                                    </div>
                                </div>
                            <!-- <div class="row">
                                <div class="col">
                                    <ul>
                                        <li><strong>PAN Card of the Business or Applicant</strong> GSTIN is linked to the PAN of the business. Hence, PAN is required to obtain GST certificate.</li>
                                        <li><strong>Identity and Address Proof of Promoters</strong>&nbsp;documents like PAN, passport, driving license, aadhaar card or voters identity card must be submitted for all the promoters.</li>
                                        <li><strong>Address Proof for Place of Business</strong> Documents like rental agreement or sale deed along with copies of electricity bill or latest property tax receipt or municipal khata copy must be submitted for the address mentioned in the GST application.</li>
                                        <li><strong>Bank Account Proof</strong> Scanned copy of the first page of bank passbook showing a few transaction and address of the business must be submitted for the bank account mentioned in the registration application.</li>
                                    </ul>
                                </div>
                            </div> -->
                            
                              <div class="row">
                            <div class="col-sm-3">
                            <!-- <div class="document-box"> -->
                                    <!-- <img class="mt-2 mb-2" src="../../assets/images/id-card.png" alt="">
                                    <h4>Identity Proof</h4>
    
                                    <p>Aadhar Card<br />Driving License<br />Election Id Card<br />Passport</p> -->
                            <!-- </div> -->
                            </div>
                            
                            <div class="col-sm-3">
                            <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/id-card.png" alt="">
                                    <h5>Reason Of Cancellation</h5>
    
                                    <!-- <p>Aadhar Card<br />Driving License<br />Election Id Card<br />Passport</p> -->
    
                               
                            </div>
                            </div> 
                            
                             <div class="col-sm-3">
                            <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/gst-certificate.png" alt="">
                            <h5>GST Certificate</h5>
                            </div>
                            </div>
                            
                            <div class="col-sm-3">
                            <!-- <div class="document-box"> -->
                                    <!-- <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                    <h5>Passport size Photograph</h5> -->
                            <!-- </div> -->
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
    
    
    
    
    
    
    
                    <div class="container-fluid pt-5 pb-5 bg-yellow">
                            <div class="row"><div class="col text-center">   
                                    <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                            <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                            <div class="main width-300"> 
                                        <input type="hidden" name="position" value="2">
                                                <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                        
                                      
                                    <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                </div>
                                </form>    
                            </div>
                            </div>
                        </div>
    
    
    
    
                        <div class="container mb-5">
                            <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                            <div class="row">
                                
                                 <div class="col pr-0">
                                    <!-- <div class="card basic text-center">
                                    <div class="box1 yellow-color">
                                        <h3>Basic</h3>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="box2 mb-5">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 999 <br><small><i>Inclusive all taxes</i></small></h4>
                                    <div class="pt-3 pb-3">Change in Non-core fields <br>(those related&nbsp;to GST application <br>except for legal name of the business, <br>Addition and deletion of stakeholder's detail and <br>principal or additional place of business).    </div>  <br />
                                    <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                    
                             </div>  -->
                                 </div>
                                
                                <div class="col pl-0 pr-0 middle-panel card">
                                    <div class=" text-center">
                                        <div class="box1">      
                                    <h3>GST Cancellation</h3>
                                    <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    </p></div>
                                    <div class="box2">
                                        <h4><i class="fa fa-inr" aria-hidden="true"></i> 999 <br><small><i>Inclusive all taxes</i></small></h4>    
                                    <div class="pt-2">GST Cancellation&nbsp;<br><br>Filing of GST Form Reg 16
                                    </div>  
                                               
                                                                        <button class="btn btn-primary mt-5">LET's START</button>
                                    </div>   
                                       
                                    </div>
                                </div>
                                
                                <div class="col pl-0">
                                    <!-- <div class="card premium text-center">
                                        <div class="box1 yellow-color">
                                                    <h3>Premium</h3>
                                                    <p>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                                        </p>
                                        </div>
                                        <div class="box2">
                                               
                                            <div class="pt-3 pb-3">
                                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 1499 <br><small><i>Inclusive all taxes</i></small></h4>
                                                    <div> Change from Composite to Regular scheme<br><br>       
                                                    </div>
                                                   
                                            </div>  
                                               
                                                                            <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                    </div>                             
                                        </div> -->
                    
                                      
                                    </div>
                                </div>
                                    </div>
                               
                                    <div class="container-fluid pt-5 pb-5 bg-black">
                                            <div class="row"><div class="col text-center">   
                                                    <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                            <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                    ARRANGE A CALL BACK</strong></h2>
                                                            <div class="main width-300"> 
                                                        <input type="hidden" name="position" value="2">
                                                                <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                                <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                                <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                        
                                                      
                                                    <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                                </div>
                                                </form>    
                                            </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                                </div>
                                            </div>
                                        </div>