<div class="container-fluid">
    <div class="row">
        <div class="col less-padding">
            <img class="width-100" src="../../assets/images/career.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col mt-5 mb-5">
                        <p>CogentCA was founded with a belief that work is like a festival which worth celebrating every day. We take a great pride in creating a platform that empowers employees and is totally bias free, a platform different from command and control to power to the people. We have a mindset and passion to make our employee’s experience as dynamic, focused and information rich as possible.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>