<div class="container">
        <div class="row"><div class="col lesspadding">
                <img style="width:100%" src="../../assets/images/slider/saving.png" data-lazyload-replaced="true">
            </div>
        </div>
            <div class="row">
                <div class="col lesspadding mt-5">
                <h4>GST Return Annual Package</h4>
                <h3><i class="fa fa-inr" aria-hidden="true"></i> 9999 all-inclusive</h3>
               
                                        <h4>Package Includes</h4>	
                <ul class="check-list">
                                                <li>GSTR 1  </li>
                                                <li> GSTR 3B </li>
                                            </ul>
           
            <hr>

          
                <h4>Why this package ?</h4>
           

            <p>Relive your mind stress from several cumbersome GST return filing by getting our tailored made money saver annual package and give that headache to us we are good at it. We will take care of GST returns filings pertains to the financial year 2018-2019.&nbsp;</p>



<h3><strong>ABOUT GSTR-3B</strong></h3>

<p>Goods and Service Tax Return 3B is required to be filed&nbsp;every month on or before 20th of next following month. Like November return due date of filing GSTR-3B is 20th December. This is a summary return which requires details of sales, purchase, and computation of tax liability after considering input tax credit.</p>

<h3><strong>ABOUT GSTR-1</strong></h3>

<p>Goods and Service Tax Return 1 is a sales&nbsp;return which requires to be file&nbsp;quarterly/monthly based on the annual turnover of the business.</p>



<p><strong><u>Note: -</u></strong></p>
<ol>
<li>The full amount of tax (Cess+ Interest + Any other cost) and late filing fee on non-filing of GST return for previous periods will be bear by you.</li>
<li>The above annual package of GSTR-3B &amp; 1 is for the financial year 2018-2019.</li>
<li>You need to provide OTP received on registered mobile number during submission of return.</li>
<li>Your all previous months’ return must be filed for filing current month return.</li>
<li>You will facilitate DSC if you are Private/Public Limited Company, OPC or LLP.</li>
<li>The above quotation is for up to 50 transactions in each month.</li>
<li>We are assuming following below unless otherwise specified
    <ol><li>There is no such transaction which attracts reverse charge applicability.</li>
    <li>There is no Credit/Debit Note.</li>
    <li>There is no export sale, import purchase including SEZ transaction.</li></ol></li></ol>
        <hr>
        <div class="main-form mt-5 mb-5" style="width: 50%;">
                <h4 class="text-center text-uppercase"><b>Grab The Offer</b></h4>
                <p class="text-center mb-5">Why wait Submit below form &amp; catch the best deal</p>
                <form [formGroup]="login" novalidate class="form">
                        <div class="ui-form-wraper">
                           <p class="text-center text-white">{{title}}</p>
                           <div class="row">
                               <div class="col"><div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Name"
                                        formControlName="name" 
                                        name="name" 
                                        type="text" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                            
                                        </span>
                                        
                                    </div>
                                   </div></div>
                               <div class="col"><div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Email Address" formControlName="email" 
                                        name="email" 
                                        type="email"
                                        class="form-control" autocomplete="off">
                                        <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                        
                                                </span>
                                                <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                            
                                                </span>
                                        </div>
                                </div>
                                   </div></div>
                           </div>
                           
                           
                           <div class="row">
                                <div class="col"><div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                            <input 
                                            placeholder="Mobile No." formControlName="mobile" 
                                            name="mobile" 
                                            type="number" 
                                            class="form-control" autocomplete="off">
                                            <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                    
                                                </span>
                    
                                        </div>
                                       </div></div>
                                <div class="col"><div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                            
                                                <input
                                                placeholder="Subject" formControlName="subject" 
                                                name="subject" 
                                                type="text" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="login.get('subject').touched && login.get('subject').invalid">
                                                    
                                                    </span>
                    
                                        </div>
                                       </div></div>
                            </div>
                           
                           
                               <div class="row">
                                    <div class="col"><div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                <textarea rows="6"
                                                    placeholder="Message" formControlName="message" 
                                                    name="message" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off"></textarea>
                                                    <span class="text-danger" *ngIf="login.get('message').touched && login.get('message').invalid">
                                                        
                                                        </span>
                    
                                            </div>
                                           </div></div>
                                   
                                </div>
                               
                       </div>
                       <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                    </form>
                </div>
    </div>
       
    </div>
    </div>