<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">
                                 <h5>ISO Certification</h5>
                <p>We can help you obtain ISO 9001,14001, 18001, 20000, 22000, 27001 & other certification accredited by worldwide well-renowned International Accreditation Forum bodies. Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
            <form method="post" name="frmHeaderSection" action="" novalidate="novalidate">
                 <div class="ui-form-01-wraper">
                        <p class="text-center text-white">Get Inbox Now<br />
                            Proposal & Sample ISO Certificate</p>
                    <div class="form-group">
                        <input type="text" placeholder="Name" name="name" maxlength="50" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email Address" name="email" maxlength="50" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Mobile No" name="number" maxlength="50" class="form-control" formControlName="number">
                    </div>
                </div>
                <button class="btn btn-primary form-control">Submit</button>
            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>



 <div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">ABOUT ISO CERTIFICATION</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Set of Standards</h5>

<p>The International Organization for Standardization's ISO series describes set of standards for a Quality Management System based on the process model.</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Customer Satisfaction</h5>

<p>ISO certification emphasis on achieving customer satisfaction for any general product or service.</p>    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Ensure Quality</h5>

<p>A certified quality management system demonstrates entity commitment to quality product and/or services and customer satisfaction.</p>

    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Fulfill Tender Eligibility</h5>

<p>ISO certification an essential requirement before carrying on business with a new vendor &amp; eligibility to enter global markets.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Increase Business</h5>

<p>ISO certification helps business entity winning private &amp; public contracts.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Operational Efficiency</h5>

<p>ISO certification helps in build customer satisfaction &amp; improve operational efficiency within the organization.</p>
        </div>
        </div>
        </div>
        </div>
    </div> 

     <div class="container-fluid pt-5 bg-yellow pb-5">
        <div class="row">
        <div class="col"><div class="container">
            <div class="row">
                <div class="col">
            <h3 class="text-center"><strong>HOW DOES ISO CERTIFICATION HELP IN GLOBAL BUSINESS EXPANSION?</strong></h3>
<p class="text-center">It’s become very difficult to grab a global buyer outside the country local boundaries for the indigenous product. In today’s competitive global market, the buyers are looking for a top-notch quality product with 0% defect. Here ISO certification play vital role to expand your business global presence. ISO Certification logo ensure buyers a international quality of product before making an order. This way, ISO certification can help you to enter the global markets easily.</p>
        </div>
    </div>
</div>
</div>
        
    </div> 
</div>

<div class="container-fluid bg-black">
     <div class="container -fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col-8">
                <div class="container">
                        <div class="row">
                        <div class="col">
                <h2 class="text-uppercase text-center mt-2 mb-3"><strong>HOW IS ISO 9001 USEFUL TO SMALL BUSINESSES?</strong></h2>

                <p>Evidently, the most recent version of ISO 9001, i.e. ISO 9001:2015 is much lucrative for small and medium enterprises. There are innumerable benefits for small businesses such as</p>
                <ul>
                    <li>The ISO 9001:2015 standard throws light on the results and is less rigid in terms of paperwork.</li>
                    <li>This ISO certification standard is highly flexible and can be easily adaptable by small enterprises, especially those dealing with providing services.</li>
                    <li>ISO certification 9001:2015 provides all relevant guidelines for organizational growth rather than merely focusing on how to run your business.</li>
                    <li>As a matter of fact, many small businesses are now adopting ISO certification 9001 due to its simplicity.</li>
                    <li>Besides, it is more helpful in achieving desired results that can be noticed by target customers. Find out more on<strong> ISO certification</strong>…</li>
                </ul>

                
               </div></div></div>
        </div>
           <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div>  
       
        
                </div>
            </div>
</div> 

<div class="container">
    <div class="row">
        <div class="col pt-3 pb-3 mt-5 list-hover">
            <h2 class="text-uppercase"><strong>What is ISO?</strong></h2>
            <p>The International Organization for Standardization is a worldwide autonomous body for setting various global standards for quality management. It comprises of representative standardization organizations from various nations. Established in 1947, the ISO frames and promotes worldwide industrial and commercial standards.</p>
            
            
        </div>
        <div class="col pt-3 pb-3 mt-5 list-hover">
            <h2 class="text-uppercase"><strong>What is IAF?</strong></h2>
            <p>IAF stands for International Accreditation Forum. IAF is the world most recognised association of global Accreditation bodies and that are responsible for conformity assessment in various fields of quality management systems. An ISO Certification issued by IAF member accreditation body carries more value and recognition in the world. Even though, Government authorities prefer it for fulfilling eligibility criteria of government tenders.</p>
        </div>
    </div>
    <div class="row">
        <div class="col pt-3 pb-3 mb-5 list-hover">
            <h2><strong>Can I implement ISO 9001 QMS without hiring a consultant?</strong></h2>

<p>Yes, absolutely. In fact, there are many benefits to implementing ISO 9001 without a consultant, not just the obvious one: cost.</p>

<p>Today being cost effective is a goal for every business, an ISO 9000 Consultant is a luxury that many companies want to avoid. But how can you be responsible for implementing ISO certification 9001, if you have not done it before?</p>
<p>Yes you can do it, if you get an ISO certification 9001 implementation effective tools. We offer procedures, forms, a quality manual and tutorial videos developed by highly experienced ISO 9001 consultant in a wide range of industries. Our ISO 9001 implementation kit can be a very cost-effective alternative, rather than hiring ISO 9000 QMS consultant for implementation.</p>

        </div>
        <div class="col pt-3 pb-3 mb-5 list-hover">
            <h2><strong>Can I be certified with multiple ISO standards at a same time?</strong></h2>

<p>Yes, you can get ISO Certification under multiple ISO Standards. This way, you will get additional recognition in the market.</p>
<p>The ISO 9001 standard has been harmonized with other standards such as ISO 14001 and ISO 27001, which means they have similar requirements clauses. For example both ISO 9001 and ISO 27001 require management reviews, internal audits, Document Control procedure, etc. With the appropriate analysis and planning, your organization could save time and money by combining these steps to avoid redundancy.</p>

<h2><strong>Which ISO Certification best for my business?</strong></h2>
<p>There are different kind of ISO Certification Standards which focus on different aspect of business or organisational activity. ISO 9001 focus quality management system which helps organisation to enhance customer satisfaction with company product and services. Similarly ISO 14001 focus on environmental management and so on.</p>

<p>Before obtaining ISO certification, you must have look into your entire business process thoroughly and analysis which part or parts of the process you desire to standardized with ISO standards. Accordingly choose the ISO certification.</p>
<p>Below broad category give you background on different ISO standards at glance and help you choose suitable ISO Certification for your business.</p>
        </div>
    </div>
   
</div>

<div class="container-fluid bg-black pt-5 pb-5">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col"><h2 class="text-center mb-3">BROAD CATEGORIES OF ISO CERTIFICATION STANDARDS</h2></div>
                </div>
                <div class="row">
                    <div class="col"><p> <b>ISO 9001</b> ensure company product &amp; services meets customer expectations and enhance customer satisfaction.</p></div>
                    <div class="col"><p><b>ISO 14001</b> maps out a framework that an organization can follow to set up an effective environmental management system.</p></div>
                    <div class="col"><p><b>OHSAS 18001</b> allows a company to show their customers that company has effective health and safety management system.</p></div>
                    <div class="col"><p><b>ISO 22000</b> allows a company to show their customers that company has effective food safety management.</p></div>
                </div>
                <div class="row">
                        <div class="col"><p><b>ISO 20000</b> allows demonstrating excellence and prove best practice in IT &amp; improvement in the delivery of IT services.</p></div>
                        <div class="col"><p><b>ISO 27001</b> describes a best practice of company who involves in the information security management system (ISMS).</p></div>
                        <div class="col"><p><b>CE Marking</b> on any brand is a manufacturer's affirmation that the product has complied with the necessary requirements of the applicable European health, safety, and environmental protection benchmark.</p></div>
                        <div class="col"><p><b>ISO 50001</b> describes best energy management practices which outline using energy efficiently helps organizations save money as well as helping to conserve resources and tackle climate change.</p></div>
                    </div>
            </div>
        </div>
    </div>
</div>

            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                            <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                <input type="hidden" name="position" value="2">
                                        <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                        <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                        <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                
                              
                            <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                        </div>
                        </form>    
                    </div>
                    </div>
                </div>




                <div class="container-fluid pt-5 pb-5"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR ESI REGISTRATION</strong></h2>
                        
                                </div>
                            </div>
                        
                        
                          <div class="row">
                         <!-- <div class="col-sm-3">
                        <div class="document-box text-center"> 
                                 <img class="mt-2 mb-2" src="../../assets/images/invention-icon.png" alt="">
                                 <h5>Title of the Invention</h5>

                        </div>
                        </div> -->
                        
                        <div class="col">
                        <div>
                            <ul class="list-no-style list-hover">
                                    <li><strong>Business Registration Proof</strong>A document proof of business required such as certificate of incorporation, GST certificate, MSME certificate, Trademark certificate, etc.</li>
                                    <li><strong>Letter Head or Visiting Card</strong>A Letter Head or Visiting Card of the business required for which you are looking for ISO certification.</li>
                                    <li><strong>Sales and Purchase Invoice </strong>A Sale and Purchase Invoice evidencing the nature of business activity for which you’re securing ISO certification.</li>
                               
                            </ul>
                        </div>
                        </div> 
                        
                         <!-- <div class="col">
                        <div>
                            <img class="mt-2 mb-2 list-hover" src="../../assets/images/esir.PNG" alt="">
                            
                        </div>
                        </div> -->
                        
                        <!-- <div class="col-sm-4">
                        <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                <h5>Description of work</h5>
                        </div>
                        </div> -->
                        </div>
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                             <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Remote</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <!-- <h4><i class="fa fa-inr" aria-hidden="true"></i> 4499 <br><small><i>Inclusive all taxes</i></small></h4> -->
                                <div class="pt-3 pb-3"> <br>ISO Certification<br><br>ISO&nbsp;9001 Quality Manual<br><br>Business listing on accreditation body website<br><br> </div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                    
                         </div> 
                             </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Compact</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <!-- <h4><i class="fa fa-inr" aria-hidden="true"></i> 9999 <br><small><i>Inclusive all taxes</i></small></h4>     -->
                                <div class="pt-2"><br>ISO Certification&nbsp;<br><br>ISO 9001 Quality Manual<br><br>ISO&nbsp;9001 Implementation Kit<br><br>Business listing on accreditation body website<br><br>Implementation &amp; Training Videos<br>   <br> 
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                   
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Full Implementation</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <!-- <h4><i class="fa fa-inr" aria-hidden="true"></i> 19999 <br><small><i>Inclusive all taxes</i></small></h4> -->
                                                <div><br>ISO Certification<br><br>ISO 9001 Quality Manual<br><br>ISO&nbsp;9001 Implementation Kit<br><br>Business listing on accreditation body website<br><br>GAP Analysis<br><br>Staff Training<br><br>Detailed Documentation<br>          
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                  
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                    <input type="hidden" name="position" value="2">
                                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                    
                                                  
                                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                            </div>
                                            </form>    
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>