<div class="container-fluid">
    <div class="row">
        <div class="col width-100">
            <img src="../../assets/images/Tax-advisory.jpg" alt="">
            <p class="margin-negative text-uppercase">Corporate Finance</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">

<h4 class="mt-5 mb-3"><span class="text-uppercase">CogentCA</span> Corporate Finance advisers guide your financial transaction to a successful outcome.</h4>

<p>CogentCA is here to help your business succeed in a fast-moving environment, which places significant strategic and competitive pressures on seeking to expand your activities, whether your business operates in a national or international marketplace.</p>

<p>We have extensive experience in advising clients on corporate finance actions dealing with sources of funding to allocation of financial resources.</p>

<p>We provide corporate finance advisory services to a variety of stakeholders in a business including business owners, entrepreneurs, corporate shareholders, management teams, and financiers.</p>

<h4 class="mt-5 text-uppercase">CogentCA AS AN ACTIVE FINANCIAL ADVISOR</h4>  
<p>We lead clients conducting transformation projects through transactions or capital management and actively advice on practical and financial issues that our clients could face. </p>

<p>Our advisory teams will work with you on different stages or the whole process until the deal is complete.</p>
</div>
<div class="col-4">
    
        <div class="sidenote-1 mt-5"> 
            <h3>Want to know more?</h3> 
            <article class="UserCard"> 
                <div class="UserCard-content" style="font-size: 20px"> 
                    <p class="UserCard-title" style="font-size: 17px"> <span class="UserCard-name text-uppercase" style="font-size: 20px"><b>CA Roshani Anand</b></span><br />Professional Adviser </p>
                     <p style="font-size: 17px"><i class="fa fa-phone"></i> +[91] 7533086930</p>
                     <hr>
                     <p style="font-size: 17px"><i class="fa fa-linkedin"></i> Linkedin Profile</p>
                     <p style="font-size: 17px" class="mb-2"><i class="fa fa-envelope"></i> Send a Message</p>
                     <br />
                    </div> 
                </article> 
            </div>
   
</div>
</div>
</div>