<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">
                                <h5>PF Registration</h5>
                <p>We can help you in all your queries regarding PF registration with a single click of mouse while you stay relaxed of getting insured under PF without any complication. Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
            <form method="post" name="frmHeaderSection" action="" novalidate="novalidate">
                 <div class="ui-form-01-wraper">
                        <p class="text-center text-white">Arrange call from our business advisor</p>
                    <div class="form-group">
                        <input type="text" placeholder="Name" name="name" maxlength="50" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email Address" name="email" maxlength="50" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Mobile No" name="number" maxlength="50" class="form-control" formControlName="number">
                    </div>
                </div>
                <button class="btn btn-primary form-control">Submit</button>
            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>



<!-- <div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">ABOUT DESIGN REGISTRATION</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Safety from misuse</h5>

<p>Design Registration process prevents other entities from producing, selling or distributing products having identical designs.</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Expandable validity </h5>

<p>A Design registration is valid for a period of 10 years. This validity period can be extended up to 5 more years.</p>    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Unique Selling Point</h5>

<p>Design registration gives an entity a Unique Selling Point, which means that its product gets unique identity from that of the competitors.</p>

    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Protects Originality</h5>

<p>The registered designs are universally unique and they are not earlier published in any nation and were also not known in India before.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Induces Client Response</h5>

<p>An important criterion for registering a design is that it should appeal to and is judged solely by the eye.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Promotes Creativity</h5>

<p>Design registration requires a product to be appealing and unique from all others, and this promotes creativity and boosts competition.</p>
        </div>
        </div>
        </div>
        </div>
    </div> -->

     <div class="container -fluid pt-5 bg-yellow0 pb-5">
        <div class="row">
        <div class="col">
            <h3><strong>WHAT IS EPF?</strong></h3>
<p>The Employee Provident Fund or PF is a retirement saving scheme provided by the government for all salaried employees in India, on which fixed interest is regularly paid.</p>
<p>The Employee Provident Fund is a perquisite given by the employer to their employees over and above their basic remuneration.</p>
        </div>
        <div class="col"><h3><strong>WHY GET EPF ONLINE REGISTRATION FOR EMPLOYER?</strong></h3>
            <p>PF Registration is mandatory for all the organizations that have 20 or more employees. Such organizations are required to contribute a fixed amount towards Employee Provident Fund out of employee salary and wages.</p>
            <p>If an employer fails to get EPF employer registration, or indulges in false representation of facts to avoid PF payment, he shall be liable for a penalty of INR 5,000/-.</p></div>
        </div>
        <div class="row">
            <div class="col-6">
                <h3><strong>WHAT IS THE PF NUMBER FORMAT?</strong></h3>
    <p>PF number looks like this:- MH/BAN/0001011/000/0000110. Here are the components in the PF number format:-</p>
    <img class="width-100" src="../../assets/images/pfnum.png" alt="">

    <ul>
        <li><strong>MH:</strong> These are 1st 2 characters representing Regional Office code (e.g. MH for Maharashtra)</li>
        <li><strong>BAN:</strong> Next 3 characters denote code of Regional Office / Sub-regional Office [e.g. BAN for Bandra (Mumbai-I) EPF office]</li>
        <li><strong>0001011:</strong> Next 7 digits depict EPF employer registration code</li>
        <li><strong>000:</strong> Successive 3 digits tell the extension assigned to the employer (if it’s 000 then extension is blank).</li>
        <li><strong>0000110:</strong> Final 7 digits denote exact EPF account number of the employee</li>
    </ul>
            </div>
            <div class="col-6">
                <div class="row"><div class="col"><h3><strong>WHEN IS PF REGISTRATION FOR EMPLOYER MANDATORY?</strong></h3>
                    <p><span style="font-size:16px">PF registration for Employer is compulsory if:-</span></p>

                    <ul>
                        <li><span style="font-size:16px">He owns a factory having 20 or more people, or</span></li>
                        <li><span style="font-size:16px">Any other organization / foundation with 20 or more employees or</span></li>
                        <li><span style="font-size:16px">The class of such organizations whom the Central Government may, by notice would specify for compulsory EPF employer registration.</span></li>
                    </ul></div></div>
                <div class="row"><div class="col"><h3><strong>WHAT DETAILS DO I NEED TO GIVE FOR PF REGISTRATION?</strong></h3>
                    <p><span style="font-size:16px">Employers need to furnish the following details to get PF registration.</span></p>

<ul>
	<li><span style="font-size:16px">Name &amp; address of your company</span></li>
	<li><span style="font-size:16px">Head office &amp; branch details</span></li>
	<li><span style="font-size:16px">Date of company incorporation</span></li>
	<li><span style="font-size:16px">Total employee strength</span></li>
	<li><span style="font-size:16px">Type of business activity</span></li>
	<li><span style="font-size:16px">Nature of business.</span></li>
	<li><span style="font-size:16px">Director/partners’ details</span></li>
	<li><span style="font-size:16px">Employee’s Basic details</span></li>
	<li><span style="font-size:16px">Employees’ salary details</span></li>
	<li><span style="font-size:16px">Bank account details of the company</span></li>
	<li><span style="font-size:16px">PAN card</span></li>
</ul></div></div>
            </div>
            </div>
    </div> 


     <div class="container-fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col">
                <div class="container">
                        <div class="row">
                        <div class="col">
                <h2 class="text-uppercase mt-2 mb-3"><strong>WHAT ARE THE BENEFITS OF EPF REGISTARTION ?</strong></h2>

                <p><span style="font-size:16px">Given below are the benefits of getting EPF registration:</span></p>

<ul>
	<li>
	<div><strong><span style="font-size:18px"><span style="color:#ffcc33">Risk coverage:</span></span>&nbsp;</strong><span style="font-size:16px">The most fundamental benefit of the Provident Fund is to cover the risks employees and their dependents that may arise due to retirement, an illness or their demise.</span></div>
	</li>
	<li>
	<div><strong><span style="color:#ffcc33"><span style="font-size:18px">Uniform account:</span> </span>&nbsp;</strong><span style="font-size:16px">One of the most important aspects of the Provident Fund account that it's steady and transferable. It can be carried forward to any other place of employment.</span></div>
	</li>
	<li>
	<div><strong><span style="color:#ffcc33"><span style="font-size:18px">Employee Deposit Linked Insurance Scheme:</span> </span>&nbsp;</strong><span style="font-size:16px">This scheme is for all the PF account holders. According to it, 0.5% of the salary is deducted from the life insurance premium.</span></div>
	</li>
	<li>
	<div><strong><span style="font-size:18px"><span style="color:#ffcc33">Long-term goals:</span></span>&nbsp;</strong><span style="font-size:16px">There are many long-term goals such as Marriage or higher education that require the urgent availability of funds. The accumulated PF amount often comes handy during such occasions.</span></div>
	</li>
	<li>
	<div><strong><span style="font-size:18px"><span style="color:#ffcc33">Emergency needs:</span></span>&nbsp;</strong><span style="font-size:16px">There are certain unanticipated occasions like marriage or other family occasions, any mishappening or illness that require urgent finance. The PF amount can be of great help.</span></div>
	</li>
	<li>
	<div><strong><span style="font-size:18px"><span style="color:#ffcc33">Covers pension:</span></span>&nbsp;</strong><span style="font-size:16px">Apart from the employee’s 12% contribution towards EPF, an equal amount is contributed by the employer, which includes 8.33% towards Employee Pension Scheme (EPS).</span></div>
	</li>
</ul>
                
               </div></div></div>
        </div>
          <!-- <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Enter Your Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div>  -->
       
        
                </div>
            </div> 

<div class="container">
    <div class="row">
        <div class="col pt-3 pb-3 mt-5 list-hover">
            <h2 class="text-uppercase"><strong>What do we mean by UAN number?</strong></h2>

<p>Universal Account Number (UAN) refers to the unique 12 digit number allotted to the employee. UAN Number records employee pf deposited amount and other relevant information which shall continue throughout the employment period and after retirement also. The same can be obtained only through employer EPF registration code.</p>

<h2 class="text-uppercase"><strong>Who applies for UAN number registration?</strong></h2>

<p>The Employer can generate the employee’s UAN. In the event of change of employment, the previous PF UAN number registration shall be linked to the next employer. Employee needs not to get a fresh EPF UAN registration.</p>
        </div>
    </div>
    <div class="row">
        <div class="col pt-3 pb-3 list-hover">
            <h2 class="text-uppercase"><strong>What is PF return filing procedure?</strong></h2>

<p>Each &amp; Every establishment having employer EPF registration needs to file regular monthly returns on 25th of every month and one annual return before the 25th of April every year.</p>

<h2 class="text-uppercase"><strong>What is the due date for payment of PF by employer?</strong></h2>

<p>The due date for payment of PF by employer having EPF registration is 15th of every month.</p>
        </div>
    </div>
    <div class="row">
        <div class="col pt-3 pb-3 mb-5 list-hover">
            <h2 class="text-uppercase"><strong>Penalty for delay in PF payment by employer:</strong></h2>

<p>Delay in payment of PF by employer having PF registration will attract penalty as follows:</p>

<div class="table margin-auto">
<table>
	<tbody>
		<tr>
			<td>
			<p><strong>S.No</strong></p>
			</td>
			<td>
			<p><strong>Period of Delay</strong></p>
			</td>
			<td>
			<p><strong>Rate of Penalty</strong></p>

			<p><strong>(p.a.)</strong></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>1.</strong></p>
			</td>
			<td>
			<p>Upto 2 months</p>
			</td>
			<td>
			<p>5%</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>2.</strong></p>
			</td>
			<td>
			<p>2 - 4 months</p>
			</td>
			<td>
			<p><span>10%</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>3.</strong></p>
			</td>
			<td>
			<p><span>4 - 6 months</span></p>
			</td>
			<td>
			<p><span>15%</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>4.</strong></p>
			</td>
			<td>
			<p><span>Beyond 6 months</span></p>
			</td>
			<td>
			<p><span>25%</span></p>
			</td>
		</tr>
	</tbody>
</table>
</div>
        </div>
    </div>
</div>



            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                            <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                <input type="hidden" name="position" value="2">
                                        <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                        <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                        <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                
                              
                            <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                        </div>
                        </form>    
                    </div>
                    </div>
                </div>




                <div class="container-fluid pt-5 pb-5"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR PF REGISTRATION</strong></h2>
                        
                                </div>
                            </div>
                        
                        
                          <div class="row">
                         <!-- <div class="col-sm-3">
                        <div class="document-box text-center"> 
                                 <img class="mt-2 mb-2" src="../../assets/images/invention-icon.png" alt="">
                                 <h5>Title of the Invention</h5>

                        </div>
                        </div> -->
                        
                        <div class="col">
                        <div>
                            <ul class="list-no-style list-hover">
                                <li><strong>Registration Certificate </strong> <span style="font-size:16px">GST Certificate, Shopex, COI</span></li>
                                <li><strong><span style="font-size:16px">A</span>ddress proof </strong> <span style="font-size:16px">Electricity Bill, Rent agreement, Telephone Bill, Water bill.</span></li>
                                <li><strong>PAN card </strong> <span style="font-size:16px">Of business entity and all partners/directors.</span></li>
                                <li><strong>Canceled cheque</strong> <span style="font-size:16px">Cancelled cheque is required for authentication of bank details</span>.</li>
                                <li><strong>Digital Signature of anyone Director. (Pendrive)</strong> <span style="font-size:16px">DSC will be affixed on the application form.</span></li>
                                <li><strong>Additional Document</strong> In case of Company - <span style="font-size:16px">COI/MOA, In case of partnership firm - Partnership deed.</span></li>
                            </ul>
                        </div>
                        </div> 
                        
                         <div class="col">
                        <div>
                            <img class="mt-2 mb-2 list-hover" src="../../assets/images/pfrdocs.png" alt="">
                            
                        </div>
                        </div>
                        
                        <!-- <div class="col-sm-4">
                        <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                <h5>Description of work</h5>
                        </div>
                        </div> -->
                        </div>
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                             <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Basic</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 5499 <br><small><i>Inclusive all taxes</i></small></h4>
                                <div class="pt-3 pb-3"> PF Registration</div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                    
                         </div> 
                             </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Standard</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 6999 <br><small><i>Inclusive all taxes</i></small></h4>    
                                <div class="pt-2">PF Registration<br>DSC Class II for 2 years validity  <br> 
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                   
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Premium</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> 16999 <br><small><i>Inclusive all taxes</i></small></h4>
                                                <div> PF Registration<br>DSC class II for 2 years validity<br>PF Return filing for up to 10 employees <br>           
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                  
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                    <input type="hidden" name="position" value="2">
                                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                    
                                                  
                                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                            </div>
                                            </form>    
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>