<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">
                                 <h5>ESI Registration</h5>
                <p>We can help you in all your queries regarding ESI registration with a single click of mouse while you stay relaxed of getting insured under ESI without any complication. Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
             <p class="text-center text-white">Arrange call from our experts</p>
             <form [formGroup]="login" novalidate class="form">
                <div class="ui-form-wraper">
                   <p class="text-center text-white">{{title}}</p>
                   <div class="form-group">
                    <div class="form-group">
                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                        <input
                        placeholder="Name"
                        formControlName="name" 
                        name="name" 
                        type="text" 
                        class="form-control" autocomplete="off">
                        <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                            
                        </span>
                        
                    </div>
                   </div>
                   <div class="form-group">
                    <div class="form-group">
                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                        <input
                        placeholder="Email Address" formControlName="email" 
                        name="email" 
                        type="email"
                        class="form-control" autocomplete="off">
                        <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                        
                                </span>
                                <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                            
                                </span>
                        </div>
                </div>
                   </div>
                   <div class="form-group">
                    <div class="form-group">
                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                        <input 
                        placeholder="Mobile No." formControlName="mobile" 
                        name="mobile" 
                        type="number" 
                        class="form-control" autocomplete="off">
                        <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                
                            </span>
            
                            <input hidden
                            placeholder="Subject" formControlName="subject" 
                            name="subject" 
                            type="text" 
                            class="form-control" autocomplete="off" [(ngModel)]="subject1">
            
                            <input hidden
                            placeholder="Message" formControlName="message" 
                            name="message" 
                            type="text" 
                            class="form-control" autocomplete="off" [(ngModel)]="message1">
                    </div>
                   </div>
               </div>
               <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>



<!-- <div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">ABOUT DESIGN REGISTRATION</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Safety from misuse</h5>

<p>Design Registration process prevents other entities from producing, selling or distributing products having identical designs.</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Expandable validity </h5>

<p>A Design registration is valid for a period of 10 years. This validity period can be extended up to 5 more years.</p>    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Unique Selling Point</h5>

<p>Design registration gives an entity a Unique Selling Point, which means that its product gets unique identity from that of the competitors.</p>

    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Protects Originality</h5>

<p>The registered designs are universally unique and they are not earlier published in any nation and were also not known in India before.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Induces Client Response</h5>

<p>An important criterion for registering a design is that it should appeal to and is judged solely by the eye.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Promotes Creativity</h5>

<p>Design registration requires a product to be appealing and unique from all others, and this promotes creativity and boosts competition.</p>
        </div>
        </div>
        </div>
        </div>
    </div> -->

     <div class="container -fluid pt-5 bg-yellow0 pb-5">
        <div class="row">
        <div class="col">
            <h3><strong>ALL ABOUT ESI</strong></h3>
<p>ESI is an autonomous organization under the Ministry of Labour and Employment, Government of India. Employee's State Insurance (ESI) is a self-financing social security and health insurance scheme for Indian workers...</p>
        </div>
        <div class="col"><h3><strong>HOW DOES THE ESI REGISTRATION SCHEME HELP EMPLOYEES?</strong></h3>
            <p>The scheme provides full medical cover to the employee registered under the ESI Act, 1948 during the period of his incapacity, restoration of his health and working capacity.</p>
            <p>It provides financial assistance to compensate for the loss of his/ her wages during the period of his absenteeism due to sickness, maternity and employment injury. This scheme provides medical claim to his/her family members also.</p></div>
        </div>
        <div class="row">
            <div class="col-6">
                <h3><strong>WHO REQUIRES ESIC REGISTRATION?</strong></h3>
    <p>ESI Registration is mandatory for every factory and specified establishments who have 10 or more permanent employees and wages of such employees are less than Rs. 21,000/- per month.</p>
            </div>
            <div class="col-6">
                <div class="row"><div class="col"><h3><strong>IS IT MANDATORY FOR THE EMPLOYER TO REGISTER UNDER THE SCHEME?</strong></h3>
                    <p><span>Yes, it is the statutory responsibility of the employer under Section 2A of the Act read with Regulation 10-B, to register their Factory/ Establishment under the ESI Act within 15 days from the date of its applicability to them.</span></p>

                   </div></div>
                
            </div>
            </div>
            <div class="row"><div class="col"><h3><strong>DEFINITION OF ESTABLISHMENT</strong></h3>
                <p><span>According to the notification issued by the appropriate Government (Central/State) under Section 1(5) of the Act, the following establishments employing 10 or more persons attract ESI registration coverage</span></p>
                <ul>
                    <li><span>Shop</span></li>
                    <br>
                    <li><span>Hotels or restaurants not having any manufacturing activity, but only engaged in 'sales';</span></li>
                    <br>
                    <li><span>Cinemas including preview theaters;</span></li>
                    <br>
                    <li><span>Road Motor Transport Establishments;</span></li>
                    <br>
                    <li><span>Newspaper establishments. (that is not covered as a factory under Sec.2(12));</span></li>
                    <br>
                    <li><span>Private Educational Institutions (those run by individuals, trustees, societies or other organizations and Medical Institutions (including Corporate, Joint Sector, trust, charitable, and private ownership of hospitals, nursing homes, diagnostic centers, pathological labs).</span></li>
                </ul></div>
            <div class="col">
                <h3><strong>PENALTY IN CASE OF FAILURE TO GET ESI REGISTRATION & ESI RETURNS</strong></h3>
                <p><span>In case of any non-compliance by an employer, such as failure to get esic employer registration online or not fulfilling esi return filing procedure, he shall be liable for a fine of INR 10,000/-.</span></p>

                <h3><strong>SAMPLE CERTIFICATE OF ESI REGISTRATION</strong></h3>
                <p><img class="width-100" src="../../assets/images/esi_num.png" alt=""></p>
            </div>
            </div>
    </div> 


     <div class="container-fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col">
                <div class="container">
                        <div class="row">
                        <div class="col">
                <h2 class="text-uppercase mt-2 mb-3"><strong>BENEFITS OF ESIC REGISTRATION</strong></h2>

                <p><span>ESI Registration provides monetary and medical benefits to employees in case of sickness, maternity and employment injury and to make provisions for related matters.</span></p>
                <p>Some of the benefits of ESI Registration are :</p>
                <ul>
                    <li><span>Sickness benefits at the rate of 70% (in the form of salary), in case of any certified illness certified and which lasts for a maximum of 91 days in any year</span></li>
                    <li><span>Medical Benefits to an employee and his family members</span></li>
                    <li><span>Maternity Benefit to the women who are pregnant (paid leaves)</span></li>
                    <li><span>If the death of the employee happens while on work – 90% of the salary is given to his dependents every month after the death of the employee</span></li>
                    <li><span>Same as above in case of disability of the employee</span></li>
                    <li><span>Funeral expenses</span></li>
                    <li><span>Old age care medical expenses</span></li>
                </ul>

                
               </div></div></div>
        </div>
          <!-- <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Enter Your Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div>  -->
       
        
                </div>
            </div> 

<div class="container">
    <div class="row">
        <div class="col pt-3 pb-3 mt-5 list-hover">
            <h2 class="text-uppercase"><strong>ESI Contribution of Employer and Employees</strong></h2>
            <p><span>Every month, employers are required to contribute 3.25 % and employee contributes 0.75% of the wages payable. Total ESI contribution i.e. 4% deposited to the ESIC fund.</span></p>
            
            <p><span>Total ESI contribution is 4%</span></p>
            
            <p><span>ESI contribution rates for employee and employers are as below :</span></p>
            
            <div class="table margin-auto">
            <table>
                <tbody>
                    <tr>
                        <td>
                        <p><span><strong>Employee</strong></span></p>
                        </td>
                        <td>
                        <p><span><strong>Employers</strong></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p><strong>3.25%</strong></p>
                        </td>
                        <td>
                        <p><span>0.75%</span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            
           
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col pt-3 pb-3 mb-5 list-hover">
            <h2><strong>ESI returns to be filed by the employer</strong></h2>

<p><span>All the business entities having an ESIC Registration need to do regular ESI return filing.</span></p>

<p><span>The following below are ESI returns as follows:</span></p>

<div class="table margin-auto">
<table>
	<tbody>
		<tr>
			<td>
			<p><span><strong>ESI Returns</strong></span></p>
			</td>
			<td>
			<p><span><strong>Interval</strong></span></p>
			</td>
			<td>
			<p><span><strong>Due Date</strong></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>Form 5</strong></p>
			</td>
			<td>
			<p><span>Half Yearly</span></p>
			</td>
			<td>
			<p><span>April to September: 11th November</span></p>

			<p><span>October to March: 11th May</span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><strong>Form 1a</strong></p>
			</td>
			<td>
			<p><span>Annually</span></p>
			</td>
			<td>
			<p><span>31st January</span></p>
			</td>
		</tr>
	</tbody>
</table>

</div>
        </div>
    </div>
   
</div>



            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                    <form [formGroup]="logins" novalidate class="form">
                                        <div class="ui-form-wraper">
                                           <p class="text-center text-white">{{title}}</p>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                <input
                                                placeholder="Name"
                                                formControlName="name" 
                                                name="name" 
                                                type="text" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="logins.get('name').touched && logins.get('name').invalid">
                                                   
                                                </span>
                                                
                                            </div>
                                           </div>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                <input
                                                placeholder="Email Address" formControlName="email" 
                                                name="email" 
                                                type="email"
                                                class="form-control" autocomplete="off">
                                                <div *ngIf="logins.get('email').touched && logins.get('email').invalid">
                                                        <span class="text-danger"  *ngIf="logins.get('email').errors.required">
                                                                
                                                        </span>
                                                        <span class="text-danger"  *ngIf="logins.get('email').errors.pattern">
                                                                    
                                                        </span>
                                                </div>
                                        </div>
                                           </div>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                <input 
                                                placeholder="Mobile No." formControlName="mobile" 
                                                name="mobile" 
                                                type="number" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="logins.get('mobile').touched && logins.get('mobile').invalid">
                                                        
                                                    </span>
                                                
                                                
                                                    <input hidden
                                                    placeholder="Subject" formControlName="subject" 
                                                    name="subject" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off" [(ngModel)]="subject2">
                                    
                                                    <input hidden
                                                    placeholder="Message" formControlName="message" 
                                                    name="message" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off" [(ngModel)]="message2">
                                            </div>
                                           </div>
                                        </div>
                                       <button [disabled]="logins.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit1()">Submit</button>
                                    </form>   
                                </div>
                        
                    </div>
                    </div>
                </div>




                <div class="container-fluid pt-5 pb-5"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR ESI REGISTRATION</strong></h2>
                        
                                </div>
                            </div>
                        
                        
                          <div class="row">
                         <!-- <div class="col-sm-3">
                        <div class="document-box text-center"> 
                                 <img class="mt-2 mb-2" src="../../assets/images/invention-icon.png" alt="">
                                 <h5>Title of the Invention</h5>

                        </div>
                        </div> -->
                        
                        <div class="col">
                        <div>
                            <ul class="list-no-style list-hover">
                                
                                    <li><strong>Registration Certificate </strong> <span style="font-size:16px">GST Certificate, Shopex, COI</span></li>
                                    <li><strong><span style="font-size:16px">A</span>ddress proof </strong> <span style="font-size:16px">Electricity Bill, Rent agreement, Telephone Bill, Water bill.</span></li>
                                    <li><strong>PAN card </strong> <span style="font-size:16px">Of business entity and all partners/directors.</span></li>
                                    <li><strong>Cancelled cheque</strong> <span style="font-size:16px">Cancelled cheque is required for authentication of bank details.</span></li>
                                    <li><strong>Digital Signature of anyone Director. (Pendrive)</strong> <span style="font-size:16px">DSC will be affixed on the application form.</span></li>
                                    <li><strong>Additional Document</strong> <span style="font-size:16px">In case of Company - COI/MOA, In case of partnership firm - Partnership deed.</span></li>
                               
                            </ul>
                        </div>
                        </div> 
                        
                         <div class="col">
                        <div>
                            <img class="mt-2 mb-2 list-hover" src="../../assets/images/esir.PNG" alt="">
                            
                        </div>
                        </div>
                        
                        <!-- <div class="col-sm-4">
                        <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                <h5>Description of work</h5>
                        </div>
                        </div> -->
                        </div>
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                            <form [formGroup]="loginss" novalidate class="form">
                                                <div class="ui-form-wraper">
                                                   <p class="text-center text-white">{{title}}</p>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                        <input
                                                        placeholder="Name"
                                                        formControlName="name" 
                                                        name="name" 
                                                        type="text" 
                                                        class="form-control" autocomplete="off">
                                                        <span class="text-danger" *ngIf="loginss.get('name').touched && loginss.get('name').invalid">
                                                           
                                                        </span>
                                                        
                                                    </div>
                                                   </div>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                        <input
                                                        placeholder="Email Address" formControlName="email" 
                                                        name="email" 
                                                        type="email"
                                                        class="form-control" autocomplete="off">
                                                        <div *ngIf="loginss.get('email').touched && loginss.get('email').invalid">
                                                                <span class="text-danger"  *ngIf="loginss.get('email').errors.required">
                                                                        
                                                                </span>
                                                                <span class="text-danger"  *ngIf="loginss.get('email').errors.pattern">
                                                                            
                                                                </span>
                                                        </div>
                                                </div>
                                                   </div>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                        <input 
                                                        placeholder="Mobile No." formControlName="mobile" 
                                                        name="mobile" 
                                                        type="number" 
                                                        class="form-control" autocomplete="off">
                                                        <span class="text-danger" *ngIf="loginss.get('mobile').touched && loginss.get('mobile').invalid">
                                                                
                                                            </span>
                                                        
                                                        
                                                            <input hidden
                                                            placeholder="Subject" formControlName="subject" 
                                                            name="subject" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off" [(ngModel)]="subject3">
                                            
                                                            <input hidden
                                                            placeholder="Message" formControlName="message" 
                                                            name="message" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off" [(ngModel)]="message3">
                                                    </div>
                                                   </div>
                                                </div>
                                               <button [disabled]="loginss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit2()">Submit</button>
                                            </form>   
                                        </div>
                            
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                             <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Basic</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 4499 <br><small><i>Inclusive all taxes</i></small></h4>
                                <div class="pt-3 pb-3">ESI Registration Certificate</div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                    
                         </div> 
                             </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Standard</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 9999 <br><small><i>Inclusive all taxes</i></small></h4>    
                                <div class="pt-2">ESI Registration<br><br>PF Registration  <br> 
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                   
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Premium</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> 19999 <br><small><i>Inclusive all taxes</i></small></h4>
                                                <div> <div>ESI Registration<br><br></div><div>PF Registration<br><br>ESI Return filing for employee up to&nbsp;10<br></div>           
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                  
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                            <form [formGroup]="loginsss" novalidate class="form">
                                                                <div class="ui-form-wraper">
                                                                   <p class="text-center text-white">{{title}}</p>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input
                                                                        placeholder="Name"
                                                                        formControlName="name" 
                                                                        name="name" 
                                                                        type="text" 
                                                                        class="form-control" autocomplete="off">
                                                                        <span class="text-danger" *ngIf="loginsss.get('name').touched && loginsss.get('name').invalid">
                                                                           
                                                                        </span>
                                                                        
                                                                    </div>
                                                                   </div>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input
                                                                        placeholder="Email Address" formControlName="email" 
                                                                        name="email" 
                                                                        type="email"
                                                                        class="form-control" autocomplete="off">
                                                                        <div *ngIf="loginsss.get('email').touched && loginsss.get('email').invalid">
                                                                                <span class="text-danger"  *ngIf="loginsss.get('email').errors.required">
                                                                                        
                                                                                </span>
                                                                                <span class="text-danger"  *ngIf="loginsss.get('email').errors.pattern">
                                                                                            
                                                                                </span>
                                                                        </div>
                                                                </div>
                                                                   </div>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input 
                                                                        placeholder="Mobile No." formControlName="mobile" 
                                                                        name="mobile" 
                                                                        type="number" 
                                                                        class="form-control" autocomplete="off">
                                                                        <span class="text-danger" *ngIf="loginsss.get('mobile').touched && loginsss.get('mobile').invalid">
                                                                                
                                                                            </span>
                                                                        
                                                                        
                                                                            <input hidden
                                                                            placeholder="Subject" formControlName="subject" 
                                                                            name="subject" 
                                                                            type="text" 
                                                                            class="form-control" autocomplete="off" [(ngModel)]="subject4">
                                                              
                                                                            <input hidden
                                                                            placeholder="Message" formControlName="message" 
                                                                            name="message" 
                                                                            type="text" 
                                                                            class="form-control" autocomplete="off" [(ngModel)]="message4">
                                                                    </div>
                                                                   </div>
                                                                </div>
                                                               <button [disabled]="loginsss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit3()">Submit</button>
                                                              </form> </div>
                                            
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>