<div class="container">
    <div class="row">
        <div class="col mt-5 mb-5">
                <h2>Refund Policy</h2>

                <h4>We have&nbsp;Money Back Guarantee Policy if we are unable to deliver product or services as committed to you.</h4>
                
                <p>You can easily write to us your grievance on <a href="mailto:info@cogentca.com">info@cogentca.com</a>. Immediately our refund department will get into the matter and if it finds non-catering of services on the part of Cogentca we'll gladly refund your payment within 7 working days of your refund request.</p>
                
                <p><span><u><strong>Note:</strong></u></span></p>
                
                <p><span>1. No refund shall be issued if cogentca.com processed the registration/application as per the government guidelines and registration is rejected or pending on part of a government department or officials.</span></p>
                
                <p><span>2. We shall deduct&nbsp;<span>the&nbsp;administrative/processing charges not less than Rs.300 ( Three hundred rupees only)&nbsp;if service unable to processed due to non-submission of requiste documents as per government guideline or any kind of non-cooperation from applicant or any other circumstances which restricting us to process the application.</span></span></p>
                
                <p><span>2. If any government fee, duty, challan or any other sum paid in the course of processing your registration application. We are not liable to refund such&nbsp;government fee paid in the course of delivering the service. (Don't worry no government fee shall be deducted until Government challan or any other payment proof provided to you.)</span></p>
                
                <p><span>3. No refund shall be issued&nbsp;if you have already availed any complimentary service or discount offer which was attached to the paid service for which you are seeking a refund. Such as one-day ad banner publication, software subscription, etc.</span></p>
                
                <p><span>4. No refund shall be possible at any stage&nbsp;with respect to any subscription-based service such as GST return packages, Company annual compliance packages if the same service is partially processed or delivered.</span></p>
                
        </div>
    </div>
</div>