<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">
                                 <h5>FSSAI Registration</h5>
                <p>We can help you to obtain FSSAI registration & license as per your food business requirement.
                    Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
            <p class="text-center text-white">Starts from INR 1,999/- only<br />
                            Arrange call from food experts</p>
                            <form [formGroup]="login" novalidate class="form">
                                <div class="ui-form-wraper">
                                   <p class="text-center text-white">{{title}}</p>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Name"
                                        formControlName="name" 
                                        name="name" 
                                        type="text" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                            Name not be blank
                                        </span>
                                        
                                    </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Email Address" formControlName="email" 
                                        name="email" 
                                        type="email"
                                        class="form-control" autocomplete="off">
                                        <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                        Email not be blank
                                                </span>
                                                <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                            Email invalid
                                                </span>
                                        </div>
                                </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                        <input 
                                        placeholder="Mobile No." formControlName="mobile" 
                                        name="mobile" 
                                        type="number" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                Mobile will not be blank
                                            </span>
                                    </div>
                                   </div>
                               </div>
                               <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>



 <div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">HIGHLIGHTS</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>When Required?</h5>

        <p>FSSAI registration or food license required if you are into the business of food industry whether manufacturing or processing or packaging or distributing or storage.</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Who issues food license?</h5>

        <p>FSSAI License is issued by the Food Safety and Standards Authority of India (FSSAI), Ministry of Family Health &amp; Welfare, Government of India.</p>    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Turnover Based</h5>

        <p>Food Business with turnover up to ₹12 Lacs shall&nbsp;get Basic FSSAI registration. State license is needed if turnover between ₹12 Lacs and ₹2 Crores. Scroll down to know&nbsp;more.</p>

    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Location Based</h5>

            <p>FSSAI Registration or Food License is location based. It requires to obtain multiple FSSAI licenses if food business operates from multiple locations.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>State &amp; Central Level Category</h5>

            <p>FSSAI License categorized into State Level License and Central Food License. Small &amp; Medium Size FBO requires State License and Large Size FBO requires Central License.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Validity &amp; Renewal</h5>

            <p>FSSAI License is valid for a limited period generally 1 to 5 years. The&nbsp;person requires to apply for&nbsp;FSSAI Renewal before the expiry of the term.</p>
        </div>
        </div>
        </div>
        </div>
    </div> 

     <div class="container-fluid pt-5 bg-yellow pb-5">
        <div class="row">
        <div class="col"><div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center"><strong>What is FSSAI ?</strong></h3>

                    <p>FSSAI stands for Food Safety and Standards Authority of India which is an independent organisation set up by the Ministry of Health &amp; Family Welfare, Government of India.</p>
                    
                    <p>It was formed under the Food Safety and Standards Act, 2006 with sole aim to promote food hygiene and safety in India.</p>
        </div>
        <div class="col">
            <h3 class="text-center"><strong>How to apply FSSAI registration <br />online ?</strong></h3>

<p>You can easily obtain FSSAI registration certificate with the assistance of our experienced professionals. Just provide document over the email or whatsapp and relax. Rest our team will take care, file flawless application and handover you the FSSAI certificate to kickstart your food business.</p>
        </div>
    </div>
</div>
</div>
        
    </div> 
</div>

<div class="container-fluid bg-black">
     <div class="container -fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col-8">
                <div class="container">
                        <div class="row">
                                <div class="col">
                                        <h2 class="text-center mt-2 mb-3"><strong>WHY SHOULD I REGISTER FOR FSSAI?</strong></h2>
                                        
                                        <p><b>FSSAI</b> registration or food license is required at the very first stage when you enter into the food business. No matter whether you are processing or repacking or just transporting the food, all organisations must require to obtain the food license under FSSAI. The objective behind the FSSAI registration/ food license is to make available safe, pure, wholesome and nutritious food to the consumers.</p>
                                        
                                        
                                        
                                        <p><b>FSSAI</b> registration is compulsory for all petty food business operators. A petty food business operator is one whose Annual turnover does not exceed ₹12 lakh and Production capacity is less than 100kg per day. The definition of a petty food business operator varies according to his profession and the applicability of food license is decided accordingly. Find out more.</p>
                                        </div></div>
        </div>
        </div>
           <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div>  
       
        
                </div>
            </div> 
        </div>

<div class="container">
    <div class="row">
        <div class="col"><h2 class="text-center mt-5 mb-5">TYPES OF FOOD LICENSE</h2></div>
    </div>
    <div class="row">
        <div class="col pt-3 pb-3 mt-5 list-hover">
            <h2 class="text-uppercase"><strong>FSSAI REGISTRATION</strong></h2>
            <p>This certificate is basic registration to fulfill the requirement of your food startup. Generally, FSSAI Registration fulfill the legal requirement of doing food business in India if your annual turnover is upto INR 12 lakhs</p>
            
            
        </div>
        <div class="col pt-3 pb-3 mt-5 list-hover">
            <h2 class="text-uppercase"><strong>FSSAI STATE LICENSE</strong></h2>
            <p>Food State License is required if food business annual turnover exceeds INR 12 lakhs or if you’re food caterer</p>
        </div>

        <div class="col pt-3 pb-3 mt-5 list-hover">
                <h2 class="text-uppercase"><strong>FSSAI CENTRAL LICENSE</strong></h2>
                <p>Food Central License is required if food business annual turnover exceeds INR 20 crore or if you’re importer or if you are rendering Food catering services in establishments and units under Central Government Agencies like Railways, Air and Airport, Seaport, Defence etc.</p>
            </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center mt-5 mb-5">KNOW MORE ABOUT FSSAI REGISTRATION</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col pt-3 pb-3 mb-5 list-hover">
            <h2><strong>How to use FSSAI License number on food product?</strong></h2>

            <p>If you are selling food product in the market, you must display FSSAI number on your product package in addition to ingredients and flavour used into the product.</p>
            <img src="../../assets/images/baccount.png" alt="">
        </div>
        <div class="col-8 pt-3 pb-3 mb-5 list-hover">
            <div class="row">
                    <div class="col pt-3 pb-3 mb-5 list-hover">
                            <h2><strong>What if i failed to obtain FSSAI registration?</strong></h2>
                
                <p>In case FSSAI registration/license is not obtained before operating business, the entity will be liable for a penalty upto ₹10 lakhs.</p>
                
                        </div>
            </div>
            <div class="row">
                    <div class="col pt-3 pb-3 mb-5 list-hover">
                            <h2><strong>How to verify FSSAI license online?</strong></h2>
                
                            <ul>
                                    <li>Visit fssai government website</li>
                                    <li>Click on FBO Search</li>
                                    <li>Enter License / Registration number</li>
                                    <li>Verify</li>
                                </ul>
                        </div>
            </div>
            <div class="row">
                    <div class="col pb-3 mb-5 list-hover">
                            <h2><strong>What should I do after FSSAI Registration?</strong></h2>
                        <p>After getting an FSSAI Registration, it’s mandatory to display the FSSAI license or certificate at your food premises. Besides, you need to display the FSSAI logo on your product packages.</p>
                        </div>
            </div>
        </div>
    </div>
   
</div>

<!-- <div class="container-fluid bg-black pt-5 pb-5">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col"><h2 class="text-center mb-3">BROAD CATEGORIES OF ISO CERTIFICATION STANDARDS</h2></div>
                </div>
                <div class="row">
                    <div class="col"><p> <b>ISO 9001</b> ensure company product &amp; services meets customer expectations and enhance customer satisfaction.</p></div>
                    <div class="col"><p><b>ISO 14001</b> maps out a framework that an organization can follow to set up an effective environmental management system.</p></div>
                    <div class="col"><p><b>OHSAS 18001</b> allows a company to show their customers that company has effective health and safety management system.</p></div>
                    <div class="col"><p><b>ISO 22000</b> allows a company to show their customers that company has effective food safety management.</p></div>
                </div>
                <div class="row">
                        <div class="col"><p><b>ISO 20000</b> allows demonstrating excellence and prove best practice in IT &amp; improvement in the delivery of IT services.</p></div>
                        <div class="col"><p><b>ISO 27001</b> describes a best practice of company who involves in the information security management system (ISMS).</p></div>
                        <div class="col"><p><b>CE Marking</b> on any brand is a manufacturer's affirmation that the product has complied with the necessary requirements of the applicable European health, safety, and environmental protection benchmark.</p></div>
                        <div class="col"><p><b>ISO 50001</b> describes best energy management practices which outline using energy efficiently helps organizations save money as well as helping to conserve resources and tackle climate change.</p></div>
                    </div>
            </div>
        </div>
    </div>
</div> -->

            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                            <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                <input type="hidden" name="position" value="2">
                                        <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                        <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                        <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                
                              
                            <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                        </div>
                        </form>    
                    </div>
                    </div>
                </div>




                <div class="container-fluid bg-black pt-5 pb-5"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENT REQUIRED FOR FSSAI REGISTRATION AND LICENSE</strong></h2>
                        
                                </div>
                            </div>
                        
                        
                          <div class="row">
                         <div class="col-sm-4">
                        <div class="document-box text-center"> 
                                 <!-- <img class="mt-2 mb-2" src="../../assets/images/location.png" alt=""> -->
                                 <h5>REGISTRATION </h5>
                                 <ul class="list-no-style list-box">
                                        <li>Passport Size Photo</li>
                                        <li>Identity Proof (Such as Voter ID Card, PAN Card, Driving License, Passport, Aadhar Card)</li>
                                        <li>Declaration</li>
                                    </ul>

                        </div>
                        </div>
                        <div class="col-sm-4">
                                <div class="document-box text-center"> 
                                         <!-- <img class="mt-2 mb-2" src="../../assets/images/pcard.png" alt=""> -->
                                         <h5>STATE LICENSE</h5>
                                         <ul class="list-no-style list-box">
                                                <li>Passport Size Photo</li>
                                                <li>Identity Proof (Such as Voter ID Card, PAN Card, Driving License, Passport, Aadhar Card)</li>
                                                <li>Declaration</li>
                                                <li>Address Proof (Such as Rent agreement or electricity bill + NOC )</li>
                                                <li>In case of water is ground water, then NOC from Municpal Corporation</li>
                                            </ul>
                                </div>
                                </div>
                                <div class="col-sm-4">
                                        <div class="document-box text-center"> 
                                                 <!-- <img class="mt-2 mb-2" src="../../assets/images/baccount.png" alt=""> -->
                                                 <h5>CENTRAL LICENSE</h5>
                                                 <ul class="list-no-style list-box">
                                                        <li>Passport Size Photo</li>
                                                        <li>Identity Proof (Such as Voter ID Card, PAN Card, Driving License, Passport, Aadhar Card)</li>
                                                        <li>Declaration</li>
                                                        <li>Address Proof (Such as Rent agreement or electricity bill + NOC )</li>
                                                        <li>In case of water is ground water, then NOC from Municpal Corporation</li>
                                                        <li>In case importer/exporter, Import Export Code</li>
                                                    </ul>
                
                                        </div>
                                        </div>
                        <!-- <div class="col-sm-3">
                        <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/briefcase.png" alt="">
                                <h5>Aadhar Card</h5>
                        </div>
                        </div> -->
                        </div>
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                             <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Basic</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 1999 <br><small><i>Inclusive all taxes</i></small></h4>
                                <div class="pt-3 pb-3"> <div>FSSAI Registration&nbsp;</div><div>for 1 year</div><div>(Required in case annual turnover less than ₹12 Lacs)<br><br>FSSAI Food Regulation eGuide<br></div> </div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                    
                         </div> 
                             </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Standard</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 4999 <br><small><i>Inclusive all taxes</i></small></h4>    
                                <div class="pt-2"><br> Obtain FSSAI State License<br>for 1 year<br><br>(Required in case annual turnover exceeds INR 12 Lacs)<br>*Government fee extra<br><br>FSSAI Food Regulation eGuide<br><br>Inspection Checklist<br>   <br>   <br> 
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                   
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Premium</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> 9999 <br><small><i>Inclusive all taxes</i></small></h4>
                                                <div><br>Obtain FSSAI Central License<br>for 1 Year<br><span><br>(Required in case Large Scale Food Operator)<br>*Government fee extra.<br><br></span>FSSAI Food Regulation eGuide<br><br>Inspection Checklist   <br>          
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                  
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                    <input type="hidden" name="position" value="2">
                                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                    
                                                  
                                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                            </div>
                                            </form>    
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>