<div class="container-fluid">
    <div class="row">
        <div class="col width-100">
            <img src="../../assets/images/Tax-advisory.jpg" alt="">
            <p class="margin-negative text-center text-uppercase">Business Valuation</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h4 class="mt-5 mb-3">Assisting you with valuations and accounting for your assets in the context of transactions and complex structuring</h4>

            <p>Business valuation provides information to assist with planning and investor strategy. Other than reporting, it is also a critical component of all corporate transactions such as mergers and acquisitions, corporate restructuring and corporate recovery.</p>

        <p>We have the capability and expertise required for undertaking feasibility studies and appraisals of businesses and investment proposals. We can also help your assessment of asset quality, viability and quality of earnings and cash flow, capital structure, and business financing strategies. </p>
        </div>
        <div class="col-4">
            <div class="sidenote-1 mt-5"> 
                <h3>Want to know more?</h3> 
                <article class="UserCard"> 
                    <div class="UserCard-content" style="font-size: 20px"> 
                        <p class="UserCard-title" style="font-size: 17px"> <span class="UserCard-name text-uppercase" style="font-size: 20px"><b>CA Roshani Anand</b></span><br />Professional Adviser </p>
                         <p style="font-size: 17px"><i class="fa fa-phone"></i> +[91] 7533086930</p>
                         <hr>
                         <p style="font-size: 17px"><i class="fa fa-linkedin"></i> Linkedin Profile</p>
                         <p style="font-size: 17px" class="mb-2"><i class="fa fa-envelope"></i> Send a Message</p>
                         <br />
                        </div> 
                    </article> 
                </div>
        </div>
    </div>
</div>
