<div class="container-fluid">
    <div class="row"><div class="col text-right lesspadding">
        <img style="width:75%;" src="../../assets/images/slider/fssai.png" data-lazyload-replaced="true">
    </div>
</div>
</div>
<div class="container">
        
            <div class="row">
                <div class="col lesspadding mt-5">
                <h4>Food Startup Package</h4>
                <h3><i class="fa fa-inr" aria-hidden="true"></i> 9999 all-inclusive</h3>
                                        <h4>Package Includes</h4>	
                <ul class="check-list">
                                                <li>FSSAI Registration  </li>
                                                <li> ISO 22000 Certification </li>
                                            </ul>
            <hr>

                <h4>Why this package ?</h4>
            
            <p>Are you planning to begin a startup in the field of food &amp; hospitality?&nbsp;Whether it's a restaurant, a food court, a food processing unit or even a food-truck, FSSAI registration is the first &amp; foremost requirement to launch a food business.</p>

<p>Apart from that, ISO 22000 certification as a global standard for food safety, can add more value to your food startup.</p>

<p>Now, you can get&nbsp;FSSAI registration along with&nbsp;ISO 22000 certification to boost your&nbsp;food business to the highest level.</p>

<h3><strong>FSSAI registration</strong>&nbsp;</h3>

<p>FSSAI registration or the food license is required at the very first stage while entering into the food business. No matter whether you are processing, packaging or transporting the food, FSSAI registration is compulsory for all kinds of food business operators.</p>

<h3><strong>ISO 22000 Certification</strong></h3>

<p>ISO 22000 is a globally acknowledged standard under ISO that contains guidelines for food safety management in an organization. ISO 22000 helps you grow your business by implementing globally recognized processes for food safety.</p>               
        <hr>
        <div class="main-form mt-5 mb-5" style="width: 50%;">
                <h4 class="text-center text-uppercase"><b>Grab The Offer</b></h4>
                <p class="text-center mb-5">Why wait Submit below form &amp; catch the best deal</p>
                <form [formGroup]="login" novalidate class="form">
                        <div class="ui-form-wraper">
                           <p class="text-center text-white">{{title}}</p>
                           <div class="row">
                               <div class="col"><div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Name"
                                        formControlName="name" 
                                        name="name" 
                                        type="text" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                            
                                        </span>
                                        
                                    </div>
                                   </div></div>
                               <div class="col"><div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Email Address" formControlName="email" 
                                        name="email" 
                                        type="email"
                                        class="form-control" autocomplete="off">
                                        <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                        
                                                </span>
                                                <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                            
                                                </span>
                                        </div>
                                </div>
                                   </div></div>
                           </div>
                           
                           
                           <div class="row">
                                <div class="col"><div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                            <input 
                                            placeholder="Mobile No." formControlName="mobile" 
                                            name="mobile" 
                                            type="number" 
                                            class="form-control" autocomplete="off">
                                            <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                    
                                                </span>
                    
                                        </div>
                                       </div></div>
                                <div class="col"><div class="form-group">
                                        <div class="form-group">
                                            <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                            
                                                <input
                                                placeholder="Subject" formControlName="subject" 
                                                name="subject" 
                                                type="text" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="login.get('subject').touched && login.get('subject').invalid">
                                                    
                                                    </span>
                    
                                        </div>
                                       </div></div>
                            </div>
                           
                           
                               <div class="row">
                                    <div class="col"><div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                <textarea rows="6"
                                                    placeholder="Message" formControlName="message" 
                                                    name="message" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off"></textarea>
                                                    <span class="text-danger" *ngIf="login.get('message').touched && login.get('message').invalid">
                                                        
                                                        </span>
                    
                                            </div>
                                           </div></div>
                                   
                                </div>
                               
                       </div>
                       <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                    </form>
                </div>
    </div>
    </div>
</div>