<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">
                                <h5>Trademark Registration</h5>
                <p>Easily register your trademark online and Protect your brand & logo. We can help you to apply for trademark within 5 working days. Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
            <form method="post" name="frmHeaderSection" action="" novalidate="novalidate">
                 <div class="ui-form-01-wraper">
                        <p class="text-center text-white">Get Inbox Now
                            Documents Required for Trademark Registration

                        </p>
                    <div class="form-group">
                        <input type="text" placeholder="Name" name="name" maxlength="50" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email Address" name="email" maxlength="50" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Mobile No" name="number" maxlength="50" class="form-control" formControlName="number">
                    </div>
                </div>
                <button class="btn btn-primary form-control">Submit</button>
            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>



<div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">ABOUT TRADEMARK REGISTRATION</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>What is Trademark?</h5>

<p>A trademark can be a logo, design, shape, and combination of colors, combination of different shapes, goods, etc and its uniqueness differently shown in its design.</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Trademark Classes</h5>

<p>45 classes defined based on business activity and trademark can be registered in multiple classes as per the requirement of the business organization.</p>    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Valuable Assets</h5>

        <p>Like Company’s other tangible assets trademark is very worthful for a company to protect its goods, services from infringement.</p>
    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Low cost of registration</h5>

<p>As the comparison to its driven benefits cost of trademark registration is very low.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Legal Brand Protection</h5>

<p>Trademark registration under trademark law, protect the brand from infringement and misuse from the third party.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Geographical Coverage</h5>

            <p>Trademark registration provides you nation-wide protection from your competitors.</p>
        </div>
        </div>
        </div>
        </div>
    </div>

    <div class="container-fluid pt-5 bg-yellow pb-5">
        <div class="row">
        <div class="col">
           <div class="container">
               <div class="row">
                   <div class="col">
           
            <h3><strong>WHAT IS TRADEMARK ?</strong></h3>


<p>A trademark can be a phrase, logo, design, and combination of colours or shapes etc. and that denotes the uniqueness of a brand or the product and differentiate from competitors. It is globally acknowledged trademark is the most valuable asset of a business. With a unique Trademark, customers can easily identify your products or services among various competitors’ products.</p>

<h3><strong>HOW TO APPLY TRADEMARK REGISTRATION?</strong></h3>

<p>Trademark can be applied with the assistance of our highly experienced professionals while you sit back and relax.</p>
<p>You not just get a trademark application services but our expert continuously track your trademark applied and update you time to time, can facilitate a detailed feasibility report on your trademark before applying by carrying thorough public trademark search and can also help you design a unique business logo.</p>
</div>
</div>
</div>
        </div>
        </div>
    </div>

    <div class="container-fluid bg-black">
    <div class="container -fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col-8">
                <div class="container">
                        <div class="row">
                        <div class="col">
                <h2 class="text-uppercase text-center mt-2 mb-3"><strong>WHY SHOULD I REGISTER MY BUSINESS FOR TRADEMARK?</strong></h2>

                <p>It is universally accepted that Unique Brand logo is the most valuable asset of any business since customers can swiftly recognize your product or services among competitor’s products serving in a similar domain. It is become very important to protect your brand logo from misuse or duplication by others. It is only possible by applying a trademark of your unique brand logo. So it is worth full to trademark your brand logo before anybody claims the ownership of your brand & enjoy any undue advantage. Find out more... </p>
                
               </div></div></div>
        </div>
          <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Enter Your Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div> 
       
        
                </div>
            </div>
    </div>




            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                            <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                <input type="hidden" name="position" value="2">
                                        <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                        <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                        <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                
                              
                            <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                        </div>
                        </form>    
                    </div>
                    </div>
                </div>


<h1>**************************************************</h1>

                <div class="container-fluid pt-5 pb-5 bg-black"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR LUT REGISTRATION</strong></h2>
                        
                                </div>
                            </div>
                        
                        
                          <div class="row">
                         <div class="col-sm-3">
                        <!-- <div class="document-box text-center"> 
                                 <img class="mt-2 mb-2" src="../../assets/images/investment.png" alt="">
                                 <h5>Bank Certificate</h5>

                        </div> -->
                        </div>
                        
                        <div class="col-sm-3">
                        <div class="document-box text-center">
                            <img class="mt-2 mb-2" src="../../assets/images/gst-certificate.png" alt="">
                                <h5>GST Certificate</h5>
                        </div>
                        </div> 
                        
                         <div class="col-sm-3">
                        <div class="document-box text-center">
                            <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                        <h5>Details of Witness</h5>
                        </div>
                        </div>
                        
                        <div class="col-sm-3">
                        <!-- <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                <h5>Description of business</h5>
                        </div> -->
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                             <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Basic</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 999 <br><small><i>Inclusive all taxes</i></small></h4>
                                <div class="pt-3 pb-3">LUT Registration </div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                    
                         </div> 
                             </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Standard</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 3299 <br><small><i>Inclusive all taxes</i></small></h4>    
                                <div class="pt-2"><div> LUT Registration<br><div><br>Import Export Code Certificate</div><div><br>EXIM eGuide<br></div></div>
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                   
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Premium</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> 15299 <br><small><i>Inclusive all taxes</i></small></h4>
                                                <div> <div>APEDA Registration</div><div><div><br>Import Export Code Certificate</div><div><br>EXIM eGuide<br><br>APEDA Registration<br></div></div>        
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                  
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                    <input type="hidden" name="position" value="2">
                                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                    
                                                  
                                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                            </div>
                                            </form>    
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>