/* You can add global styles to this file, and also import other style files */

p, li, h1, h2, h3, h4, h5, h6, div{
    font-family: sans-serif !important;
    
}

p, li{
    line-height: 25px;
}

p, li{
    font-size: 14px;
}

small{
    font-size: 15px;
}

.list-no-style{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

ul.list-hover li{
    padding: 5px;
}

ul.list-hover li:hover, img.list-hover:hover, .col.list-hover:hover{
    box-shadow: 0 0 5px 5px #cccccc;
    transition: ease-in box-shadow 0.5s;

    /* animation: list-box 2s ease-in; */
}

.margin-auto{
    width: 50%;
    margin: 0 auto;
}

.margin-auto tr:hover{
    background: #cccccc;
    
}

.container-fluid.bg-green .row .col .container .row .col.text-center:nth-child(2) img{
    width: 100%;
    margin: 100px 0 0;
}

ul.list-check{
    list-style-type: none;
}

ul.list-check li{
    position: relative;
}

ul.list-check li:before{
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: 7px;
    left: -25px;
    background: #bf9926;
}

@media screen and (max-width:480px){
    .col.pr-0, .col.pl-0{
        width: 100% !important;
    max-width: 100% !important;
    flex-basis: unset;
    padding-left: 0;
    padding-right:0 !important;
    margin-bottom: 21px;
    }

    .container-fluid.bg-green .row .col{
        width: 100% !important;
    max-width: 100% !important;
    flex-basis: unset;
    }

}

@keyframes list-box{
    from{
        box-shadow: 0 0 0 0 #cccccc;
        background: none;
    }
    
    to{
        box-shadow: 0 0 5px 5px #cccccc;
        background: #cccccc;
    }
}

@keyframes animatethings{
    from{
        background: none;
        color:#ffffff;
    }
    
    to{
        background: #ffcc33;
        color: #000000;
    }
}