<div class="container-fluid bg-green">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="sidenot-2 text-center">
                                    <h5>One Person Company</h5>
                    <p>We help you to register your one person company within 14 working days while you sitting at home. Call us for inquiry at 8800107107</p>  
                            </div>
                        </div>
                          <div class="col text-center">
                            <img src="../../assets/images/think_idea.png" alt="">
                        </div>
                        <div class="col">
                            <div class="contatcform">
                                                  
                 <p class="text-center text-white">Get Inbox Now<br> Documents Required for OPC Incorporation</p>
                 <form [formGroup]="login" novalidate class="form">
                    <div class="ui-form-wraper">
                       <p class="text-center text-white">{{title}}</p>
                       <div class="form-group">
                        <div class="form-group">
                            <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                            <input
                            placeholder="Name"
                            formControlName="name" 
                            name="name" 
                            type="text" 
                            class="form-control" autocomplete="off">
                            <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                
                            </span>
                            
                        </div>
                       </div>
                       <div class="form-group">
                        <div class="form-group">
                            <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                            <input
                            placeholder="Email Address" formControlName="email" 
                            name="email" 
                            type="email"
                            class="form-control" autocomplete="off">
                            <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                    <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                            
                                    </span>
                                    <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                
                                    </span>
                            </div>
                    </div>
                       </div>
                       <div class="form-group">
                        <div class="form-group">
                            <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                            <input 
                            placeholder="Mobile No." formControlName="mobile" 
                            name="mobile" 
                            type="number" 
                            class="form-control" autocomplete="off">
                            <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                    
                                </span>
                
                                <input hidden
                                placeholder="Subject" formControlName="subject" 
                                name="subject" 
                                type="text" 
                                class="form-control" autocomplete="off" [(ngModel)]="subject1">
                
                                <input hidden
                                placeholder="Message" formControlName="message" 
                                name="message" 
                                type="text" 
                                class="form-control" autocomplete="off" [(ngModel)]="message1">
                        </div>
                       </div>
                   </div>
                   <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                </form>
           
        </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>
    </div>
    
    
    
    <div class="container pb-5">
        <div class="row"><div class="col">
        <h2 class="mt-5 mb-5" style="text-align:center">HIGHLIGHTS</h2>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>Limited Liability</h5>

<p>OPC is sole proprietorship business with limited liability features.</p> </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>Single Owner</h5>

<p>The key feature of OPC is One Person Company managed by a single owner.</p>       </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
                <h5>Separate Legal Entity</h5>

                <p>OPC is a separate legal entity from his/her owner in the eyes of law.</p>
                

        </div>
        </div>
        </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
            <div class="service-box">
            <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>Share Transferability</h5>

                    <p>OPC owner's equity cannot be transferred freely to others.</p>
            </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>Lesser Compliances</h5>

                    <p>OPC requires less compliances as compare to private &amp; public limited.</p>     </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                    <h5>Nomination</h5>

                    <p>One nominee required who will take over OPC in case owner absence.</p>

            </div>
            </div>
            </div>
            </div>
        </div>
    
    
    
        <div class="container-fluid bg-black">
        <div class="container -fluid bg-black pt-5 pb-5">
            <div class="row">
            <div class="col">
                    <h2 class="text-uppercase text-center mt-2 mb-3"><strong>WHY CHOOSE OPC?</strong></h2>

                    <p>OPC is a new concept in India and gets started trending among the community of solopreneurs and freelancers who want to do a business at their own terms. OPC can be proved as a best choice if you believe in quick business decision with no interruption or if you want to present your sole business professionally in front of your customers. Find out more.</p>
            </div>
            <!-- <div class="col-4">
                    <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Email Address" required="" type="email"></div><div class="col pl-0">
                        <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
            </div> -->
           
            
                    </div>
                </div>
        </div>
    
    
    
    
                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                    <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                    <div class="main width-300"> 
                                        <form [formGroup]="logins" novalidate class="form">
                                            <div class="ui-form-wraper">
                                               <p class="text-center text-white">{{title}}</p>
                                               <div class="form-group">
                                                <div class="form-group">
                                                    <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                    <input
                                                    placeholder="Name"
                                                    formControlName="name" 
                                                    name="name" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off">
                                                    <span class="text-danger" *ngIf="logins.get('name').touched && logins.get('name').invalid">
                                                       
                                                    </span>
                                                    
                                                </div>
                                               </div>
                                               <div class="form-group">
                                                <div class="form-group">
                                                    <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                    <input
                                                    placeholder="Email Address" formControlName="email" 
                                                    name="email" 
                                                    type="email"
                                                    class="form-control" autocomplete="off">
                                                    <div *ngIf="logins.get('email').touched && logins.get('email').invalid">
                                                            <span class="text-danger"  *ngIf="logins.get('email').errors.required">
                                                                    
                                                            </span>
                                                            <span class="text-danger"  *ngIf="logins.get('email').errors.pattern">
                                                                        
                                                            </span>
                                                    </div>
                                            </div>
                                               </div>
                                               <div class="form-group">
                                                <div class="form-group">
                                                    <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                    <input 
                                                    placeholder="Mobile No." formControlName="mobile" 
                                                    name="mobile" 
                                                    type="number" 
                                                    class="form-control" autocomplete="off">
                                                    <span class="text-danger" *ngIf="logins.get('mobile').touched && logins.get('mobile').invalid">
                                                            
                                                        </span>
                                                    
                                                    
                                                        <input hidden
                                                        placeholder="Subject" formControlName="subject" 
                                                        name="subject" 
                                                        type="text" 
                                                        class="form-control" autocomplete="off" [(ngModel)]="subject2">
                                        
                                                        <input hidden
                                                        placeholder="Message" formControlName="message" 
                                                        name="message" 
                                                        type="text" 
                                                        class="form-control" autocomplete="off" [(ngModel)]="message2">
                                                </div>
                                               </div>
                                            </div>
                                           <button [disabled]="logins.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit1()">Submit</button>
                                        </form>
                                    </div>
                                
                        </div>
                        </div>
                    </div>
    
    
    
    
                    <div class="container-fluid pt-5 pb-5 bg-black text-center"><div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                            <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED</strong></h2>
                            
                                    </div>
                                </div>
                            
                            
                            <div class="row">
                            <div class="col-sm-3">
                            <div class="document-box">
                                    <img class="mt-2 mb-2" src="../../assets/images/id-card.png" alt="">
                                    <h4>Identity Proof</h4>

                                    <p>Aadhar Card<br />Driving License<br />Election Id Card<br />Passport</p>
                            </div>
                            </div>
                            
                            <div class="col-sm-3">
                            <div class="document-box">
                                <img class="mt-2 mb-2" src="../../assets/images/location.png" alt="">
                                <h5>Address Proof of Business</h5>

                                <p>Electricity Bill<br>
                                Rent Agreement + NOC</p>
                            </div>
                            </div>
                            
                            <div class="col-sm-3">
                            <div class="document-box">
                                <img class="mt-2 mb-2" src="../../assets/images/pcard.png" alt="">
                            <h5>PAN Card</h5>
                            </div>
                            </div>
                            
                            <div class="col-sm-3">
                            <div class="document-box">
                                    <img class="mt-2 mb-2" src="../../assets/images/photograph.png" alt="">
                                    <h5>Passport size Photograph</h5>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
    
    
    
    
    
    
    
                    <div class="container-fluid pt-5 pb-5 bg-yellow">
                            <div class="row"><div class="col text-center">   
                                            <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                            <div class="main width-300"> 
                                                <form [formGroup]="loginss" novalidate class="form">
                                                    <div class="ui-form-wraper">
                                                       <p class="text-center text-white">{{title}}</p>
                                                       <div class="form-group">
                                                        <div class="form-group">
                                                            <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                            <input
                                                            placeholder="Name"
                                                            formControlName="name" 
                                                            name="name" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off">
                                                            <span class="text-danger" *ngIf="loginss.get('name').touched && loginss.get('name').invalid">
                                                               
                                                            </span>
                                                            
                                                        </div>
                                                       </div>
                                                       <div class="form-group">
                                                        <div class="form-group">
                                                            <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                            <input
                                                            placeholder="Email Address" formControlName="email" 
                                                            name="email" 
                                                            type="email"
                                                            class="form-control" autocomplete="off">
                                                            <div *ngIf="loginss.get('email').touched && loginss.get('email').invalid">
                                                                    <span class="text-danger"  *ngIf="loginss.get('email').errors.required">
                                                                            
                                                                    </span>
                                                                    <span class="text-danger"  *ngIf="loginss.get('email').errors.pattern">
                                                                                
                                                                    </span>
                                                            </div>
                                                    </div>
                                                       </div>
                                                       <div class="form-group">
                                                        <div class="form-group">
                                                            <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                            <input 
                                                            placeholder="Mobile No." formControlName="mobile" 
                                                            name="mobile" 
                                                            type="number" 
                                                            class="form-control" autocomplete="off">
                                                            <span class="text-danger" *ngIf="loginss.get('mobile').touched && loginss.get('mobile').invalid">
                                                                    
                                                                </span>
                                                            
                                                            
                                                                <input hidden
                                                                placeholder="Subject" formControlName="subject" 
                                                                name="subject" 
                                                                type="text" 
                                                                class="form-control" autocomplete="off" [(ngModel)]="subject3">
                                                
                                                                <input hidden
                                                                placeholder="Message" formControlName="message" 
                                                                name="message" 
                                                                type="text" 
                                                                class="form-control" autocomplete="off" [(ngModel)]="message3">
                                                        </div>
                                                       </div>
                                                    </div>
                                                   <button [disabled]="loginss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit2()">Submit</button>
                                                </form>
                                            </div>
                                    
                            </div>
                            </div>
                        </div>
    
    
    
    
                        <div class="container mb-5">
                            <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                            <div class="row">
                                
                                <div class="col pr-0">
                                    <div class="card basic text-center">
                                    <div class="box1 yellow-color">
                                        <h3>Basic</h3>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="box2 mb-5">
                                        <h3><i class="fa fa-inr" aria-hidden="true"></i> 10499 <br><small><i>Inclusive all taxes</i></small></h3>
                                    <div class="pt-3 pb-3">Certificate of Incorporation<br>MOA, AOA<br>1 DIN, 1 DSC, PAN, TAN<br><br>&nbsp;&nbsp;(1 Indian Director, 1 Shareholder and Authorised Capital of Rs. 1,00,000)   </div>  <br />
                                    <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                   
                                        <!-- <div class="card-back">
                                            <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                            <div class="ui-form-01">                   
                                                <form class="tab-1" name="frmPackageSignup1" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111135">
                                                     <div class="ui-form-01-wraper">
                                                         <p><span>Signup</span></p>
                                                        <p class="package-signup-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-email"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                            <i class="icofont icofont-mobile-phone"></i>
                                                        </div>
                                                        <p class="package-processing"></p>
                                                        <button type="submit" class="btn btn-default">Submit</button>
                                                        <p class="log">login</p>
                                                        
                                                    </div>
                                                    
                                                    
                                                </form>
                                                
                                                <form class="tab-2" name="frmPackageSignin1" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111135">
                                                     <div class="ui-form-01-wraper">
                                                        <p><span>Login</span></p>
                                                        <p class="package-login-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                       <div style="position:relative;">
                                                                <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                                <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                    <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                    <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                                </div>
                                                            </div>
                                                        
                                                        <p class="package-processing"></p>
                                                         <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                        <p class="sig">Signup</p>
                                                        <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                
                                <div class="col pl-0 pr-0 middle-panel card">
                                    <div class=" text-center">
                                        <div class="box1">      
                                    <h3>Standard</h3>
                                    <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    </p></div>
                                    <div class="box2">
                                            <h3><i class="fa fa-inr" aria-hidden="true"></i> 11999 <br><small><i>Inclusive all taxes</i></small></h3>
                                    <div class="pt-2"> Certificate of Incorporation<br>MOA, AOA<br>1 DIN, 1 DSC, PAN, TAN<br>GST Registration&nbsp;<br><span><br>(1 Indian Director, 1 Shareholder and Authorised Capital of Rs. 1,00,000)</span>  
                                    </div>  
                                               
                                                                        <button class="btn btn-primary mt-4">LET's START</button>
                                    </div>   
                                        <!-- <div class="card-back">
                                            <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                            <div class="ui-form-01">                   
                                                <form class="tab-1" name="frmPackageSignup2" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111136">
                                                     <div class="ui-form-01-wraper">
                                                         <p><span>Signup</span></p>
                                                        <p class="package-signup-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-email"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                            <i class="icofont icofont-mobile-phone"></i>
                                                        </div>
                                                        <p class="package-processing"></p>
                                                        <button type="submit" class="btn btn-default">Submit</button>
                                                        <p class="log">login</p>
                                                        
                                                    </div>
                                                    
                                                    
                                                </form>
                                                
                                                <form class="tab-2" name="frmPackageSignin2" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111136">
                                                     <div class="ui-form-01-wraper">
                                                        <p><span>Login</span></p>
                                                        <p class="package-login-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                       <div style="position:relative;">
                                                                <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                                <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                    <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                    <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                                </div>
                                                            </div>
                                                        
                                                        <p class="package-processing"></p>
                                                         <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                        <p class="sig">Signup</p>
                                                        <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                
                                <div class="col pl-0">
                                    <div class="card premium text-center">
                                        <div class="box1 yellow-color">
                                                    <h3>Premium</h3>
                                                    <p>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                                        </p>
                                        </div>
                                        <div class="box2">
                                                <h3><i class="fa fa-inr" aria-hidden="true"></i> 16999 <br><small><i>Inclusive all taxes</i></small></h3>
                                            <div class="pt-3 pb-3">
                                                
                                                    <div> Certificate of Incorporation<br>MOA, AOA<br>1 DIN, 1 DSC, PAN, TAN<br>GST Registration, GST Invoice Software for 1-year validity<br><span><br>(1 Indian Director, 1 Shareholder and Authorised Capital of Rs. 1,00,000)</span>  
                                                    </div>
                                                   
                                            </div>  
                                               
                                                                            <button class="btn btn-primary mt-5 mb-3">LET's START</button>
                                    </div>                             
                                        </div>
                    
                                        <!-- <div class="card-back">
                                            <i class="icofont icofont-arrow-left fa-2x gob"></i>
                                            <div class="ui-form-01">                   
                                                <form class="tab-1" name="frmPackageSignup3" method="post" action="" novalidate="novalidate"><input type="hidden" name="signup_package" value="111137">
                                                     <div class="ui-form-01-wraper">
                                                         <p><span>Signup</span></p>
                                                        <p class="package-signup-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Name" name="signup_fullname" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="email" placeholder="Email Address" name="signup_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-email"></i>
                                                        </div>
                                                        <div class="input-icon">
                                                            <input type="tel" placeholder="Mobile No." name="signup_mobile_no" value="" maxlength="10">
                                                            <i class="icofont icofont-mobile-phone"></i>
                                                        </div>
                                                        <p class="package-processing"></p>
                                                        <button type="submit" class="btn btn-default">Submit</button>
                                                        <p class="log">login</p>
                                                        
                                                    </div>
                                                    
                                                    
                                                </form>
                                                
                                                <form class="tab-2" name="frmPackageSignin3" method="post" action="" novalidate="novalidate"><input type="hidden" name="login_package" value="111137">
                                                     <div class="ui-form-01-wraper">
                                                        <p><span>Login</span></p>
                                                        <p class="package-login-error"></p>
                                                        <div class="input-icon">
                                                            <input type="text" placeholder="Email Address" name="login_email_address" value="" maxlength="100">
                                                            <i class="icofont icofont-ui-user"></i>
                                                        </div>
                                                       <div style="position:relative;">
                                                                <input type="password" placeholder="Password" name="login_password" id="login_password-2" value="" maxlength="50">
                                                                <div style="position: absolute;right: 0;width: 30px;overflow: hidden;top: 0;height: 40px;">
                                                                    <input type="checkbox" onclick="myFunction()" style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 0;width: 100%;min-width: 100%;">
                                                                    <i class="fa fa-eye" aria-hidden="true" style="    position: static;background: none;font-size: 16px;margin-top: 4px;margin-right: 4px;color:#222"></i> 
                                                                </div>
                                                            </div>
                                                        
                                                        <p class="package-processing"></p>
                                                         <button type="submit" class="btn btn-default" name="user_login">Login</button>
                                                        <p class="sig">Signup</p>
                                                        <p><a href="https://www.e-startupindia.com/forgot-your-password.html" style="color:red">Forgot Password</a></p>
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                    </div>
                               
                                    <div class="container-fluid pt-5 pb-5 bg-black">
                                            <div class="row"><div class="col text-center">   
                                                    <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                            <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                    ARRANGE A CALL BACK</strong></h2>
                                                            <div class="main width-300"> 
                                                        <input type="hidden" name="position" value="2">
                                                                <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                                <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                                <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                        
                                                      
                                                    <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                                </div>
                                                </form>    
                                            </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                                </div>
                                            </div>
                                        </div>