<div class="container-fluid">
    <div class="row">
        <div class="col lesspadding">
            <figure><img class="fullsize" src="../../assets/images/banner.jpg" alt=""></figure>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">WHAT WE DO</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
                <a routerLink="">
            <p><i class="fa fa-heart"></i></p>
            <h4>Company Incorporation</h4>
                        <p>Facilitate to form various type of business entity preferred by most start-up aspirants. Entity can be Private Limited Company, One Person Company, LLP, partnership firm.</p>
        </a>
                    </div>
        <div class="col text-center">
            <a routerLink="">
               <i class="fa fa-money"></i>
                <h4>GST</h4>
                <p>Our business advisor can assist you in GST registration procedure and get the fastest and most consistent mode of filing GST return online.</p>
            
        </a></div>
        <div class="col text-center">
                <a routerLink="">
                        <i class="fa fa-certificate"></i>
                        <h4>ISO Certification</h4>
                        <p>ISO certification process is the key to achieve the prime target of client satisfaction and overall excellence of your business as per the global quality standards.</p>                        
                    
                </a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
                <a routerLink="">
                        <i class="fa fa-trademark"></i>
                        <h4>Trademark</h4>
                        <p>A trademark application is a mark to distinguish and protect your logo, brand, icon and product from misuse. You can protect your brand with the help of our professional. </p>
                   
                </a>
        </div>
        <div class="col text-center">
                <a routerLink="">
                        <i class="fa fa-gavel"></i>
                        <h4>Patent</h4>
                        <p>Patent is an intellectual property one can protect their original invention from infringement by applying patent. Our professional can help you in patent registration online.   </p>
                    
                </a>
        </div>
        <div class="col text-center">
                <a routerLink="">
                        <i class="fa fa-copyright"></i>
                        <h4>Copyright</h4>
                        <p>Copyright registration helps protect your original artistic,&nbsp;literary and creative works. Through our online process, you can protect your unique creation from plagiarism.</p>
                    
                </a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
                <a routerLink="">
                        <i class="fa fa-copyrights">IEC</i>
                    <h4>IEC Code</h4>
                        <p>Import Export code license is the primary requirement for international trade. The unique IEC Code can help a business gain a prominent presence in the global market.</p>
                   
                </a>
        </div>
        <div class="col text-center">
                <a routerLink="">
                        <i class="fa fa-black-tie"></i>
                        <h4>Business Plan and Project Report</h4>
                        <p>A presentable business plan helps you to demonstrate infront of others like banks, investors, other stake holders we can help you design your business plan.</p>
                    
                </a>
        </div>
        <div class="col text-center">
                <a routerLink="">
                        <i class="fa fa-black-tie"></i>
                    <h4>FSSAI Registration</h4>
                        <p>Food security is the prime concern for government &amp; consumers. With FSSAI registration, you can run your food business in compliance with standards of quality and health safety.</p>
                   
                </a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
                <a routerLink="">
                        <i class="fa fa-black-tie"></i>
                    <h4>NSIC Registration</h4>
                        <p>With NSIC registration, micro &amp; small enterprises (MSEs) access to the developmental schemes of growth.</p>
                    
                </a>
        </div>
        <div class="col text-center">
                <a routerLink="">
                        <i class="fa fa-black-tie"></i>
                    <h4>GeM Registration</h4>
                        <p>With GeM Registration, you can avail benefits for your trade &amp; commerce like e-bidding, Reverse e-auction and Demand aggregation.
</p>
                    
                </a>
        </div>
        <div class="col text-center">
                <a routerLink="">
                    <i class="fa fa-barcode"></i>
                        <h4>Barcode Registration</h4>
                        <p>Barcode is used for encoding product details such as product numbers, serial numbers, and batch number.</p>
                   
                </a>
        </div>
    </div>
</div>