<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">
                                <h5>APEDA Registration</h5>
                <p>Start your business on agri-exports, we can help you get APEDA Registration. Clear your all registration doubts with our professionals. Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
             <p class="text-center text-white">Lets Start Now !!!<br />
                            Arrange call from experts</p>
                            <form [formGroup]="login" novalidate class="form">
                                <div class="ui-form-wraper">
                                   <p class="text-center text-white">{{title}}</p>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Name"
                                        formControlName="name" 
                                        name="name" 
                                        type="text" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                            
                                        </span>
                                        
                                    </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                        <input
                                        placeholder="Email Address" formControlName="email" 
                                        name="email" 
                                        type="email"
                                        class="form-control" autocomplete="off">
                                        <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                                <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                                        
                                                </span>
                                                <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                            
                                                </span>
                                        </div>
                                </div>
                                   </div>
                                   <div class="form-group">
                                    <div class="form-group">
                                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                        <input 
                                        placeholder="Mobile No." formControlName="mobile" 
                                        name="mobile" 
                                        type="number" 
                                        class="form-control" autocomplete="off">
                                        <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                                
                                            </span>
                            
                                            <input hidden
                                            placeholder="Subject" formControlName="subject" 
                                            name="subject" 
                                            type="text" 
                                            class="form-control" autocomplete="off" [(ngModel)]="subject1">
                            
                                            <input hidden
                                            placeholder="Message" formControlName="message" 
                                            name="message" 
                                            type="text" 
                                            class="form-control" autocomplete="off" [(ngModel)]="message1">
                                    </div>
                                   </div>
                               </div>
                               <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>



<div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">ABOUT APEDA REGISTRATION</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Significance</h5>

<p>It is mandatory for all the agricultural exporters to have an APEDA certificate for carrying out the export of scheduled agri-products.</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Enables Financial aid&nbsp;</h5>

<p>An APEDA registration&nbsp;is a necessary requirement for the exporter to apply for financial support schemes run by the APEDA.</p>    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Validity</h5>

<p>APEDA&nbsp;registration is one time process. The exporter&nbsp;needs to apply for renewal of&nbsp;APEDA certificate after every 5 years.</p>

    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>APEDA Products</h5>

<p>Organic products,&nbsp;cereals, animal products, processed food, fresh fruits &amp; vegetables and floriculture &amp; seeds are covered under the category of APEDA products.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Easy Monthly Returns</h5>

<p>The exporters having APEDA&nbsp;registration mandatorily need to file the monthly export returns. In case of no exports, nil return needs to be filed.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Export-Orientation Programmes</h5>

<p>The APEDA&nbsp;registration enables the exporters to&nbsp;participate in the Orientation and training Programmes conducted&nbsp;by&nbsp;APEDA for Export Promotion.</p>
        </div>
        </div>
        </div>
        </div>
    </div>

    <!-- <div class="container-fluid pt-5 bg-yellow pb-5">
        <div class="row">
        <div class="col">
            <h3><strong>When GST Registration mandatory in India?</strong></h3>


<ul>
    <li><strong>Turnover Criteria:&nbsp;</strong>All taxpayers who have an annual turnover above ₹40 lakhs are required to get new GST registration.</li>
    <li><strong>Causal taxpayer:&nbsp;</strong>If you supply goods or services in events/exhibition where you do not have a permanent place of business, you need to get online GST Registration before starting a business. Such a dealer has to pay GST on the basis of an estimated turnover of 90 days. The validity of causal GST Registration is 90 days.</li>
    <li><strong>NRI taxpayer:&nbsp;</strong>NRI taxpayer, who does not have a place of business in India, wishes to start a business, then he has to apply for GST Registration in India before beginning operations in India. The validity of a new GST registration is 90 days.</li>
    <li><strong>Agents of a supplier &amp; Input service distributor:&nbsp;</strong>All Input service distributor who wants carry-forward benefit of input tax credit requires gst registration.</li>
    <li><strong>Reverse Charge:</strong> A business who requires to pay tax under the reverse charge mechanism need gst registration</li>
    <li><strong>E-Commerce portal:&nbsp;</strong>Every e-commerce portal (such as Amazon or Flipkart) under which multiple vendor’s selling their product requires gst registration.</li>
</ul>
        </div>
        </div>
    </div> -->


    <div class="container-fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col">
                <div class="container">
                        <div class="row">
                        <div class="col">
                <h2 class="text-uppercase text-center mt-2 mb-3"><strong>WHAT IS ALL ABOUT APEDA?</strong></h2>

                <p>The Agricultural and Processed Food Products Export Development Authority (APEDA) is an agency established by the Government of India under the Agricultural and Processed Food Products Export Development Authority (APEDA) Act 1985.</p>
                
                <p>The objective of APEDA is to enhance the growth of export of agricultural products specified under the APEDA ACT through financial aid, relevant updates & statistics, formulating standards & implementing them for the development of agricultural products.</p>

                <p>Various agricultural products specified under the APEDA Act are referred to as scheduled products. Find out the complete list of the scheduled agricultural products under APEDA.</p>

                <h2 class="text-uppercase text-center mt-5 mb-3"><strong>WHAT IS THE IMPORTANCE OF APEDA REGISTRATION?</strong></h2>

                <p>The agricultural exporters mandatorily require an APEDA certificate for export of scheduled agricultural products in order to avail APEDA benefits. Given below are the benefits of getting an APEDA registration:</p>
                <ul>
                    <li>APEDA registration is a one-time process that enables the exporter to apply for financial schemes run by APEDA.</li>
                    <li>It also enables its members to participate in training programmes conducted to uplift the Industries for scheduled products.</li>
                    <li>It enables the export to avail the benefits of various export-promotion schemes run by the government in respect of scheduled products.</li>
                </ul>
               </div></div></div>
        </div>
          <!-- <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Enter Your Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div>  -->
       
        
                </div>
            </div>





            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                    <form [formGroup]="logins" novalidate class="form">
                                        <div class="ui-form-wraper">
                                           <p class="text-center text-white">{{title}}</p>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                <input
                                                placeholder="Name"
                                                formControlName="name" 
                                                name="name" 
                                                type="text" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="logins.get('name').touched && logins.get('name').invalid">
                                                   
                                                </span>
                                                
                                            </div>
                                           </div>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                <input
                                                placeholder="Email Address" formControlName="email" 
                                                name="email" 
                                                type="email"
                                                class="form-control" autocomplete="off">
                                                <div *ngIf="logins.get('email').touched && logins.get('email').invalid">
                                                        <span class="text-danger"  *ngIf="logins.get('email').errors.required">
                                                                
                                                        </span>
                                                        <span class="text-danger"  *ngIf="logins.get('email').errors.pattern">
                                                                    
                                                        </span>
                                                </div>
                                        </div>
                                           </div>
                                           <div class="form-group">
                                            <div class="form-group">
                                                <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                <input 
                                                placeholder="Mobile No." formControlName="mobile" 
                                                name="mobile" 
                                                type="number" 
                                                class="form-control" autocomplete="off">
                                                <span class="text-danger" *ngIf="logins.get('mobile').touched && logins.get('mobile').invalid">
                                                        
                                                    </span>
                                                
                                                
                                                    <input hidden
                                                    placeholder="Subject" formControlName="subject" 
                                                    name="subject" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off" [(ngModel)]="subject2">
                                    
                                                    <input hidden
                                                    placeholder="Message" formControlName="message" 
                                                    name="message" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off" [(ngModel)]="message2">
                                            </div>
                                           </div>
                                        </div>
                                       <button [disabled]="logins.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit1()">Submit</button>
                                    </form>
                                </div>
                           
                    </div>
                    </div>
                </div>




                <div class="container-fluid pt-5 pb-5 bg-black"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR APEDA REGISTRATION</strong></h2>
                        
                                </div>
                            </div>
                        
                        
                          <div class="row">
                         <div class="col-sm-3">
                        <div class="document-box text-center"> 
                                 <img class="mt-2 mb-2" src="../../assets/images/investment.png" alt="">
                                 <h5>Bank Certificate</h5>

                        </div>
                        </div>
                        
                        <div class="col-sm-3">
                        <div class="document-box text-center">
                            <img class="mt-2 mb-2" src="../../assets/images/pcard.png" alt="">
                                <h5>PAN</h5>
                        </div>
                        </div> 
                        
                         <div class="col-sm-3">
                        <div class="document-box text-center">
                            <img class="mt-2 mb-2" src="../../assets/images/gst-certificate.png" alt="">
                        <h5>Import Export Code</h5>
                        </div>
                        </div>
                        
                        <div class="col-sm-3">
                        <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                <h5>Description of business</h5>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                            <form [formGroup]="loginss" novalidate class="form">
                                                <div class="ui-form-wraper">
                                                   <p class="text-center text-white">{{title}}</p>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="name">Full Name<span class="text-danger">*</span></label> -->
                                                        <input
                                                        placeholder="Name"
                                                        formControlName="name" 
                                                        name="name" 
                                                        type="text" 
                                                        class="form-control" autocomplete="off">
                                                        <span class="text-danger" *ngIf="loginss.get('name').touched && loginss.get('name').invalid">
                                                           
                                                        </span>
                                                        
                                                    </div>
                                                   </div>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                                                        <input
                                                        placeholder="Email Address" formControlName="email" 
                                                        name="email" 
                                                        type="email"
                                                        class="form-control" autocomplete="off">
                                                        <div *ngIf="loginss.get('email').touched && loginss.get('email').invalid">
                                                                <span class="text-danger"  *ngIf="loginss.get('email').errors.required">
                                                                        
                                                                </span>
                                                                <span class="text-danger"  *ngIf="loginss.get('email').errors.pattern">
                                                                            
                                                                </span>
                                                        </div>
                                                </div>
                                                   </div>
                                                   <div class="form-group">
                                                    <div class="form-group">
                                                        <!-- <label for="mobile">Subject<span class="text-danger">*</span></label>-->
                                                        <input 
                                                        placeholder="Mobile No." formControlName="mobile" 
                                                        name="mobile" 
                                                        type="number" 
                                                        class="form-control" autocomplete="off">
                                                        <span class="text-danger" *ngIf="loginss.get('mobile').touched && loginss.get('mobile').invalid">
                                                                
                                                            </span>
                                                        
                                                        
                                                            <input hidden
                                                            placeholder="Subject" formControlName="subject" 
                                                            name="subject" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off" [(ngModel)]="subject3">
                                            
                                                            <input hidden
                                                            placeholder="Message" formControlName="message" 
                                                            name="message" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off" [(ngModel)]="message3">
                                                    </div>
                                                   </div>
                                                </div>
                                               <button [disabled]="loginss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit2()">Submit</button>
                                            </form>
                                        </div>
                            
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                             <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Basic</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 9999 <br><small><i>Inclusive all taxes</i></small></h4>
                                <div class="pt-3 pb-3">APEDA Registration </div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                    
                         </div> 
                             </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>Standard</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 11999 <br><small><i>Inclusive all taxes</i></small></h4>    
                                <div class="pt-2"><div> APEDA Registration<br><div><br>Import Export Code Certificate</div><div><br>EXIM eGuide<br></div><br></div>
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                   
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Premium</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> 12999 <br><small><i>Inclusive all taxes</i></small></h4>
                                                <div> <div>APEDA Registration</div><div><div><br>Import Export Code Certificate</div><div><br>EXIM eGuide<br><br>Letter of Undertaking<br></div></div>        
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                  
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                            <form [formGroup]="loginsss" novalidate class="form">
                                                                <div class="ui-form-wraper">
                                                                   <p class="text-center text-white">{{title}}</p>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input
                                                                        placeholder="Name"
                                                                        formControlName="name" 
                                                                        name="name" 
                                                                        type="text" 
                                                                        class="form-control" autocomplete="off">
                                                                        <span class="text-danger" *ngIf="loginsss.get('name').touched && loginsss.get('name').invalid">
                                                                           
                                                                        </span>
                                                                        
                                                                    </div>
                                                                   </div>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input
                                                                        placeholder="Email Address" formControlName="email" 
                                                                        name="email" 
                                                                        type="email"
                                                                        class="form-control" autocomplete="off">
                                                                        <div *ngIf="loginsss.get('email').touched && loginsss.get('email').invalid">
                                                                                <span class="text-danger"  *ngIf="loginsss.get('email').errors.required">
                                                                                        
                                                                                </span>
                                                                                <span class="text-danger"  *ngIf="loginsss.get('email').errors.pattern">
                                                                                            
                                                                                </span>
                                                                        </div>
                                                                </div>
                                                                   </div>
                                                                   <div class="form-group">
                                                                    <div class="form-group">
                                                                        <input 
                                                                        placeholder="Mobile No." formControlName="mobile" 
                                                                        name="mobile" 
                                                                        type="number" 
                                                                        class="form-control" autocomplete="off">
                                                                        <span class="text-danger" *ngIf="loginsss.get('mobile').touched && loginsss.get('mobile').invalid">
                                                                                
                                                                            </span>
                                                                        
                                                                        
                                                                            <input hidden
                                                                            placeholder="Subject" formControlName="subject" 
                                                                            name="subject" 
                                                                            type="text" 
                                                                            class="form-control" autocomplete="off" [(ngModel)]="subject4">
                                                              
                                                                            <input hidden
                                                                            placeholder="Message" formControlName="message" 
                                                                            name="message" 
                                                                            type="text" 
                                                                            class="form-control" autocomplete="off" [(ngModel)]="message4">
                                                                    </div>
                                                                   </div>
                                                                </div>
                                                               <button [disabled]="loginsss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit3()">Submit</button>
                                                              </form> </div>
                                           
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>