<div class="container-fluid bg-green">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="sidenot-2 text-center">
                                <h5>FIEO Registration</h5>
                <p>We can help you obtain FIEO registration easily within just a few clicks of a mouse. Call us for inquiry at 8800107107</p>  
                        </div>
                    </div>
                      <div class="col text-center">
                        <img src="../../assets/images/think_idea.png" alt="">
                    </div>
                    <div class="col">
                        <div class="contatcform">
                                              
            <form method="post" name="frmHeaderSection" action="" novalidate="novalidate">
                 <div class="ui-form-01-wraper">
                        <p class="text-center text-white">Arrange a Call back from business adviser for FIEO registration</p>
                    <div class="form-group">
                        <input type="text" placeholder="Name" name="name" maxlength="50" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email Address" name="email" maxlength="50" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Mobile No" name="number" maxlength="50" class="form-control" formControlName="number">
                    </div>
                </div>
                <button class="btn btn-primary form-control">Submit</button>
            </form>
       
    </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>



<div class="container pb-5">
    <div class="row"><div class="col">
    <h2 class="mt-5 mb-5" style="text-align:center">FIEO MEMBERSHIP BENEFITS</h2>
</div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
    <div class="service-box">
    <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Global Exposure</h5>

        <p>FIEO registration enables exporters&nbsp;to get useful guidance and international exposure from Federation of Indian Export Organisations.</p> </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Guidance via online chat&nbsp;</h5>

        <p>An exporter with an&nbsp;FIEO registration can get&nbsp;necessary guidance via online chat on issues like&nbsp;FTP &amp; corporate laws etc.</p>    </div>
    </div>
    </div>
    
    <div class="col-sm-4">
    <div class="service-box">
        <i class="fa fa-pencil"></i>
    
    <div class="home-service-content">
        <h5>Free Online business</h5>

        <p>E-commerce portal e-bay&nbsp;gives facility to run free online stores to&nbsp;FIEO Members for 6 months &amp; Amazon gives this offer for 3 months.</p>

    </div>
    </div>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Subsidy on air-travel</h5>

            <p>One of the FIEO membership benefits is that the FIEO exporters get significant10% discount on all domestic &amp; international air-tickets.</p>
        </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Easy &amp; Affordable credit rating</h5>

            <p>The Prominent credit rating agency CRISIL gives 10% discount on credibility analysis services for FIEO exporters.</p>
                     </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Export-Promotion Programmes</h5>

            <p>FIEO registration allows the exporters to&nbsp;engage in the Export-Promotion Programmes like seminars, workshops &amp; certification courses.</p>
        </div>
        </div>
        </div>
        </div>
    </div>

    <!-- <div class="container-fluid pt-5 bg-yellow pb-5">
        <div class="row">
        <div class="col">
            <h3><strong>When GST Registration mandatory in India?</strong></h3>


<ul>
    <li><strong>Turnover Criteria:&nbsp;</strong>All taxpayers who have an annual turnover above ₹40 lakhs are required to get new GST registration.</li>
    <li><strong>Causal taxpayer:&nbsp;</strong>If you supply goods or services in events/exhibition where you do not have a permanent place of business, you need to get online GST Registration before starting a business. Such a dealer has to pay GST on the basis of an estimated turnover of 90 days. The validity of causal GST Registration is 90 days.</li>
    <li><strong>NRI taxpayer:&nbsp;</strong>NRI taxpayer, who does not have a place of business in India, wishes to start a business, then he has to apply for GST Registration in India before beginning operations in India. The validity of a new GST registration is 90 days.</li>
    <li><strong>Agents of a supplier &amp; Input service distributor:&nbsp;</strong>All Input service distributor who wants carry-forward benefit of input tax credit requires gst registration.</li>
    <li><strong>Reverse Charge:</strong> A business who requires to pay tax under the reverse charge mechanism need gst registration</li>
    <li><strong>E-Commerce portal:&nbsp;</strong>Every e-commerce portal (such as Amazon or Flipkart) under which multiple vendor’s selling their product requires gst registration.</li>
</ul>
        </div>
        </div>
    </div> -->

    <div class="container-fluid bg-black">
    <div class="container -fluid bg-black pt-5 pb-5">
        <div class="row">
        <div class="col-8">
                <div class="container">
                        <div class="row">
                        <div class="col">
                <h2 class="text-uppercase text-center mt-2 mb-3"><strong>WHAT IS FIEO?</strong></h2>

                <p>The Federation of Indian Export Organisations is an organisation for export promotion in India.  It was jointly instituted in 1965 by the Ministry of Trade & Commerce and private trade & industry.</p>
                
                <p>The FIEO acts as a representative for all the Indian entrepreneurs who are involved in the export-import market. FIEO acts as an apex body on all export promotion organizations in India. It is thus a partner of the Government of India in promoting India's exports. An FIEO registration can deliver significant benefits to an exporter. Among the key FIEO membership benefits are global exposure, thorough guidance on key areas of global trade such as Foreign Trade Policy (FTP) and various concessions to MSMEs.</p>
               </div></div></div>
        </div>
          <div class="col-4">
                <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Email Address" required="" type="email"></div><div class="col pl-0">
                    <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
        </div> 
       
        
                </div>
            </div>
    </div>




            <div class="container-fluid pt-5 pb-5 bg-yellow">
                    <div class="row"><div class="col text-center">   
                            <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                <div class="main width-300"> 
                                <input type="hidden" name="position" value="2">
                                        <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                        <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                        <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                
                              
                            <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                        </div>
                        </form>    
                    </div>
                    </div>
                </div>




                <div class="container-fluid pt-5 pb-5 bg-black"><div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                        <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR FIEO REGISTRATION</strong></h2>
                        
                                </div>
                            </div>
                        
                        
                          <div class="row">
                         <div class="col-sm-3">
                        <div class="document-box text-center"> 
                                 <img class="mt-2 mb-2" src="../../assets/images/investment.png" alt="">
                                 <h5>Total Investment</h5>

                        </div>
                        </div>
                        
                        <div class="col-sm-3">
                        <div class="document-box text-center">
                            <img class="mt-2 mb-2" src="../../assets/images/id-card.png" alt="">
                                <h5>Import Export Code</h5>
                        </div>
                        </div> 
                        
                         <div class="col-sm-3">
                        <div class="document-box text-center">
                            <img class="mt-2 mb-2" src="../../assets/images/gst-certificate.png" alt="">
                        <h5>GST Certificate</h5>
                        </div>
                        </div>
                        
                        <div class="col-sm-3">
                        <div class="document-box text-center">
                                <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                <h5>Description of product</h5>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>










                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                        <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                        <div class="main width-300"> 
                                    <input type="hidden" name="position" value="2">
                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                    
                                  
                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                            </div>
                            </form>    
                        </div>
                        </div>
                    </div>




                    <div class="container mb-5">
                        <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                        <div class="row">
                            
                             <div class="col pr-0">
                                <div class="card basic text-center">
                                <div class="box1 yellow-color">
                                    <h3>Basic</h3>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="box2 mb-5">
                                <h4><i class="fa fa-inr" aria-hidden="true"></i> 4999 <br><small><i>Inclusive all taxes</i></small></h4>
                                <div class="pt-3 pb-3">FIEO Registration&nbsp;<br>[Government fee extra] </div>  <br />
                                <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                            </div>                    
                         </div> 
                             </div>
                            
                            <div class="col pl-0 pr-0 middle-panel card">
                                <div class=" text-center">
                                    <div class="box1">      
                                <h3>GST Cancellation</h3>
                                <p>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                </p></div>
                                <div class="box2">
                                    <h4><i class="fa fa-inr" aria-hidden="true"></i> 7299 <br><small><i>Inclusive all taxes</i></small></h4>    
                                <div class="pt-2"><div> <span>FIEO Registration<br>[Government fee extra]<br><br><div>Import Export Code Certificate</div><div><br></div><div>EXIM eGuide</div></span></div>
                                </div>  
                                           
                                                                    <button class="btn btn-primary mt-5">LET's START</button>
                                </div>   
                                   
                                </div>
                            </div>
                            
                            <div class="col pl-0">
                                <div class="card premium text-center">
                                    <div class="box1 yellow-color">
                                                <h3>Premium</h3>
                                                <p>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                                    </p>
                                    </div>
                                    <div class="box2">
                                           
                                        <div class="pt-3 pb-3">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> 8799 <br><small><i>Inclusive all taxes</i></small></h4>
                                                <div><div><div>FIEO&nbsp;Registration<br>[Government fee extra]<br><br>Import Export Code Certificate</div><div><br></div><div>EXIM eGuide<br><br><div>GST Registration&nbsp;</div><div><br></div><div>GST Starter Guide&nbsp;</div></div> </div><br><br>       
                                                </div>
                                               
                                        </div>  
                                           
                                                                        <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                             
                                    </div>
                
                                  
                                </div>
                            </div>
                                </div>
                           
                                <div class="container-fluid pt-5 pb-5 bg-black">
                                        <div class="row"><div class="col text-center">   
                                                <form method="post" name="frmHeaderSection1" action="" novalidate="novalidate">
                                                        <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                ARRANGE A CALL BACK</strong></h2>
                                                        <div class="main width-300"> 
                                                    <input type="hidden" name="position" value="2">
                                                            <input type="text" placeholder="First Name" name="client_name" maxlength="50" class="form-control"><br>
                                                            <input type="email" placeholder="Email Address" name="client_email_address" maxlength="50" class="form-control"><br>
                                                            <input type="tel" placeholder="Mobile No" name="client_mobile_number" maxlength="50" class="form-control"><br>
                                                    
                                                  
                                                <button type="submit" id="header_contactform1" class="btn btn-default" name="HeaderContactForm" value="Header Contact" style="background:#4c4c4c;color:#fff;width:150px">Submit</button>
                                            </div>
                                            </form>    
                                        </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                        <div class="row">
                                            <div class="col">
                                                <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                            </div>
                                        </div>
                                    </div>