<div class="container-fluid bg-green">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="sidenot-2 text-center">
 
                                     <h5>RERA Registration</h5>
                    <p>We can help you get RERA Registration within a few clicks of a mouse and get assured of fair real estate deals.
                        Call us for inquiry at 8800107107</p>  
                            </div>
                        </div>
                          <div class="col text-center">
                            <img src="../../assets/images/think_idea.png" alt="">
                        </div>
                        <div class="col">
                            <div class="contatcform">
                                                  
                 <p class="text-center text-white">Arrange a Call back from business adviser for RERA Registration</p>
                 <form [formGroup]="login" novalidate class="form">
                    <div class="ui-form-wraper">
                       <p class="text-center text-white">{{title}}</p>
                       <div class="form-group">
                        <div class="form-group">
                            <input
                            placeholder="Name"
                            formControlName="name" 
                            name="name" 
                            type="text" 
                            class="form-control" autocomplete="off">
                            <span class="text-danger" *ngIf="login.get('name').touched && login.get('name').invalid">
                                
                            </span>
                            
                        </div>
                       </div>
                       <div class="form-group">
                        <div class="form-group">
                            <input
                            placeholder="Email Address" formControlName="email" 
                            name="email" 
                            type="email"
                            class="form-control" autocomplete="off">
                            <div *ngIf="login.get('email').touched && login.get('email').invalid">
                                    <span class="text-danger"  *ngIf="login.get('email').errors.required">
                                            
                                    </span>
                                    <span class="text-danger"  *ngIf="login.get('email').errors.pattern">
                                                
                                    </span>
                            </div>
                    </div>
                       </div>
                       <div class="form-group">
                        <div class="form-group">
                            <input 
                            placeholder="Mobile No." formControlName="mobile" 
                            name="mobile" 
                            type="number" 
                            class="form-control" autocomplete="off">
                            <span class="text-danger" *ngIf="login.get('mobile').touched && login.get('mobile').invalid">
                                    
                                </span>
                
                                <input hidden
                                placeholder="Subject" formControlName="subject" 
                                name="subject" 
                                type="text" 
                                class="form-control" autocomplete="off" [(ngModel)]="subject1">
                
                                <input hidden
                                placeholder="Message" formControlName="message" 
                                name="message" 
                                type="text" 
                                class="form-control" autocomplete="off" [(ngModel)]="message1">
                        </div>
                       </div>
                   </div>
                   <button [disabled]="login.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
                </form>
           
        </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>
    </div>
    
    
    
     <div class="container pb-5">
        <div class="row"><div class="col">
        <h2 class="mt-5 mb-5" style="text-align:center">BENEFITS OF RERA REGISTRATION</h2>
    </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="service-box">
        <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Transparency in realty projects</h5>

            <p>The main objective behind the introduction of the RERA Act was to&nbsp;ensure full&nbsp;transparency&nbsp;in the real estate projects.</p> </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Full disclosure of project details&nbsp;</h5>

            <p>Developers having RERA registration has to post all details like project-plan, layout, govt. approvals, etc. which is then passed to buyers.</p>   </div>
        </div>
        </div>
        
        <div class="col-sm-4">
        <div class="service-box">
            <i class="fa fa-pencil"></i>
        
        <div class="home-service-content">
            <h5>Prompt complaint management</h5>

            <p>All complaints or grievances regarding any builder, developer or real estate agents is directly&nbsp;redressed by RERA.</p>
    
        </div>
        </div>
        </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
            <div class="service-box">
            <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                <h5>Wide coverage</h5>

                <p>RERA registration&nbsp;covers all commercial&nbsp;&amp; residential projects. Besides, there is separate&nbsp;RERA registration for agents and builders,</p>
            </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                <h5>Builder's Credibility&nbsp;</h5>

                <p>No doubt, the RERA registration gives assurance of the credibility of the builder. Generally, buyers&nbsp;prefer to deal with the builders who have&nbsp;RERA registration.</p>
                         </div>
            </div>
            </div>
            
            <div class="col-sm-4">
            <div class="service-box">
                <i class="fa fa-pencil"></i>
            
            <div class="home-service-content">
                <h5>Complete information of Builder</h5>

                <p>RERA registration allows the buyers&nbsp;or investors of&nbsp;real estate to&nbsp;be able to get full details related to the builders or developers.</p>
            </div>
            </div>
            </div>
            </div>
        </div> 
    
         <!-- <div class="container-fluid pt-3 bg-yellow0 pb-3">
            <div class="row">
            <div class="col"><div class="container">
                <div class="row">
                    <div class="col text-center list-hover pt-5 pb-5 mb-5">
                            <h3 class="text-center"><strong>WHAT IS GEM REGISTRATION?</strong></h3>
                            <p>The Government e-Marketplace (GeM) is a government-run e-commerce portal. It is a one-stop to facilitate and enable easy online procurement of the Consumer Goods & Services that are needed by various Government Departments, Organizations and PSUs.</p>
                            <p>The government under the Allocation of Business Rules, 1961 had begun the GeM in 2017. The main objective of the GeM is to ensure transparency, efficiency and promptness in the procurement of supplies.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col list-hover pt-3 pb-3">
                        <h3 class="text-center"><strong>What is Public Procurement?</strong></h3>
    
                        <p><span>Government offices, just like private companies, have to buy goods and services for their operational and office needs.</span></p>

                        <p><span>Public procurement (government tenders) refers to the process by which central, state governments and PSUs buy goods and services from the private traders and manufacturers.</span></p>
                        
                        <p><span>Government procurement requires to follow strict procedures in order to ensure that the purchase process is fair, efficient, transparent and minimizes the on-site of public resources.</span></p>
            </div>
            <div class="col pt-3 pb-3 list-hover text-center">
                    <h3 class="text-center"><strong>WHY OPT FOR GEM REGISTRATION?</strong></h3>

                    <p>GeM registration can empower the small traders, manufacturers and service providers to enter the wide and interactive online platform, where they can directly sell their products &amp; services to various buyers from the Government Departments, Organizations and PSUs.</p>
                    
                    <p>Public procurement on the GeM portal ensures transparency, efficiency, and promptness in the procurement and payment of suppliers.</p>
                    
                    <p>It enables the Central, state governments and PSUs to buy the goods and services directly from the private traders and manufacturers instantly and hassle-free.</p>
            </div>
        </div>
        <div class="row">
            <div class="col list-hover mt-5 mb-5 pt-3 pb-3">
                    <h3 class="text-center"><strong>Benefits of Sellers on GeM Registration </strong></h3>

<ul>
	<li>
	<h4>Assistance in trade</h4>

	<p>All Government departments including Central, State Government and PSUs have to fulfill their purchase requirement only through sellers registered under the GeM portal. GeM registration has a great avenue for private companies business growth.</p>
	</li>
	<li>
	<h4>Direct Government Purchase</h4>

	<p>Traders can sell their products of value up to ₹50,000/- at fair prices directly to the government buyers without bidding just like amazon and Flipkart.</p>
	</li>
	<li>
	<h4>Special Benefits for Startups</h4>

	<p>There is an option for GeM registration as a startup on the GeM portal having unique and innovative product. The government has relaxed norms to procure goods from new Startup entrants.</p>
	</li>
	<li>
	<h4>Less paperwork</h4>

	<p>There is minimum paperwork required to obtain GeM registration. Moreover, there is an easy and fair process for tender allotment under the GeM portal.</p>
	</li>
	<li>
	<h4>Transparency</h4>

	<p>With online GeM portal- transparency, effectiveness, and speed have been enhanced during the procurement of required goods and services.</p>
	</li>
</ul>
            </div>
            <div class="col list-hover mt-5 mb-5 pt-3 pb-3">
                    <h3 class="text-center"><strong>Benefits of Government buyers on GeM Registration </strong></h3>

                    <ul>
                        <li>
                        <h4>Buy Online</h4>
                    
                        <p>Under the GeM portal, Government officials can search and procure almost all goods &amp; services on GeM portal and can enjoy flipkart &amp; amazon like online buying experience.</p>
                        </li>
                        <li>
                        <h4>Transparency</h4>
                    
                        <p>On the GeM portal, there is much transparency, effectiveness, and speed in the procurement of supplies which means that there’s fair trade.</p>
                        </li>
                        <li>
                        <h4>Demand aggregation</h4>
                    
                        <p>Demand aggregation feature further helps government departments to explore and compare more buyers for procuring the desired goods based on lowest price and product specification.</p>
                        </li>
                        <li>
                        <h4>Less Approval</h4>
                    
                        <p>With primary and secondary users facility under buyer GeM registration, government officials do not require approval every time placing an order from the GeM portal.</p>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    </div>
            
        </div> 
    </div> -->
    
         <div class="container-fluid bg-black pt-5 pb-5">
            <div class="row">
            <div class="col">
                    <div class="container">
                            <div class="row">
                                    <div class="col">
                                            <h2 class="text-center mt-2 mb-3"><strong>WHAT IS ALL ABOUT RERA REGISTRATION?</strong></h2>
                                           
<p>Real Estate Regulatory Authority (RERA) is an apex regulatory body to control the affairs of Real Estate Industry in India and protect the interests of Real Estate buyers & investors.</p>

<p>The RERA was very recently established on 1st May 2016 after passing of the Real Estate (Regulation and Development) Act, 2016 in the Parliament. the main objective of the RERA Registration is to ensure complete transparency of real estate developers, contractors, builders, agents, brokers & property dealers and to ensure the safety of the investors' funds.</p>
                                            </div>
                                        
                                        
                                        </div>
            </div>
            </div>
               <!-- <div class="col-4">
                    <form action="" class="text-center" method="post" name="frmDownloadFreeGuide" novalidate="novalidate"><i class="icofont icofont-email fa-5x"></i><p class="text-center" style="text-align: center;">Download Free Guide</p><div class="form-group"><div class="container"><div class="row"><div class="col-7"><input class="form-control" formcontrolname="email" name="email" placeholder="Enter Your Email Address" required="" type="email"></div><div class="col pl-0">
                        <button class="form-control btn btn-primary" id="DownloadFreeGuide" name="DownloadFreeGuide" type="submit" value="6">Send</button></div></div></div></div><p class="text-center text-uppercase" style="text-align: center;">you are subscribing to our newsletters</p></form>
            </div>   -->
           
            
                    </div>
                </div> 
                
    
    <!-- <div class="container">
        <div class="row">
            <div class="col"><h2 class="text-center mt-5 mb-2"><b>SCHEMES FOR MSMES HAVING NSIC REGISTRATION:</b></h2></div>
        </div>
        <div class="row">
            <div class="col pt-3 pb-3 mt-5 list-hover">
                    <h2 class="text-uppercase"><b>Single Point Registration Scheme&nbsp;</b></h2>

                    <p>In order to increase government purchases from the small-scale units, the government has launched the Single Point Registration scheme (SPRS). MSMEs can get NSIC registration under this scheme and get exempt from Earnest Money Deposit (EMD) in Government Purchases. EMD is taken from the bidder to assure his sincerity in a bid.</p>
                    
                    <p><strong>Benefits:</strong></p>
                    
                    <ul>
                        <li>Exemption from payment of Earnest Money Deposit (EMD);</li>
                        <li>Issue of the Sets of Tender absolutely free</li>
                        <li>Under this scheme, 358 items are reserved for purchase from Small scale units only.</li>
                        <li>In this scheme, the Government has set an annual target for Union Ministries, Departments, and PSUs to buy a minimum of 25% of the total annual supplies of Goods &amp; services from MSEs only.</li>
                        <li>Out of this 25% procurement from MSEs, 4% of supply is reserved for the units owned by SC/STs. Besides, 3% is reserved for women entrepreneurs.</li>
                        <li>In tender participation, the MSES bidding in the lowest level price band of L1+15% can also supply a portion up to 25% of the total requirement, by reducing the price to L1 Price. Here, L1 purchasers shall be the medium or large units.</li>
                    </ul>
                
                
            </div>
            
            <div class="col pt-3 pb-3 mt-5 list-hover">
                    <h2 class="text-uppercase"><strong>MSME Global Mart</strong></h2>
                   

<p>NSIC has initiated the B2B portal called MSME Global Mart. This is a one-stop for assistance to MSMEs on the business, technology, and finance. The aim of MSME Global Mart is to boost the core competence of Indian MSMEs. The services of this portal are available through Annual Membership.</p>

<p><strong>Membership Benefits:-</strong></p>

<ul>
	<li>Interactive Database of MSMEs</li>
	<li>Global &amp; National Tender Notices</li>
	<li>Self web development tool</li>
	<li>Free mail boxes</li>
	<li>Payment Gateway for membership subscription</li>
	<li>Popular Products Section</li>
	<li>Unlimited global Trade Leads</li>
	<li>Trust Seal of NSIC</li>
	<li>Multiple Language Support</li>
	<li>Other Value added Service</li>
	<li>Centralized mail system</li>
</ul>
                </div>
        </div>
       
        <div class="row">
            <div class="col pt-3 pb-3 mb-5 list-hover">
                <h2 class="text-uppercase"><strong>RMA against Bank Guarantee Scheme</strong></h2>
    
               

<p>Raw Material Assistance (RMA) Scheme provides financial support to MSMEs for the purchase of Raw Material (both indigenous &amp; imported). This gives an opportunity to MSMEs to focus better on manufacturing quality products.</p>

<p><strong>Benefits of this Scheme</strong></p>

<ul>
	<li>Financial Assistance for procurement of Raw Material up to 180 days.</li>
	<li>MSMEs helped to avail the Economics of Purchases like bulk purchase, cash discount, etc.</li>
</ul>

<p><strong>Note:</strong> Security in the form of Bank Guarantee from Approved Banks.</p>
            </div>
            <div class="col pt-3 pb-3 mb-5 list-hover">
                    <h2 class="text-uppercase"><b>Skill Development &amp; Services</b></h2>

                    <p>NSIC provides technical support and skill development training to MSMEs at the 'NSIC Technical Services Centres' (NTSC). Besides, it has a number of Training Incubation Centres (TICs) and Livelihood Business Incubation Centres (LBIs) spread across India.</p>
                    
                    <p><strong>The technical services provided at these centers include:</strong></p>
                    
                    <ul>
                        <li>Skill-development in Hi-Tech and conventional trades,</li>
                        <li>Material and product testing at NABL &amp; BIS accredited laboratories,</li>
                        <li>Energy audit,</li>
                        <li>Environmental management.</li>
                    </ul>
                
                
            </div>
        </div>
       
    </div> -->
    
    <!-- <div class="container-fluid bg-black pt-5 pb-5">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col"><h2 class="text-center mb-3">BROAD CATEGORIES OF ISO CERTIFICATION STANDARDS</h2></div>
                    </div>
                    <div class="row">
                        <div class="col"><p> <b>ISO 9001</b> ensure company product &amp; services meets customer expectations and enhance customer satisfaction.</p></div>
                        <div class="col"><p><b>ISO 14001</b> maps out a framework that an organization can follow to set up an effective environmental management system.</p></div>
                        <div class="col"><p><b>OHSAS 18001</b> allows a company to show their customers that company has effective health and safety management system.</p></div>
                        <div class="col"><p><b>ISO 22000</b> allows a company to show their customers that company has effective food safety management.</p></div>
                    </div>
                    <div class="row">
                            <div class="col"><p><b>ISO 20000</b> allows demonstrating excellence and prove best practice in IT &amp; improvement in the delivery of IT services.</p></div>
                            <div class="col"><p><b>ISO 27001</b> describes a best practice of company who involves in the information security management system (ISMS).</p></div>
                            <div class="col"><p><b>CE Marking</b> on any brand is a manufacturer's affirmation that the product has complied with the necessary requirements of the applicable European health, safety, and environmental protection benchmark.</p></div>
                            <div class="col"><p><b>ISO 50001</b> describes best energy management practices which outline using energy efficiently helps organizations save money as well as helping to conserve resources and tackle climate change.</p></div>
                        </div>
                </div>
            </div>
        </div>
    </div> -->
    
                <div class="container-fluid pt-5 pb-5 bg-yellow">
                        <div class="row"><div class="col text-center">   
                                    <h2 class="mb-5 text-uppercase"><strong>Still confused! <br>Take Free Advisor Consultation</strong></h2>
                                    <div class="main width-300"> 
                                        <form [formGroup]="logins" novalidate class="form">
                                            <div class="ui-form-wraper">
                                               <p class="text-center text-white">{{title}}</p>
                                               <div class="form-group">
                                                <div class="form-group">
                                                    <input
                                                    placeholder="Name"
                                                    formControlName="name" 
                                                    name="name" 
                                                    type="text" 
                                                    class="form-control" autocomplete="off">
                                                    <span class="text-danger" *ngIf="logins.get('name').touched && logins.get('name').invalid">
                                                       
                                                    </span>
                                                    
                                                </div>
                                               </div>
                                               <div class="form-group">
                                                <div class="form-group">
                                                    <input
                                                    placeholder="Email Address" formControlName="email" 
                                                    name="email" 
                                                    type="email"
                                                    class="form-control" autocomplete="off">
                                                    <div *ngIf="logins.get('email').touched && logins.get('email').invalid">
                                                            <span class="text-danger"  *ngIf="logins.get('email').errors.required">
                                                                    
                                                            </span>
                                                            <span class="text-danger"  *ngIf="logins.get('email').errors.pattern">
                                                                        
                                                            </span>
                                                    </div>
                                            </div>
                                               </div>
                                               <div class="form-group">
                                                <div class="form-group">
                                                    <input 
                                                    placeholder="Mobile No." formControlName="mobile" 
                                                    name="mobile" 
                                                    type="number" 
                                                    class="form-control" autocomplete="off">
                                                    <span class="text-danger" *ngIf="logins.get('mobile').touched && logins.get('mobile').invalid">
                                                            
                                                        </span>
                                                    
                                                    
                                                        <input hidden
                                                        placeholder="Subject" formControlName="subject" 
                                                        name="subject" 
                                                        type="text" 
                                                        class="form-control" autocomplete="off" [(ngModel)]="subject2">
                                        
                                                        <input hidden
                                                        placeholder="Message" formControlName="message" 
                                                        name="message" 
                                                        type="text" 
                                                        class="form-control" autocomplete="off" [(ngModel)]="message2">
                                                </div>
                                               </div>
                                            </div>
                                           <button [disabled]="logins.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit1()">Submit</button>
                                        </form>  </div>
                           
                        </div>
                        </div>
                    </div>
    
    
    
    
                    <div class="container-fluid bg-black pt-5 pb-5"><div class="row">
                        <div class="col">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                            <h2 class="mb-5 text-center text-uppercase"><strong>DOCUMENTS REQUIRED FOR RERA REGISTRATION</strong></h2>
                            
                                    </div>
                                </div>
                           
                            
                              <div class="row">
                             <div class="col-sm-3">
                            <div class="document-box text-center"> 
                                     <img class="mt-2 mb-2" src="../../assets/images/id-card.png" alt="">
                                     <h5>Registration Proof of Business</h5>

<p>Certificate of Incorporation or</p>

<p>GST Certificate or</p>

<p>MSME Certificate</p>
                                     
    
                            </div>
                            </div>
                            <div class="col-sm-3">
                                    <div class="document-box text-center"> 
                                             <img class="mt-2 mb-2" src="../../assets/images/formicon.png" alt="">
                                             <h5>Approved layout and Map</h5>
                                                   
                                             
                                    </div>
                                    </div>
                                    <div class="col-sm-3">
                                            <div class="document-box text-center"> 
                                                     <img class="mt-2 mb-2" src="../../assets/images/formicon.png" alt="">
                                                     <h5>Details of Project</h5>

                                                        <p>Project Details</p>
                                                        <p>Promoter Details</p>
                    
                                            </div>
                                            </div>
                            <div class="col-sm-3">
                            <div class="document-box text-center">
                                    <img class="mt-2 mb-2" src="../../assets/images/constitution.png" alt="">
                                    <h5>Last 3 Years Financial Statments</h5>
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
    
    
    
    
    
    
    
                    <div class="container-fluid pt-5 pb-5 bg-yellow">
                            <div class="row"><div class="col text-center">   
                                            <h2 class="text-uppercase"><strong>Inbox Now<br>Complete List of Document required</strong></h2>
                                            <div class="main width-300"> 
                                                <form [formGroup]="loginss" novalidate class="form">
                                                    <div class="ui-form-wraper">
                                                       <p class="text-center text-white">{{title}}</p>
                                                       <div class="form-group">
                                                        <div class="form-group">
                                                            <input
                                                            placeholder="Name"
                                                            formControlName="name" 
                                                            name="name" 
                                                            type="text" 
                                                            class="form-control" autocomplete="off">
                                                            <span class="text-danger" *ngIf="loginss.get('name').touched && loginss.get('name').invalid">
                                                               
                                                            </span>
                                                            
                                                        </div>
                                                       </div>
                                                       <div class="form-group">
                                                        <div class="form-group">
                                                            <input
                                                            placeholder="Email Address" formControlName="email" 
                                                            name="email" 
                                                            type="email"
                                                            class="form-control" autocomplete="off">
                                                            <div *ngIf="loginss.get('email').touched && loginss.get('email').invalid">
                                                                    <span class="text-danger"  *ngIf="loginss.get('email').errors.required">
                                                                            
                                                                    </span>
                                                                    <span class="text-danger"  *ngIf="loginss.get('email').errors.pattern">
                                                                                
                                                                    </span>
                                                            </div>
                                                    </div>
                                                       </div>
                                                       <div class="form-group">
                                                        <div class="form-group">
                                                            <input 
                                                            placeholder="Mobile No." formControlName="mobile" 
                                                            name="mobile" 
                                                            type="number" 
                                                            class="form-control" autocomplete="off">
                                                            <span class="text-danger" *ngIf="loginss.get('mobile').touched && loginss.get('mobile').invalid">
                                                                    
                                                                </span>
                                                            
                                                            
                                                                <input hidden
                                                                placeholder="Subject" formControlName="subject" 
                                                                name="subject" 
                                                                type="text" 
                                                                class="form-control" autocomplete="off" [(ngModel)]="subject3">
                                                
                                                                <input hidden
                                                                placeholder="Message" formControlName="message" 
                                                                name="message" 
                                                                type="text" 
                                                                class="form-control" autocomplete="off" [(ngModel)]="message3">
                                                        </div>
                                                       </div>
                                                    </div>
                                                   <button [disabled]="loginss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit2()">Submit</button>
                                                </form>  </div>
                                
                            </div>
                            </div>
                        </div>
    
    
    
    
                        <div class="container mb-5">
                            <h2 class="custom-text text-center mt-5 mb-5"><span>PACKAGES</span></h2>
                            <div class="row">
                                
                                 <div class="col pr-0">
                                    <div class="card basic text-center">
                                    <div class="box1 yellow-color">
                                        <h3>Noida</h3>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="box2 mb-5">
                                    <!-- <h4><i class="fa fa-inr" aria-hidden="true"></i> 2999 <br><small><i>Inclusive all taxes</i></small></h4> -->
                                    <div class="pt-3 pb-3">RERA Registration in Noida    </div>  <br />
                                    <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                </div>                    
                             </div> 
                                 </div>
                                
                                <div class="col pl-0 pr-0 middle-panel card">
                                    <div class=" text-center">
                                        <div class="box1">      
                                    <h3>Delhi</h3>
                                    <p>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    </p></div>
                                    <div class="box2">
                                        <!-- <h4><i class="fa fa-inr" aria-hidden="true"></i> 4499 <br><small><i>Inclusive all taxes</i></small></h4>     -->
                                    <div class="pt-2"><br>RERA registration in Delhi    <br>   <br> 
                                    </div>  
                                               
                                                                        <button class="btn btn-primary mt-5">LET's START</button>
                                    </div>   
                                       
                                    </div>
                                </div>
                                
                                <div class="col pl-0">
                                    <div class="card premium text-center">
                                        <div class="box1 yellow-color">
                                                    <h3>Mumbai</h3>
                                                    <p>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                                        </p>
                                        </div>
                                        <div class="box2">
                                               
                                            <div class="pt-3 pb-3">
                                                <!-- <h4><i class="fa fa-inr" aria-hidden="true"></i> 5499 <br><small><i>Inclusive all taxes</i></small></h4> -->
                                                    <div><br>RERA registration in Mumbai<br>   <br>          
                                                    </div>
                                                   
                                            </div>  
                                               
                                                                            <button class="btn btn-primary mt-3 mb-3">LET's START</button>
                                    </div>                             
                                        </div>
                    
                                      
                                    </div>
                                </div>
                                    </div>
                               
                                    <div class="container-fluid pt-5 pb-5 bg-black">
                                            <div class="row"><div class="col text-center">   
                                                            <h2 class="text-uppercase"><strong>NOT FOUND ANSWER TO YOUR QUESTION!<br />
                                                                    ARRANGE A CALL BACK</strong></h2>
                                                            <div class="main width-300"> 
                                                                <form [formGroup]="loginsss" novalidate class="form">
                                                                    <div class="ui-form-wraper">
                                                                       <p class="text-center text-white">{{title}}</p>
                                                                       <div class="form-group">
                                                                        <div class="form-group">
                                                                            <input
                                                                            placeholder="Name"
                                                                            formControlName="name" 
                                                                            name="name" 
                                                                            type="text" 
                                                                            class="form-control" autocomplete="off">
                                                                            <span class="text-danger" *ngIf="loginsss.get('name').touched && loginsss.get('name').invalid">
                                                                               
                                                                            </span>
                                                                            
                                                                        </div>
                                                                       </div>
                                                                       <div class="form-group">
                                                                        <div class="form-group">
                                                                            <input
                                                                            placeholder="Email Address" formControlName="email" 
                                                                            name="email" 
                                                                            type="email"
                                                                            class="form-control" autocomplete="off">
                                                                            <div *ngIf="loginsss.get('email').touched && loginsss.get('email').invalid">
                                                                                    <span class="text-danger"  *ngIf="loginsss.get('email').errors.required">
                                                                                            
                                                                                    </span>
                                                                                    <span class="text-danger"  *ngIf="loginsss.get('email').errors.pattern">
                                                                                                
                                                                                    </span>
                                                                            </div>
                                                                    </div>
                                                                       </div>
                                                                       <div class="form-group">
                                                                        <div class="form-group">
                                                                            <input 
                                                                            placeholder="Mobile No." formControlName="mobile" 
                                                                            name="mobile" 
                                                                            type="number" 
                                                                            class="form-control" autocomplete="off">
                                                                            <span class="text-danger" *ngIf="loginsss.get('mobile').touched && loginsss.get('mobile').invalid">
                                                                                    
                                                                                </span>
                                                                            
                                                                            
                                                                                <input hidden
                                                                                placeholder="Subject" formControlName="subject" 
                                                                                name="subject" 
                                                                                type="text" 
                                                                                class="form-control" autocomplete="off" [(ngModel)]="subject4">
                                                                  
                                                                                <input hidden
                                                                                placeholder="Message" formControlName="message" 
                                                                                name="message" 
                                                                                type="text" 
                                                                                class="form-control" autocomplete="off" [(ngModel)]="message4">
                                                                        </div>
                                                                       </div>
                                                                    </div>
                                                                   <button [disabled]="loginsss.invalid" class="btn btn-primary btn-lg btn-block" (click)="onSubmit3()">Submit</button>
                                                                  </form></div>
                                               
                                            </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid text-center bg-yellow pt-3 pb-2">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>FOR ANY ENQUIRY +91-8800107107</h5>
                                                </div>
                                            </div>
                                        </div>