<div class="container-fluid">
    <div class="row">
        <div class="col lesspadding">
            <img style="height: 400px; width: 100%;" src="../../assets/images/slider/offerbanner.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col mt-3 mb-3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="mainbox">
                            <p class="banner text-center">Startup Kickstart Package<br /><span class="arrow"></span></p>
                            <img src="../../assets/images/slider/kickstart.png" alt="">
                            <p><br />GST Registration<br /> + <br />MSME Registration<br /> +<br />Digital Signature<br /><br />
                                </p>
                                <p class="border-top"><i class="fa fa-rupee"></i> 3199 all-inclusive<br /><span class="crossline"><i class="fa fa-rupee"></i>4000</span></p>
                                <a class="btn btn-primary btn-block text-uppercase mb-2 a-letter" routerLink="/susp">View Detail</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mainbox">
                            <p class="banner text-center">Startup Company Package<br /><span class="arrow"></span></p>
                            <img src="../../assets/images/slider/startup.png" alt="">
                            <p><br />Private Limited Company<br /> + <br />GST Registration<br /> +<br />ISO Certification<br /> +<br />Startup India Recognition Certificate<br />
                                </p>
                                <p class="border-top"><i class="fa fa-rupee"></i> 17999 all-inclusive<br /><span class="crossline"><i class="fa fa-rupee"></i>23000</span></p>
                                <a class="btn btn-primary btn-block text-uppercase mb-2 a-letter" routerLink="/scp">View Detail</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mainbox">
                            <p class="banner text-center">Brand Protector Combo<br /><span class="arrow"></span></p>
                            <img src="../../assets/images/slider/brandprotector.png" alt="">
                            <p><br />Trademark<br /> + <br />MSME Registration<br /> +<br />GST Registration<br /> <br />
                                </p>
                                <p class="border-top"><i class="fa fa-rupee"></i> 7999 all-inclusive<br /><span class="crossline"><i class="fa fa-rupee"></i>9500</span></p>
                                <a class="btn btn-primary btn-block text-uppercase mb-2 a-letter" routerLink="/bpc">View Detail</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mainbox">
                            <p class="banner text-center">GST Super Saver Package<br /><span class="arrow"></span></p>
                            <img src="../../assets/images/slider/superkick.png" alt="">
                            <p><br />GST Certificate<br /> + <br />GST Starter Guide<br /> +<br />GST Invoice Guide<br />+<br />GST Return Filing Support<br />+<br />GST Due dates advance reminders & updates subscription for 1 Year<br />+<br />GST Pro Support<br />+<br />E-Way Bill Guide
                                </p>
                                <p class="border-top"><i class="fa fa-rupee"></i> 3499 all-inclusive<br /><span class="crossline"><i class="fa fa-rupee"></i>5500</span></p>
                                <a class="btn btn-primary btn-block text-uppercase mb-2 a-letter" routerLink="/gssp">View Detail</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mainbox">
                            <p class="banner text-center">GST Return Annual Package<br /><span class="arrow"></span></p>
                            <img src="../../assets/images/slider/saving.png" alt="">
                            <p><br />GSTR 1<br /> + <br />GSTR 3B<br /> <br />
                                </p>
                                <p class="border-top"><i class="fa fa-rupee"></i> 9999  all-inclusive<br /><span class="crossline"><i class="fa fa-rupee"></i>15000</span></p>
                                <a class="btn btn-primary btn-block text-uppercase mb-2 a-letter" routerLink="/grap">View Detail</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mainbox">
                            <p class="banner text-center">ISO Super Saver Bonanza<br /><span class="arrow"></span></p>
                            <img src="../../assets/images/slider/branding.png" alt="">
                            <p><br />ISO Certification with 7 days Ad promotion <br />
                                </p>
                                <p class="border-top"><i class="fa fa-rupee"></i> 6999 all-inclusive<br /><span class="crossline"><i class="fa fa-rupee"></i>8999</span></p>
                                <a class="btn btn-primary btn-block text-uppercase mb-2 a-letter" routerLink="/issb">View Detail</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mainbox">
                            <p class="banner text-center">Food Startup Package<br /><span class="arrow"></span></p>
                            <img src="../../assets/images/slider/fssai.png" alt="">
                            <p><br />FSSAI Registration<br /> + <br />ISO 22000 Certification<br />
                                </p>
                                <p class="border-top"><i class="fa fa-rupee"></i> 9999 all-inclusive<br /><span class="crossline"><i class="fa fa-rupee"></i>12999</span></p>
                                <a class="btn btn-primary btn-block text-uppercase mb-2 a-letter" routerLink="/fsb">View Detail</a>
                        </div>
                    </div>
                    <div class="col">
                        <!-- <div class="mainbox">
                            <p class="banner text-center">GST Return Annual Package<br /><span class="arrow"></span></p>
                            <img src="../../assets/images/banner.jpg" alt="">
                            <p><br />GSTR 1<br /> + <br />GSTR 3B<br /> <br />
                                </p>
                                <p class="border-top"><i class="fa fa-rupee"></i> 9999  all-inclusive<br /><span class="crossline"><i class="fa fa-rupee"></i>15000</span></p>
                                <a class="btn btn-primary btn-block text-uppercase mb-2 a-letter" routerLink="">View Detail</a>
                        </div> -->
                    </div>
                    <div class="col">
                        <!-- <div class="mainbox">
                            <p class="banner text-center">ISO Super Saver Bonanza<br /><span class="arrow"></span></p>
                            <img src="../../assets/images/banner.jpg" alt="">
                            <p><br />ISO Certification with 7 days Ad promotion <br />
                                </p>
                                <p class="border-top"><i class="fa fa-rupee"></i> 6999 all-inclusive<br /><span class="crossline"><i class="fa fa-rupee"></i>8999</span></p>
                                <a class="btn btn-primary btn-block text-uppercase mb-2 a-letter" routerLink="">View Detail</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>